.debugHeader td{padding:0!important}
.debugHeader table{border-collapse:collapse}
.debugHeader table td{padding:2px 6px!important;font-size:90%;box-shadow:none}
.debugHeader table td:first-child{width:1%;min-width:200px;white-space:nowrap;text-align:right;vertical-align:top;font-weight:600}
.debugHeader table td:last-child{word-break:break-all;text-align:left}
