/* I2P+ Susmail shared styles by dr|z3d */

body.modal{position:relative;overflow:hidden}
html:not(.iframed) body.modal{height:calc(100vh - 14px)}
body.modal::before{display:block;position:fixed;top:0;left:0;bottom:0;right:0;z-index:10;background:#000;content:""}
#overlay{display:none;position:absolute;top:5px;left:5px;bottom:0;right:5px;z-index:9999;border-image:repeating-linear-gradient(135deg,#a00,#a00 20px,#ff0 20px,#ff0 40px,#a00 40px) 5 repeat repeat;border-image-width:5px;border-image-outset:1px;box-shadow:0 0 0 2px #f00,0 0 0 5px #f00 inset;background:#200}
.modal #overlay{display:block;opacity:1}
.modal #nukemail,.iframed .modal #nukemail.modal #nukemail.floating,.iframed .modal #nukemail.floating{z-index:99999}
.debugHeader td{padding:0!important}
.debugHeader table{border-collapse:collapse}
.debugHeader table td{padding:2px 6px!important;font-size:90%;box-shadow:none}
.debugHeader table td:first-child{width:1%;min-width:200px;white-space:nowrap;text-align:right;vertical-align:top;font-weight:600}
.debugHeader table td:last-child{word-break:break-all;text-align:left;font-weight:500}