input[type=checkbox], input[type=checkbox]:checked, input[type=checkbox][disabled], input[type=checkbox][disabled]:checked,
input[type=radio], input[type=radio]:checked, input[type=radio][disabled], input[type=radio][disabled]:checked {
  position: relative;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid var(--border);
  background: var(--bg);
  -moz-appearance: none;
  -webkit-appearance: inherit;
  filter: drop-shadow(0 0 1px var(--bg3));
  will-change: transform;
}

input[type=checkbox], input[type=checkbox]:checked, input[type=checkbox][disabled], input[type=checkbox][disabled]:checked {
  border-radius: 1px;
  box-shadow: inset 1px 1px 1px rgba(204, 204, 204, .6);
}

input[type=radio], input[type=radio]:checked, input[type=radio][disabled], input[type=radio][disabled]:checked {
  border-radius: 50%;
}

input[type=checkbox]:checked::before, input[type=radio]:checked::before,
input[type=checkbox]:not(:checked)::before, input[type=radio]:not(:checked)::before {
  position: absolute;
  transition: linear all .05s;
  transform: scale(1);
}

.optbox:not(:checked):not(:hover) {
  box-shadow: var(--shadow_inset);
}

input[type=checkbox]:checked::before,
input[type=radio]:checked::before {
  line-height: .8;
  background: #67f;
  content: "";
}

input[type=checkbox]:checked:hover::before,
input[type=radio]:checked:hover::before,
input[type=checkbox]:checked:focus::before,
input[type=radio]:checked:focus::before {
  background: var(--hover);
}

input[type=checkbox]:checked::before {
  width: 11px;
  height: 11px;
  top: 3px;
  left: 3px;
  border-radius: 1px;
  transform: scale(1);
}

input[type=radio]:checked::before {
  width: 9px;
  height: 9px;
  left: 25%;
  top: 25%;
  border-radius: 50%;
}

input[type=checkbox]:not(:checked)::before, input[type=radio]:not(:checked)::before {
  color: transparent;
  background: transparent;
  transform: scale(0);
}

input[type=checkbox]:hover, input[type=radio]:hover, input[type=checkbox]:focus, input[type=radio]:focus {
  border: 1px solid var(--active) !important;
  background: var(--bg);
}

input[type=checkbox][disabled], input[type=radio][disabled], input[type=checkbox][disabled]:hover, input[type=radio][disabled]:hover,
input[type=checkbox][disabled]:checked, input[type=radio][disabled]:checked, input[type=checkbox][disabled]:checked:hover, input[type=radio][disabled]:checked:hover,
label:hover > .optbox[disabled] {
  border: 1px solid var(--border) !important;
  opacity: .5;
  pointer-events: none;
}