input[type=checkbox], input[type=checkbox]:checked, input[type=checkbox][disabled], input[type=checkbox][disabled]:checked {
  width: 19px !important;
  height: 19px !important;
  border-radius: 1px;
}

input[type=radio], input[type=radio]:checked, input[type=radio][disabled], input[type=radio][disabled]:checked {
  width: 19px !important;
  height: 19px !important;
  border-radius: 50%;
}

input[type=checkbox]:checked::before, input[type=radio]:checked::before {
  position: absolute;
  background: linear-gradient(135deg, #6389cf, #3c6bc3);
  box-shadow: inset 1px 1px 1px 1px #6389cf, inset -1px -1px 1px 1px #3c6bc3;
  content: "";
}

input[type=checkbox]:checked::before {
  top: 3px;
  left: 3px;
  width: 11px;
  height: 11px;
  line-height: 80%;
  border-radius: 1px;
}

input[type=radio]:checked::before {
  left: 4px;
  top: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 1px #6389cf, inset -1px -1px 1px 1px #3c6bc3, 0 0 0 1px #7698d5;
}

input[type=checkbox]:not(:checked) {
  box-shadow: inset 0 0 0 1px #f8f8ff, inset 3px 3px 3px #aad;
}

input[type=radio]:not(:checked) {
  box-shadow: inset 0 0 0 2px #f8f8ff, inset 3px 3px 3px #aad;
}

.optbox {
  margin: 2px 0;
  position: relative;
  vertical-align: middle !important;
  border: 1px solid #97a2ce !important;
  background: #f8f8ff !important;
  box-sizing: border-box;
  appearance: none;
  filter: drop-shadow(0 0 1px #e0e0eb) !important;
}

.optbox:checked {
  box-shadow: inset 0 0 0 1px #fff;
  background: linear-gradient(180deg,#fff, #f0f0ff) !important;
}

.optbox:hover, .optbox:focus, .optbox:active,
.optbox:checked:hover, .optbox:checked:focus, .optbox:checked:active {
  width: 19px !important;
  height: 19px !important;
  min-width: 19px !important;
  min-height: 19px !important;
  border: 1px solid #484e6a !important;
  box-shadow: 0 0 2px #f60 !important;
}

.optbox:not(:checked)::before {
  position: absolute;
  top: 25%;
  left: 4px;
  color: transparent;
  background: transparent;
  content: "";
}

input[type=radio]:not(:checked)::before {
  border-radius: 50%;
}