/* I2P+ Router Console: proxy error theme: Light */
/* Author: dr|z3d */

@import url(/themes/fonts/DroidSans.css);
@import url(../images/itooplus.css);

:root {
  --bodyfont: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Lucida Grande, Verdana, Helvetica, sans-serif;
  --monospaced: Droid Sans Mono, Noto Mono, DejaVu Sans Mono, Lucida Console, monospace;
  --err: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3ClinearGradient id='A' gradientUnits='userSpaceOnUse' x1='35.555' x2='35.555' y1='32.852' y2='19.692'%3E%3Cstop offset='0' stop-color='%23d40000'/%3E%3Cstop offset='1' stop-color='%23f55'/%3E%3C/linearGradient%3E%3Cpath d='M13.649 34.595l1.859 1.39 1.744.951 14.734-25.472 14.721 25.469 1.737-.947 1.865-1.396L34.353 6.986c-.488-.844-1.39-1.365-2.366-1.365s-1.878.52-2.366 1.364zm0 0L2.303 54.21c-.488.844-.489 1.883-.001 2.727a2.73 2.73 0 0 0 2.364 1.364h54.618a2.73 2.73 0 0 0 2.365-1.364c.488-.844.488-1.884 0-2.728L50.309 34.59l-1.865 1.396-1.737.947 9.875 17.084H7.371l9.881-17.08-1.744-.951-1.859-1.39z' stroke='%23000' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M32.013 5.653c-.975 0-1.877.52-2.365 1.364L2.341 54.251a2.73 2.73 0 0 0 2.362 4.092h54.593c2.101 0 3.415-2.274 2.364-4.093L34.377 7.019c-.487-.844-1.388-1.365-2.364-1.366z' fill='url(%23A)'/%3E%3Cpath d='M32.01 11.758l24.585 42.559H7.405L32.01 11.758z' fill='%23fff' stroke='red' stroke-linejoin='round'/%3E%3Cpath d='M29.233 23.607h5.533V39.76h-5.533zm0 20.452h5.533v6.158h-5.533z'/%3E%3C/svg%3E");
  --err: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3ClinearGradient id='A' gradientUnits='userSpaceOnUse' x1='35.555' x2='35.555' y1='32.852' y2='19.692'%3E%3Cstop offset='0' stop-color='%23d40000'/%3E%3Cstop offset='1' stop-color='%23f55'/%3E%3C/linearGradient%3E%3Cpath d='M13.649 34.595l1.859 1.39 1.744.951 14.734-25.472 14.721 25.469 1.737-.947 1.865-1.396L34.353 6.986c-.488-.844-1.39-1.365-2.366-1.365s-1.878.52-2.366 1.364zm0 0L2.303 54.21c-.488.844-.489 1.883-.001 2.727a2.73 2.73 0 0 0 2.364 1.364h54.618a2.73 2.73 0 0 0 2.365-1.364c.488-.844.488-1.884 0-2.728L50.309 34.59l-1.865 1.396-1.737.947 9.875 17.084H7.371l9.881-17.08-1.744-.951-1.859-1.39z' stroke='%23000' stroke-width='4' stroke-linejoin='round'/%3E%3Cpath d='M32.013 5.653c-.975 0-1.877.52-2.365 1.364L2.341 54.251a2.73 2.73 0 0 0 2.362 4.092h54.593c2.101 0 3.415-2.274 2.364-4.093L34.377 7.019c-.487-.844-1.388-1.365-2.364-1.366z' fill='url(%23A)'/%3E%3Cpath d='M32.01 11.758l24.585 42.559H7.405L32.01 11.758z' fill='%23fff' stroke='red' stroke-linejoin='round'/%3E%3Cpath d='M29.233 23.607h5.533V39.76h-5.533zm0 20.452h5.533v6.158h-5.533z'/%3E%3C/svg%3E");
}

html, body {
  min-height: 100%;
}

html {
  margin: 0;
}

body {
  margin: 6px;
  text-align: center;
  color: #4f4f63;
  font-size: 10pt;
  line-height: 130%;
  background: #a4a4cb url(images/tile2.png) fixed;
  background-size: 32px;
}

body::before {
  width: 0;
  height: 3px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg,rgba(255,255,255,.1) 50%, rgba(0,0,0,.3) 50%), linear-gradient(90deg, #d30, #f60);
  opacity: .7;
  content: "";
}

@keyframes loader {
  from {width: 0}
  99% {width: 100%}
  100% {width: 0}
}

body, input, button, select, table {
  font-family: var(--bodyfont);
}

tt, code, pre, textarea {
  font-family: var(--monospaced);
}

* {
  outline: none;
  text-rendering: optimizeLegibility;
}

a:link {
  word-wrap: break-word;
  font-weight: 700;
  text-decoration: none;
  color: #3b6bbf;
  outline: none;
}

a:visited {
  color: #2c4e8f;
}

a:hover, a:focus {
  color: #f60;
}

a:active {
  color: #f30;
}

img {
  border: none;
  font-size: 0;
}

a img {
  filter: drop-shadow(0 0 1px rgba(220,220,255,.7));
}

a:hover img {
  filter: drop-shadow(0 0 1px #f60);
}

h3 {
  text-transform: uppercase;
  letter-spacing: .1em;
  background: linear-gradient(180deg,#fff 50%, rgba(255,255,255,.6) 50%, rgba(240,240,255,.4)), linear-gradient(90deg, #fafaff 5%, rgba(231, 231, 255, .8) 25%);
}

.logo {
  margin: 0 10px;
  padding: 10px 0;
  width: 205px;
  float: left;
  text-align: center;
  border: 1px solid #7b7b9d;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #dbdbe1;
  background: #f8f8ff;
}

.iframed .logo {
  display: none;
}

.logo img {
  margin: 0;
  width: 188px;
}

.proxyfooter {
  display: none;
}

hr {
  margin: 10px 0;
  height: 1px;
  color: #b6b6c9;
  border: 0 solid #b6b6c9;
  background: #b6b6c9;
}

.logo hr {
  margin: 8px 0;
}

.logo a {
  width: 100%;
  display: inline-block;
}

.logo hr ~ a {
  margin: 4px 0;
}

.warning {
  margin: 16px 12px 30px 232px;
  padding: 40px 35px 30px 110px;
  min-width: 370px;
  word-wrap: break-word;
  text-align: justify;
  color: #4f4f63;
  border: 1px solid #7b7b9d;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 0 #d00;
  background: var(--itooplus) no-repeat scroll 10px center, linear-gradient(180deg,rgba(248,248,255,.8), rgba(240,240,255,.8)), #f8f8ff;
  background-size: 70px auto, 100%;
  background-position: 21px calc(50% + 16px);
}

.iframed #warning {
  margin: 28px 10px 0;
}

#proxyerror .warning {
  margin-left: 12px;
  background: var(--err) no-repeat 25px calc(50% + 10px) / 40px, linear-gradient(180deg,rgba(255,255,255,.8), rgba(255,255,255,.3)) #f8f8ff;
}

#proxyerror p {
  padding-left: 15px;
  padding-right: 25px;
}

#proxyerror p:first-of-type {
  padding-top: 5px;
}

.warning h3 {
  margin: -29px -29px 25px -24px;
  padding: 10px 10px 8px;
  text-align: left;
  font-size: 115%;
  border: none;
  border-bottom: 1px solid #7b7b9d;
  border-radius: 2px 2px 0 0;
}

#warning_localhost {
  margin: 20px;
  background-position: 20px calc(50% + 16px);
}

#warning_localhost p {
  padding: 20px 10px 15px;
  font-weight: 700;
}

#jumplinks {
  margin-top: -15px;
}

#jumplinks h3 {
  margin: 0 0 10px;
}

#jumplinks a {
  display: inline-block;
  padding: 2px 0;
  line-height: 16px;
}

#jumplinks a::before {
  content: "\279F\00A0";
  font-size: 16pt;
  display: inline-block;
  padding: 3px 0;
  vertical-align: sub;
  line-height: 16px;
}

.proxyfooter {
  display: none;
}

#proxyNewAddressHelper .warning {
    padding-bottom: 5px;
}

#b64, #key {
  white-space: pre-wrap;
  word-break: break-all;
  font-family: var(--monospaced);
  font-size: 90%;
  user-select: all;
}

#key {
  margin: 20px 0 25px;
  padding: 10px 14px;
  border: 1px solid #7b7b9d;
  background: #ffe;
}

#proxyNewHost {
    margin-bottom: 20px;
}

#proxyNewHost td {
    padding: 8px;
    font-size: 9.5pt;
}

#proxyNewHost tr:last-child td:first-child {
    vertical-align: top;
}

#proxyNewHost + hr {
    display: none;
}

#proxyNewHost a {
    display: inline-block;
    word-break: break-all;
}

#proxyNewHost td:first-child {
    font-weight: 700;
}

#proxyNewHost tr:last-child td:first-child {
    vertical-align: top;
}

.warning h4 {
    box-shadow: none;
    text-align: left;
    font-size: 10pt;
    margin-top: 20px;
    text-transform: none;
    letter-spacing: 0;
    word-spacing: 0;
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #7b7b9d;
    padding-left: 0;
    margin-bottom: -5px;
}

#jumplinks h4 {
    margin-bottom: 10px;
    border-color: #b6b6c9;
    color: #5b5b71;
    padding-bottom: 10px;
}

.warning p + .formaction {
    margin: -5px -3px 10px 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
}

@media screen and (max-width: 800px) {
  .warning {
    margin: 120px 5px 0;
    padding: 35px 30px 20px;
    background-image: none;
  }

  @supports (background-blend-mode: overlay) {
    .warning {
      font-size: 95%;
      background-image: var(--itooplus);
      background-size: auto 90%;
      background-position: right 5px bottom;
      background-blend-mode: overlay;
    }
  }

  #proxyerror .warning {
    margin-top: 16px;
  }

  #proxyerror p {
    padding-left: 65px;
    padding-right: 20px;
  }

  .warning h3 {
    margin: -34px -29px 20px;
    font-size: 10pt;
  }

  .logo {
    position: absolute;
    top: 0;
    width: calc(100% - 24px);
    min-width: 430px;
    margin: 12px 5px 0;
  }

  .logo a:link:not(img) {
    margin: 0 5px;
    width: auto;
    display: inline-block;
  }
}

@media screen and (min-width: 800px) {
  .warning h3 {
    margin: -39px -34px 30px -109px;
  }
}

@media screen and (min-width: 1400px) {
  #jumplinks h4 {
    font-size: 10.5pt;
  }
}

@media screen and (min-height: 700px) {
  .warning {
    margin-bottom: 30px;
  }
}