root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4

[{*.bat,**/*.bat,installer/resources/console/proxy/*.ht}]
end_of_line = crlf

[**/*.css]
indent_size = 2

[{docs/history.txt}]
indent_size = 3

[core/java/src/gnu/**/*.java]
indent_size = 2

[core/java/src/gnu/getopt/*.properties]
charset = iso-8859-1

[apps/routerconsole/jsp/{createreseed.jsp,exportfamily.jsp,flags.jsp,index.jsp,viewhistory.jsp,viewrouterlog.jsp,viewstat.jsp,viewtheme.jsp,viewwrapperlog.jsp}]
insert_final_newline = false
