default:
  artifacts:
    name: "$CI_PROJECT_NAME Bundle $CI_COMMIT_SHORT_SHA $CI_JOB_NAME"
    paths:
      - i2pinstall.exe
      - i2pupdate.zip
      - i2pupdate200.zip
      - install.jar
      - i2psnark-standalone.zip
      - javadoc.zip
      - i2p.tar.bz2
    expire_in: 1 month

stages:
  - build
  - test

before_script:
  # install dependencies to build EXEs and packages
  - apt-get update -yqq
  - apt-get install -yqq libc6-i386 ant gettext zip apt-utils swapspace zram-config git

Java11:
  stage: build
  only:
    - master
  image: ubuntu:kinetic
  # allow failure so commits work when CI minutes exhausted
  allow_failure: true
  script:
    - java -version
    - ant installer
    - ant updaterCompactWithDocs
    - ant updater200CompactWithDocs
    - ant i2psnark
#    - ant tarball

#testing:
#  stage: test
#  only:
#    - master
#  image: ubuntu:kinetic
#  # allow failure so commits work when CI minutes exhausted
#  allow_failure: true
#  script:
#    - apt-get install -yqq libxml2-utils
#    - ./tests/scripts/checkcerts.sh
#    - ./tests/scripts/checkpo.sh
#    - ./tests/scripts/checkscripts.sh
#    - ./tests/scripts/checkutf8.sh
#    - ./tests/scripts/checkxml.sh

#findbugs:
#  stage: test
#  image: openjdk:8
#  only:
#    - master
#    - schedules
#  allow_failure: true
#  script:
#    - apt-get install -yqq findbugs
#    - ant findbugs
#  artifacts:
#    expose_as: findbugs
#    paths: ['findbugs.html']
#    expire_in: 1 month

Java20:
  stage: build
  only:
    - schedules
  image: ubuntu:kinetic
  # currently not well supported, needs some code fixes
  # remove this line once code is fixed
  allow_failure: true
  script:
    - apt-get install -yqq openjdk-20-jdk-headless
    - java -version
    - ant javadoc-zip
