default:
  artifacts:
    name: "$CI_PROJECT_NAME Bundle $CI_COMMIT_SHORT_SHA $CI_JOB_NAME"
    paths:
      - i2pinstall.exe
      - i2pupdate.zip
      - i2pupdate200.zip
      - install.jar
      - i2psnark-standalone.zip
      - javadoc.zip
      - i2p.tar.bz2
    expire_in: 2 weeks

stages:
  - build
  - test

before_script:
  # install dependencies to build EXEs and packages
  - apt-get update -yqq
  - apt-get install -yqq libc6-i386 ant gettext zip
  - java -version

Java8:
  stage: build
  image: openjdk:8
  script:
#    - ./installer/resources/makegeoip.sh
    - ant pkg
    - ant tarball
#    - ant updater200WithJettyAndGeoIP
#    - ant updaterWithJetty
    - ant updaterCompact
    - ant i2psnark
    - ant javadoc-zip

Java11:
  stage: build
  image: openjdk:11
  script:
#    - ./installer/resources/makegeoip.sh
    - ant pkg

Java17:
  stage: build
  image: ubuntu@sha256:bace9fb0d5923a675c894d5c815da75ffe35e24970166a48a4460a48ae6e0d19
  # currently not well supported, needs some code fixes
  # remove this line once code is fixed
  allow_failure: true
  script:
    - apt-get install openjdk-17-jdk -y
#    - ./installer/resources/makegeoip.sh
#    - ant pkg // izpack fail
    - ant updater

testing:
  stage: test
  image: openjdk:8
  script:
    - apt-get install -yqq libxml2-utils
    - ./tests/scripts/checkcerts.sh
    - ./tests/scripts/checkpo.sh
    - ./tests/scripts/checkscripts.sh
    - ./tests/scripts/checkutf8.sh
    - ./tests/scripts/checkxml.sh

findbugs:
  stage: test
  image: openjdk:8
  only:
    - schedules
  script:
    - apt-get install -yqq findbugs
    - ant findbugs
  artifacts:
    expose_as: findbugs
    paths: ['findbugs.html']
    expire_in: 1 month

Java18:
  stage: build
  image: ubuntu@sha256:bace9fb0d5923a675c894d5c815da75ffe35e24970166a48a4460a48ae6e0d19
  # currently not well supported, needs some code fixes
  # remove this line once code is fixed
  allow_failure: true
  script:
    - apt-get install openjdk-18-jdk -y
#    - ./installer/resources/makegeoip.sh
#    - ant pkg // izpack fail
    - ant updater

testing:
  stage: test
  image: openjdk:8
  script:
    - apt-get install -yqq libxml2-utils
    - ./tests/scripts/checkcerts.sh
    - ./tests/scripts/checkpo.sh
    - ./tests/scripts/checkscripts.sh
    - ./tests/scripts/checkutf8.sh
    - ./tests/scripts/checkxml.sh

findbugs:
  stage: test
  image: openjdk:8
  only:
    - schedules
  script:
    - apt-get install -yqq findbugs
    - ant findbugs
  artifacts:
    expose_as: findbugs
    paths: ['findbugs.html']
    expire_in: 1 month

