.configOption input[type=checkbox], #commentsToggle input[type=checkbox],
.configOption input[type=checkbox]:hover, #commentsToggle input[type=checkbox]:hover,
.configOption input[type=checkbox]:focus, #commentsToggle input[type=checkbox]:focus {
  width: 40px !important;
  height: 21px !important;
  border-radius: 1px;
  position: relative;
  border: 1px solid #242;
  box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px rgba(0,0,0,.5);
  background: linear-gradient(180deg,#010,#020);
  outline: none;
  transition: ease-in left .15s;
  appearance: none;
}

.configOption input[type=checkbox]:not(:checked), #commentsToggle input[type=checkbox]:not(:checked) {
  background: linear-gradient(180deg,#600,#800) !important;
}

.configOption input[type=checkbox]:not(:checked):active, #commentsToggle input[type=checkbox]:not(:checked):active {
  background: linear-gradient(180deg,#060,#080) !important;
}

.configOption input[type=checkbox]:checked:active, #commentsToggle input[type=checkbox]:checked:active {
  background: linear-gradient(180deg,#800,#a00) !important;
}

.configOption input[type=checkbox]:hover, .configOption input[type=checkbox]:focus,
#commentsToggle input[type=checkbox]:hover, #commentsToggle input[type=checkbox]:focus  {
  box-shadow: 0 0 0 1px #000, 0 0 0 2px rgba(255,96,0,.7), inset 0 0 0 1px #000, inset 3px 3px 3px rgba(0,0,0,.2);
}

.configOption input[type=checkbox]::before,
.configOption input[type=checkbox]:hover::before,
.configOption input[type=checkbox]:focus::before,
.configOption input[type=checkbox]:active::before,
#commentsToggle input[type=checkbox]::before,
#commentsToggle input[type=checkbox]:hover::before,
#commentsToggle input[type=checkbox]:focus::before,
#commentsToggle input[type=checkbox]:active::before,
.configOption input[type=checkbox]:active:not(:checked)::before {
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1px;
  border-radius: 1px;
  box-shadow: inset 0 0 0 1px #373, inset 0 0 0 2px #000, 0 2px 5px rgba(0,0,0,.2);
  background: linear-gradient(180deg,#373,#252);
  content: "";
  transform: scale(.85) !important;
  transition: ease-in left .15s;
  opacity: 1 !important;
}

.configOption input[type=checkbox]:not(:checked)::before,
.configOption input[type=checkbox]:active:checked::before {
  box-shadow: inset 0 0 0 1px #900, inset 0 0 0 2px #000, 0 2px 5px rgba(0,0,0,.2);
  background: linear-gradient(180deg,#700,#500);
}

.configOption input[type=checkbox]:checked::before, #commentsToggle input[type=checkbox]:checked::before {
  left: 18px;
}

.configOption input[type=checkbox]:disabled, .configOption input[type=checkbox]:disabled + label {
  opacity: .45 !important;
  pointer-events: none;
}