#screenlog.collapsed {
  height: 56px !important;
  min-height: 56px !important;
  background-size: 80px auto, calc(100% - 80px) calc(100% - 4px), 100% 100%, 100% 100% !important;
  background-position: right -4px bottom -10px, left bottom 2px, center center, center top !important;
}

#shrink {
  display: none !important;
}

#expand {
  display: inline-block !important;
}

@media screen and (min-width: 1500px) {
  #screenlog.collapsed {
    height: 60px !important;
    min-height: 60px !important;
  }
}