body {
  background: #3c3cba;
  color: #66667f;
  font-size: 18px;
}
.login-container {
  background: linear-gradient(180deg,#f4f4ff,#eef);
  box-shadow: 0 0 0 1px #bbc, 0 0 0 2px #99a, 0 0 0 3px #223, 0 4px 20px #0002;
  transform-origin: center center;
  transform: scale(.85);
}
.login-container h1 {
  color: #0000;
  display: inline-block;
  width: calc(100% + 40px);
  height: 70px;
  margin: -6px -20px 20px;
  background: url(logo.svg) no-repeat center center / contain;
}
.form-group label {
  color: #66667f;
  font-weight: 700;
}
.form-group input {
  width: 100%;
  padding: 6px 8px;
  box-sizing: border-box;
  background: linear-gradient(180deg,#f2f2ff,#fff);
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.15);
  border: 1px solid #b6b6c9;
  border-radius: 2px;
  color: #5b5b71;
  transition: ease all .1s;
}
.form-group input:focus {
  color: #393947;
  box-shadow: 0 0 0 1px #f60 inset,0 0 0 2px #fff inset,3px 3px 3px #0006 inset;
  border: 1px solid #a7a7be;
  background: #fff;
  transition: ease border .15s;
  outline: none;
}
.form-group select {
  width: 100%;
  padding: 6px 24px 6px 8px;
  min-width: 120px;
  font-weight: 700;
  border: 1px solid #b6b6c9;
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba(255,255,255,.85) inset,0 0 10px rgba(0,0,0,.08) inset,0 1px 1px rgba(0,0,0,.05),0 7px 4px -4px rgba(0,0,0,.08);
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%2366667f' d='M5 8L1 4h8z'/%3E%3C/svg%3E") no-repeat right 8px center/10px, linear-gradient(180deg,#fff,#efefff);
  color: #66667f;
  appearance: none;
  cursor: pointer;
  box-sizing: border-box;
}
.form-group select:hover, .form-group select:focus, .form-group select:active {
  color: #444455;
  border: 1px solid #868bac;
}
.form-group select:hover, .form-group select:active {
  box-shadow: inset 0 0 0 1px #fff,0 2px 1px #ddf;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23444455' d='M5 8L1 4h8z'/%3E%3C/svg%3E") no-repeat right 8px center/10px, linear-gradient(180deg,#eee,#fff);
}
.form-group select:focus {
  box-shadow: 0 0 1px #f60;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath fill='%23444455' d='M5 8L1 4h8z'/%3E%3C/svg%3E") no-repeat right 8px center/10px, linear-gradient(180deg,#eee,#fff);
  outline: none;
}
.form-group select option {
  background: #fff;
  color: #5b5b71;
}
.error, .notice {
  background: #fee;
  color: #c00;
  border: 1px solid #fcc;
}
.notice a, .notice a:hover {
  color: #c00;
}
button:not(.dropbtn) {
  margin: 8px 0 3px;
  padding: 8px;
  display: inline-block;
  line-height: 1.4;
  vertical-align: middle;
  font-size: 105%;
  font-weight: bold;
  color: #66667f;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255,255,255,.75);
  border: 1px solid #b6b6c9;
  border-radius: 2px;
  box-shadow: 0 2px 0 rgba(255,255,255,.85) inset,0 0 10px rgba(0,0,0,.08) inset,0 1px 1px rgba(0,0,0,.05),0 7px 4px -4px rgba(0,0,0,.08);
  background: linear-gradient(180deg,#fff,#efefff);
  background-size: 14px,100%;
  filter: drop-shadow(0 0 1px rgba(220,220,255,.7));
  cursor: pointer;
}
button:not(.dropbtn):hover, button:not(.dropbtn):focus {
  color: #444455;
  border: 1px solid #f60;
  box-shadow: inset 0 0 0 1px #fff,inset 0 -8px 3px 8px rgba(255,96,0,.02),inset 0 0 10px rgba(255,96,0,.05),0 0 1px rgba(255,96,0,.1),0 7px 4px -4px rgba(0,0,0,.1);
  background: linear-gradient(180deg,#eee,#fff);
  filter: saturate(100%) drop-shadow(0 0 1px rgba(204,204,204,.8));
  transition: ease border .7s;
}
button:not(.dropbtn):active {
  color: #4c526f;
  box-shadow: inset 0 0 0 1px #fff,inset 2px 2px 3px 1px rgba(0,0,0,.35);
  background-blend-mode: luminosity;
  transition: none;
}
button.dropbtn {
  border-left: 1px solid #bbe;
}
button.dropbtn:hover {
  background: none;
}
button.dropbtn img, .dropdown-content img {
  filter: drop-shadow(0 0 1px #0006);
}
#langselect button.dropbtn img,
#langselect .dropdown-content img {
  border-radius: 2px;
}
.dropdown-content {
  background: #eef;
}
#topbar {
  background: linear-gradient(180deg,#f4f4ff,#eef);
  border-color: #bbe;
}