/* Susimail Mobile Theme Override "Classic" */

body {margin: -1px 0 0}
form {margin-bottom: 5px}
.page {min-width: 560px; padding: 0 5px 12px; border-radius: 0; border-left: 1px solid transparent; border-right: 1px solid transparent}
.notifications {margin: -1px 5px}
.topbuttons {margin: -1px -6px; border-left: none; border-right: none}
.header, .footer {display: none}
p.error, p.info {border-left: none; border-right: none}
#dologin {width: 500px; margin: 22px auto 10px}
#dologin h1 {display: block}
#prefsave {margin: 10px -6px -17px; border-left: none; border-right: none}
#mailbox td:nth-child(6), #mailbox th:nth-child(6), #mailbox td:nth-child(8), #mailbox th:nth-child(8) {display: none}
#newmail input[type=text], #composemail textarea {width: 100%; min-width: 360px}