@media screen and (max-width: 1499px) {
  h3[id*="jobs"]:first-of-type {
    margin-top: 21px !important;
  }

  #pluginconfig {
    margin-top: -13px !important;
  }

  h4.app a::after {
    margin-top: -3px;
  }

  h4.app2 a::after {
    margin-top: -1px;
  }

  #netdboverview th[colspan="3"] {
    font-size: 11pt !important;
  }

  #profilelist th {
    white-space: normal;
  }

  #profiles #banlist {
    padding: 5px 9px !important;
  }

  div.app img, .sitemapLink img {
    height: 24px;
    max-height: 24px;
    max-width: 24px;
  }

  .appimg {
    padding: 2px 0 0;
  }

  .applabel {
    width: 116px !important;
  }

  .applabel a {
    max-width: 112px;
  }

  #profiles #bannedpeercount {
    margin: 15px 8px 0;
  }

  #sb_general td::after, #sb_shortgeneral td::after, #sb_advancedgeneral td::after, #sb_bandwidth td::after,
  #sb_peers td::after, #sb_peersadvanced td::after, #sb_tunnels td::after, #sb_queue td::after {
    min-height: 12px;
  }

  #banlist + h3 {
    margin-bottom: -2px !important;
  }

  div.app img {
    padding: 10px 40px 40px;
  }

  .applabel {
    margin-top: 8px;
  }

  .main#help h3, #faq h3 {
    font-size: 10.5pt !important;
  }

  #pluginconfigtext input {
   margin: -5px -6px 0 0;
  }

  .netdbStats li {
    margin: 1px 5px !important;
  }

  .longstat.fam {
    margin: 2px 5px -5px !important;
  }

  .netdb_header img[src="/flags.jsp?c=a0"] {
    margin-bottom: -4px !important;
  }

  #sb_internals {
    border-spacing: 0;
  }

  #sb_internals td {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  h1[class], h1 {
    padding: 13px 15px 12px 50px;
    min-width: 620px;
    font-size: 17pt;
    background-size: 32px, 100%, 100%, 164px !important;
    background-position: 10px center;
  }

  .sitemapLink, .sitemapLabel, #sitemap div.app, #sitemap .applabel {
    width: 160px !important;
    min-width: 160px !important;
  }

  .en .sitemapLink, .en .sitemapLabel, .en #sitemap div.app, .en #sitemap .applabel, .en #sitemap .app table {
    width: 120px !important;
    min-width: 120px !important;
  }

  #sitemap div.app img {
    padding-left: 62px !important;
    padding-right: 62px !important
  }

  .en #sitemap div.app img {
    padding-left: 35px !important;
    padding-right: 35px !important
  }

  #clock {
    padding-top: 9px;
    font-size: 16pt;
  }
}