@media screen and (max-width: 1240px) {
  #peers .confignav, #tunnels .confignav {
    margin: -6px -6px 5px;
  }

  #tunnels .tab, #tunnels .tab2 {
    margin-top: 5px !important;
  }

  #peers th, #peers .tablefooter td {
    font-size: 85%;
  }

  #peers #ntcpconnections th:nth-last-child(2), #peers #ntcpconnections th:nth-last-child(3) {
    font-size: 0 !important;
  }

  #peers #ntcpconnections th:nth-last-child(2)::after, #peers #ntcpconnections th:nth-last-child(3)::after {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: var(--net_clockskew) center center no-repeat;
    background-size: 16px;
    content: "";
  }

  #peers #ntcpconnections th:nth-last-child(3)::after {
    background: url(/themes/console/images/info/queued.png) center center no-repeat;
  }

  #peers #ntcpconnections th:nth-last-child(4) {
    padding-left: 0;
    padding-right: 0;
    max-width: 22px;
    overflow: hidden;
  }

  #peers .ipv6, #peers .rto, #peers .mtu, #peers .sst, #peers .cwnd, #peers .rtt {
    display: none;
  }

  .main#peers h3#udpcon {
    margin-top: -5px !important;
  }

  .main#peers #ntcpcon + .widescroll, .main#peers #udpcon + .widescroll {
    margin-bottom: -5px;
  }

  .main#peers .confignav + h3#udpcon {
    margin-top: 0 !important;
  }

  .main#profiles, .main#peers {
    padding: 5px 5px 0;
  }
  #profiles .confignav {
    margin: -6px -6px 5px;
  }
  p#upnpstatus, .main#peers .infohelp {
    margin: 0;
  }
  #upnpscan {
    margin-bottom: 5px;
  }
  .main#peers h3, #profiles h3, .main#peers .infohelp {
    margin-top: 5px !important;
  }
  p#profiles_overview {
    margin: 5px 0 -5px;
  }

  #peer_thresholds {
    top: 10px !important;
  }

  #profiles #thresholds + h3 {
    margin-top: -5px !important;
  }

  #profilelist {
    margin-top: -5px;
  }

  #profilelist th, #profilelist td:nth-child(4), #profilelist td:nth-child(5) {
    font-size: 85%;
  }

  #profilelist td:last-child img {
    margin: 4px !important;
  }

  #profilelist td:nth-child(2), #profilelist td:nth-child(3) {
    padding-left: 3px;
    padding-right: 3px;
  }

  #profilelist td:nth-child(5) {
    white-space: normal;
  }

  #profiles #ff {
    margin: -18px -6px -9px;
  }
}