@media screen and (max-width: 1599px) {
  #reseedproxytype {
    columns: 250px 3;
  }

  #reseed_urlselection.optionsingle {
    columns: 1 auto;
  }
}

@media screen and (max-width: 1499px) {
  h3[id*="jobs"]:first-of-type {
    margin-top: 21px !important;
  }

  #pluginconfig {
    margin-top: -13px !important;
  }

  h4.app a::after {
    margin-top: -3px;
  }

  h4.app2 a::after {
    margin-top: -1px;
  }

  #sitemapcontainer {
    padding: 0;
  }

  #netdboverview th[colspan="3"] {
    font-size: 11pt !important;
  }

  #profilelist th {
    white-space: normal;
  }

  #profiles #banlist {
    padding: 5px 9px !important;
  }

  div.app img, .sitemapLink img {
    height: 24px;
    max-height: 24px;
    max-width: 24px;
  }

  .appimg {
    padding: 2px 0 0;
  }

  .applabel {
    width: 116px !important;
  }

  .applabel a {
    max-width: 112px;
  }

  #profiles #bannedpeercount {
    margin: 15px 8px 0;
  }

  #sb_general td::after, #sb_shortgeneral td::after, #sb_advancedgeneral td::after, #sb_bandwidth td::after,
  #sb_peers td::after, #sb_peersadvanced td::after, #sb_tunnels td::after, #sb_queue td::after {
    min-height: 12px;
  }

  #banlist + h3 {
    margin-bottom: -2px !important;
  }

  div.app img {
    padding: 10px 40px 40px;
  }

  .applabel {
    margin-top: 8px;
  }

  .main#help h3, #faq h3 {
    font-size: 10.5pt !important;
  }

  #pluginconfigtext input {
   margin: -5px -6px 0 0;
  }

  .netdbStats li {
    margin: 1px 5px !important;
  }

  .longstat.fam {
    margin: 2px 5px -5px !important;
  }

  .netdb_header img[src="/flags.jsp?c=a0"] {
    margin-bottom: -4px !important;
  }

  #sb_internals {
    border-spacing: 0;
  }

  #sb_internals td {
    padding-top: 2px;
    padding-bottom: 2px;
  }

  h1[class], h1, h1.conf.adv {
    padding: 13px 15px 12px 50px;
    min-width: 620px;
    font-size: 17pt;
    background-size: 32px, 4px 100%, 100%, 164px !important;
    background-position: 10px center;
  }

  .sitemapLink, .sitemapLabel, #sitemap div.app, #sitemap .applabel {
    width: 160px !important;
    min-width: 160px !important;
  }

  .en .sitemapLink, .en .sitemapLabel, .en #sitemap div.app, .en #sitemap .applabel, .en #sitemap .app table {
    width: 120px !important;
    min-width: 120px !important;
  }

  #sitemap div.app img {
    padding-left: 62px !important;
    padding-right: 62px !important
  }

  .en #sitemap div.app img {
    padding-left: 35px !important;
    padding-right: 35px !important
  }

  #clock {
    padding-top: 9px;
    font-size: 16pt;
  }
}

@media screen and (max-width: 1480px) {
  #view_profile .identicon {
    top: 0;
    right: 0;
  }
}

@supports (columns: 2 500px) {
  @media screen and (max-width: 1399px) {
    ul.statlist {
      padding: 10px;
      columns: auto 520px;
      column-gap: 10px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1399px) {
  .revision, .sha256 {
    display: inline-block;
    max-width: 100px !important;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .revision:hover, .sha256:hover {
    overflow: auto;
    text-overflow: clip;
  }

  #peers .cells, #peers .cells[class] {
    min-width: 0 !important
  }
}

@media screen and (min-width: 1280px) {
  .formaction#submitconsolepass {
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 1240px) {
  #peers .confignav, #tunnels .confignav {
    margin: -6px -6px 5px;
  }

  #tunnels .tab, #tunnels .tab2 {
    margin-top: 5px !important;
  }

  #peers th, #peers .tablefooter td {
    font-size: 85%;
  }

  #peers #ntcpconnections th:nth-last-child(2), #peers #ntcpconnections th:nth-last-child(3) {
    font-size: 0 !important;
  }

  #peers #ntcpconnections th:nth-last-child(2)::after, #peers #ntcpconnections th:nth-last-child(3)::after {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: var(--net_clockskew) no-repeat center center;
    background-size: 16px;
    content: "";
  }

  #peers #ntcpconnections th:nth-last-child(3)::after {
    background: url(/themes/console/images/info/queued.png) no-repeat center center;
  }

  #peers #ntcpconnections th:nth-last-child(4) {
    padding-left: 0;
    padding-right: 0;
    max-width: 22px;
    overflow: hidden;
  }

  #peers .ipv6, #peers .rto, #peers .mtu, #peers .sst, #peers .cwnd, #peers .rtt {
    display: none;
  }

  .main#peers h3#udpcon {
    margin-top: -5px !important;
  }

  .main#peers #ntcpcon + .widescroll, .main#peers #udpcon + .widescroll {
    margin-bottom: -5px;
  }

  .main#peers .confignav + h3#udpcon {
    margin-top: 0 !important;
  }

  .main#profiles, .main#peers {
    padding: 5px 5px 0;
  }
  #profiles .confignav {
    margin: -6px -6px 5px;
  }
  p#upnpstatus, .main#peers .infohelp {
    margin: 0;
  }
  #upnpscan {
    margin-bottom: 5px;
  }
  .main#peers h3, #profiles h3, .main#peers .infohelp {
    margin-top: 5px !important;
  }
  p#profiles_overview {
    margin: 5px 0 -5px;
  }

  #peer_thresholds {
    top: 10px !important;
  }

  #profiles #thresholds + h3 {
    margin-top: -5px !important;
  }

  #profilelist {
    margin-top: -5px;
  }

  #profilelist th, #profilelist td:nth-child(4), #profilelist td:nth-child(5) {
    font-size: 85%;
  }

  #profilelist td:last-child img {
    margin: 4px !important;
  }

  #profilelist td:nth-child(2), #profilelist td:nth-child(3) {
    padding-left: 3px;
    padding-right: 3px;
  }

  #profilelist td:nth-child(5) {
    white-space: normal;
  }

  #profiles #ff {
    margin: -18px -6px -9px;
  }
}

@media screen and (max-width: 1220px) {
  .main#peers .widescroll td.cells {
    font-size: 8pt !important;
  }

  .main#help h3, #faq h3 {
    font-size: 10pt !important;
  }
}

@media screen and (max-width: 1199px) {
  .tab, .tab2 {
    min-width: 48px !important;
  }

  .tab a {
    padding: 4px 9px !important;
  }

  #participatingtunnels .statusnotes:last-of-type {
    margin-bottom: 6px;
  }

  #tunnels .tunneldisplay .cells {
    padding-left: 2px;
    padding-right: 2px;
  }

  #tunnels .tunneldisplay .cells .tunnel_id {
    display: none;
  }

  #tunnels .tunneldisplay .cells .tunnel_peer.tunnel_local {
    padding: 4px !important;
  }

  #tunnels_part td {
    white-space: nowrap !important;
  }

  #tunnel_defs {
    margin-bottom: 5px;
  }

  #tunnels .tunnel_cap {
    margin: 0;
    padding: 3px 2px 2px;
    line-height: 120%;
  }

  .tunnel_local {
    width: 64px;
    line-height: 108%;
    box-sizing: border-box;
  }

  #tunnels .routerid, .tunnel_local {
    margin-right: 0 !important;
  }

  #peers .idle, #peers .inout {
    min-width: 104px;
  }
  #peers .skew {
    display: none;
  }

  .tab, .tab2 {
    padding: 1px 0;
    min-width: 50px !important;
  }

  .tab2 {
    padding: 3px 12px;
  }

  .tab a {
    padding: 2px 14px;
  }

  #plugininstall input[type=text] {
    min-width: 200px !important;
  }

  #i2pupdates td:first-child {
    white-space: normal;
    width: 30%;
  }

  td.optionsave {
    white-space: normal;
  }

  .main#tunnels {
    padding: 0 5px;
    min-width: 640px;
  }

  .main#tunnels h3 {
    margin-top: 6px;
  }

  #tunnels #participating a::after, #tunnels #peercount a::after {
    width: 16px;
    height: 16px;
    background-size: 16px !important;
  }

  .statusnotes:last-child {
    margin-bottom: 6px;;
  }

  #portfaq td:nth-child(2) {
    white-space: normal;
  }

  #faq h3 {
    font-size: 10pt !important;
  }

  #udpconnections .cells {
    border: 1px inset #131;
  }

  #netconfig label, #externali2cp td label, #externali2cp .optionlist .nowrap, #reseedconfig .nowrap {
    width: calc(100% - 10px);
  }

  #tunnels .cells:first-child {
    width: 1% !important;
    max-width: 48px !important;
    min-width: 48px !important;
  }

  #tunnels .cells:nth-child(2), #tunnels .cells:nth-child(3), .tunnels_participating td:nth-child(4) {
    width: 1% !important;
    min-width: 72px !important;
  }

  #floodfills th:nth-child(8), #floodfills td:nth-child(8),
  #floodfills th:nth-child(13), #floodfills td:nth-child(13),
  #floodfills th:nth-child(14), #floodfills td:nth-child(14) {
    display: none;
  }

  #tunnels #peercount img {
    margin: -2px -4px;
  }

  #tunnelPeerCount {
    margin-bottom: 4px;
  }

  #tunnels .percentBarOuter, #tunnels .percentBarText {
    margin: 0 2px;
    width: 70px;
  }

  #profilelist .fast, #profilelist .highcap, #profilelist .integrated, #profilelist .standard,
  #profilelist .fast.integrated, #profilelist .highcap.integrated, #profilelist .standard.integrated {
    width: 50px;
    height: 14px;
    background-size: 14px;
  }
  #profilelist .fast, #profilelist .highcap.integrated, #profilelist .standard.integrated {
    background-position: calc(50% - 8px) center, calc(50% + 8px) center !important;
    background-size: 14px;
  }
  .profilegroup::before {
    width: 18px;
    height: 14px;
  }
  #profilelist td:nth-last-child(2) span, #profilelist td:nth-last-child(3) span, #profilelist td:nth-last-child(5) span {
    text-align: center !important;
  }
}

@media screen and (max-width: 1150px) {
  h4 .unbold {
    max-width: 150px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h4 span[style="float: right;"] .unbold {
    max-width: 300px;
  }
}

@media screen and (max-width: 1100px) {
  .tunnel_id, .tunnel_peer {
    margin: 1px 2px;
    min-width: 0 !important;
    text-align: center !important;
  }

  .tunnel_local {
    margin-left: 2px;
    padding: 4px;
    min-width: 76px !important;
  }

  .tunnel_peer:empty {
    vertical-align: middle;
  }

  .tunnel_peer:empty::before {
    margin: 1px 6px 1px 2px;
  }

  #floodfills, #profiles ul#banlist, #profile_defs {
    margin-bottom: 5px !important;
  }

  #floodfills td {
    font-size: 8pt;
  }

  #graphs td:first-child {
    padding: 5px 0;
  }
}

@media screen and (max-width: 1000px) {
  #tunnels .tunneldisplay td:nth-child(n+2) span, #tunnels .tunneldisplay .cells tt {
    margin: 1px !important;
    padding: 0 !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 120% !important;
    border: none !important;
    box-shadow: none !important;
    background: none !important;
  }

  #tunnels .tunneldisplay .cells span.inbound, #tunnels .tunneldisplay .cells span.outbound {
    margin: 1px !important;
    padding: 0 !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 120% !important;
  }

  span.inbound, span.outbound {
    background-size: 12px !important;
  }

  #tunnels .tunneldisplay .cells .tunnel_cap {
    min-width: 14px;
    text-align: center;
  }

  #tunnels .tunneldisplay .cells .routerid, #tunnels .tunneldisplay .cells .tunnel_peer.tunnel_local {
    width: 74px;
    box-sizing: border-box !important;
  }

  #netdblookup input[type=text] {
    min-width: 0 !important;
  }

  #netdblookup td:nth-child(even) {
    width: auto;
  }

  table:not(:first-of-type).netdbentry th:first-child, table:not(:first-of-type).netdbentry td:first-child {
    padding: 0 !important;
    font-size: 0;
  }

  table:not(:first-of-type).netdbentry tr:nth-child(2) td:nth-child(2)::before {
    display: inline;
    font-weight: 700;
    content: "Published: ";
  }

  table:not(:first-of-type).netdbentry th:first-child, table:not(:first-of-type).netdbentry td:first-child, #netdb table:not(:first-of-type).netdbentry td:first-child b {
    width: 0;
    min-width: 0 !important;
    max-width: 0 !important;
  }

  #jardump th:nth-child(3), #jardump th:nth-child(4), #jardump th:nth-child(5), #jardump th:nth-child(6),
  #jardump td:nth-child(3), #jardump td:nth-child(4), #jardump td:nth-child(5), #jardump td:nth-child(6) {
    display: none;
  }

  #bandwidthconfig .bw_out, #bandwidthconfig .bw_in, #bandwidthconfig .bw_share {
    padding-left: 5px;
    padding-right: 8px;
    background: #002500 !important;
  }

  #bandwidthconfig td:not(.infohelp):first-child {
    padding-right: 0;
    background: none;
  }

  #bandwidthconfig .infohelp {
    padding-right: 10px !important;
  }

  .net_datausage {
    padding: 4px 0;
    min-width: 260px;
    white-space: normal;
  }

  .bw_title {
    margin: 2px -6px -2px -3px;
    font-size: 10pt;
  }

  #updateHelper select {
    max-width: 200px !important;
  }

  #reseedconfig tr:nth-child(3) td label {
    padding: 5px 4px 5px 0 !important;
    width: calc(100% - 4px) !important;
  }

  .encDests code {
    max-width: 140px;
  }
}

@media screen and (max-width: 900px) {
  #ntcpconnections th:last-child:not(old) {
    font-size: 0;
  }

  #ntcpconnections th:last-child::before {
    content: url(/themes/console/images/info/backlogged.png) !important;
  }

  #ntcpconnections td:last-child {
    width: 24px !important;
    white-space: nowrap;
  }

  th {
    font-size: 8pt;
  }

  .tunneldisplay .cells {
    padding: 4px 2px !important;
  }

  .langbox {
    line-height: 15px;
  }
}
