@supports (columns: 2 500px) {
  @media screen and (min-width: 1400px) {
    ul.statlist {
      padding: 10px;
      columns: auto 540px;
      column-gap: 10px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1400px) {
  #profiles #banlist {
    margin: 3px -5px 0;
    padding: 10px 5px;
    border: none;
  }

  .main#help #changelog pre:not(old) {
    margin-left: 0;
    padding-left: 10px;
    width: calc(100% - 22px) !important;
    overflow-y: hidden;
    font-size: 9.5pt !important;
    columns: 510px auto;
    column-gap: 30px;
    column-rule: 1px dotted #131;
  }

  #help .confignav, #debug .confignav {
    position: sticky;
    top: 0;
  }

  .statsName {
    border: 1px solid #131;
  }

  #stats .joblog {
    margin-bottom: -10px !important;
  }
}