@media screen and (min-width: 1200px) {
  .tab2 {
    margin-bottom: -1px;
    padding: 5px 12px 6px !important;
  }

  #jobstats tr:nth-last-child(n+2) td:first-child {
    padding-left: 28px !important;
    background: var(--yes) no-repeat 8px center;
    background-size: 12px;
  }

  #terms {
    padding: 5px 0 15px;
    columns: 2 auto;
    column-gap: 35px;
    column-rule: 1px solid #020;
  }

  #terms p {
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
  }

  #terms p:first-child {
    margin-top: 0;
  }

  .ls_crypto {
    display: inline-block;
    columns: 340px 4;
  }
}

@supports (columns: 2 500px) {
  @media screen and (min-width: 1400px) {
    ul.statlist {
      padding: 10px;
      columns: auto 540px;
      column-gap: 10px;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1400px) {
  #profiles #banlist {
    margin: 3px -5px 0;
    padding: 10px 5px;
    border: none;
  }

  .main#help #changelog pre:not(old) {
    margin-left: 0;
    padding-left: 10px;
    width: calc(100% - 22px) !important;
    overflow-y: hidden;
    font-size: 9.5pt !important;
    columns: 510px auto;
    column-gap: 30px;
    column-rule: 1px dotted #131;
  }

  #help .confignav, #debug .confignav {
    position: sticky;
    top: 0;
  }

  .statsName {
    border: 1px solid #131;
  }

  #stats .joblog {
    margin-bottom: -10px !important;
  }
}

@media screen and (min-width: 1500px) {
  input[type=submit], input[type=reset], select, button, .sb_notice {
    font-size: 9pt;
  }

  .sb_newsheadings {
    width: 200px !important;
  }

  .sb_newsheadings table {
    width: 254px !important;
  }

  #sb_memoryBar .percentBarText {
    margin-top: -2px;
  }

  .sb_info.sb_update .percentBarOuter {
    margin-bottom: -5px !important;
  }

  .sb_info .percentBarText {
    margin-top: -1px;
  }

  .sb_info.sb_update {
    padding: 7px 5px 9px !important;
  }

  .percentBarouter {
    width: 251px !important;
  }

  #stacktrace p:first-of-type::first-line {
    font-size: 110%;
    font-weight: 700;
    font-variant: super;
    text-decoration: underline;
  }

  .warning h3 {
    font-size: 11.5pt;
  }

  #warning2.sorry {
    margin: -17px 5px 18px 272px !important;
  }

  #error500 #warning2.sorry {
    margin-top: -1px !important;
  }

  #warning2 p {
    font-size: 10pt;
  }

  #graphdisplay {
    margin-top: 5px !important;
  }

  span#newtab {
    margin-top: 4px;
  }

  h4.app, h4.app2 {
    padding: 9px 10px 8px 35px !important;
    font-size: 12pt !important;
  }

  select {
    padding: 8px 24px 8px 8px !important;
  }

  .search select {
    padding: 8px 24px 8px 8px !important;
  }

  input[type=text], input[type=password] {
    padding: 7px 9px;
  }

  #consolepass input[name="nofilter_pw"], #consolepass input[name="name"], #externali2cp input[name="nofilter_pw"],
  #consolepass input[name="nofilter_pw"]:focus, #consolepass input[name="name"]:focus, #externali2cp input[name="nofilter_pw"]:focus {
    padding: 7px 9px 7px 25px !important;
    background-position: 6px center !important;
  }

  input[type=submit], input[type=reset], button {
    padding: 8px 12px !important;
  }

  input[type=file]::file-selector-button {
    padding: 8px 12px !important;
  }

  #loggingoptions input[type=text], #loggingoptions select {
    min-width: 240px !important;
  }

  .log_debug, .log_info, .log_warn, .log_error, .log_crit, .log_omitted {
    margin-bottom: -3px;
    min-width: 40px;
    max-width: 40px;
  }

  #servicelogs pre, #logs li {
    font-size: 9pt !important;
  }

  #banlist li, #banlist li:first-child {
    min-height: 52px !important;
  }

  input.search, input.search:focus {
    padding: 6px 8px 6px 28px;
  }

  .search td {
    padding: 6px 6px 6px 5px !important;
  }

  .search td:nth-child(2) {
    padding: 5px 8px 5px 8px !important;
  }

  .search td:last-child {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .addtobook a::after {
    margin: -8px -6px -8px 0;
    padding-left: 0;
    padding-left: 8px;
    width: 24px;
    height: 30px;
    background-size: 16px;
  }

    h3#iptransport a::after, h3#advancedconfig a::after, #reseedsetup a::after {
    margin: 0 0 -2px -4px;
    width: 20px;
    height: 20px;
    background-size: 20px !important;
  }

    h3#iptransport a:hover::after, h3#advancedconfig a:hover::after, #reseedsetup a:hover::after {
    background-size: 20px !important;
  }

    h3#advancedconfig a::after {
    margin: -1px -6px -2px -5px;
  }

  .h3navlinks a {
    padding: 10px 10px 10px 17px;
  }

  .h3navlinks a:first-child, #config_service .h3navlinks a:last-child {
    margin-right: 0;
  }

  .h3navlinks a:last-child {
    margin-right: -2px;
  }

    h3#advancedconfig a {
    padding-right: 10px;
  }

    h3#i2pclientconfig {
    margin-bottom: -15px !important;
  }

  .sb_netstatus, .tunnelBuildStatus {
    padding: 9px 3px !important;
  }

  .sb_netstatus::before, .tunnelBuildStatus::before {
    margin-top: -2px !important;
  }

  #peers .cells:nth-child(n+2) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tunnel_peer img, .routerid img {
    margin-bottom: -1px;
  }

  .tunnel_local {
    font-size: 9pt !important;
  }

  .tunnel_cap {
    padding: 2px 2px 1px !important;
    min-width: 18px;
  }

  .tunnel_id {
    min-width: 82px;
  }

  .tunnel_local {
    font-size: 8.5pt;
  }

  .routersummary td, .routersummary a, .routersummary button, .routersummary h4, .routersummary h4 a,
  #floodfill th, #jardump td, .smallhead th, .leaseset a[href$=".i2p"], .leaseset th code, .footnote, .topness {
    font-size: 9pt !important;
  }

  #newsDisplay a, pre, #logs li, #updateAvailable, code, tt {
    font-size: 9.5pt !important;
  }

  body, .main, .main td, .news p, #news p, textarea, .main textarea, code, tt, #changelog pre, th code,
  ul.statlist a[name], ul.statlist b, ul.statlist li b, ul.statlist a[name]:hover, .confignav, th, #configinfo th,
  .main button, .main input, select, textarea, div.news, .routersummary button {
    font-size: 10pt !important;
  }

  input[type=file]::file-selector-button {
    font-size: 10pt !important;
  }

  #news .newsentry p, .subheading b, .main[id^="config_"] th, h4#updateplugins {
    font-size: 10.5pt !important;
  }

  #sidebarconf th:nth-child(1), .homelinkedit th:first-child, #consolepass th:first-child {
    font-size: 0 !important;
  }

  h3, .routersummary h3 a, th.th_title, #leasesetdebug th, #leasesetsummary th, .netdbentry th,
  #help, #help li, #help p, #help code, #help td, #help th {
    font-size: 11pt !important;
  }

  #help h3, #sybilTask th {
    font-size: 12pt !important;
  }

  #help h2 {
    font-size: 14pt !important;
  }

  .cells tt, #profilelist tt, #floodfills tt {
    margin-left: 2px !important;
    margin-right: 2px !important;
    letter-spacing: .07em;
    font-size: 9pt !important;
  }

  button.control {
    font-size: 0 !important;
  }

  .main, .news, h1, .sorry {
    margin-left: 272px !important;
  }

  .routersummary {
    width: 240px !important;
  }

  .routersummary table[id^="sb_"] {
    width: 256px !important;
  }

  #sb_localtunnels a {
    max-width: 200px;
  }

  .sb_update {
    padding-bottom: 3px !important;
  }

  .routersummary button.download {
    width: 248px;
  }

  .sb_info .percentBarOuter {
    margin-bottom: -16px !important;
  }

  .appimg {
    padding: 5px 0 8px;
    height: 35px;
  }

  div.app img {
    margin-top: -8px !important;
    padding: 10px 53px 38px !important;
  }

  .applabel {
    padding: 4px 2px !important;
    width: 140px !important;
  }

  .applabel a {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 9pt !important;
  }

  .leaseset th {
    font-size: 9.5pt !important;
    line-height: 1 !important;
  }

  #floodfills th:first-child, #floodfills td:first-child {
    padding-right: 3px !important;
    width: 58px;
  }

  select {
    padding: 6px 16px 6px 2px;
    min-height: 28px;
  }

  h4#updateplugins {
    margin-top: -15px !important;
  }

  .joblog h3 {
    margin-top: 7px !important;
    padding-top: 7px !important;
  }

  #certs.main p + p:empty + h4 {
    margin-top: -15px !important;
  }

  .routersummary button.reload, .routersummary button.stop {
    min-width: 120px;
  }

  p#fullhistory {
    margin-top: -13px;
    text-align: right;
  }

  .routersummary div[style="height: 36px;"] {
    height: 44px !important;
  }

  .routersummary img[src$="i2plogo.png"] {
    margin-top: -3px;
    margin-left: -4px;
    width: 248px !important;
    transform: none;
  }

  #error500 .routersummary img[src$="i2plogo.png"] {
    margin-bottom: -5px;
  }

  .routersummary h3::after {
    min-height: 20px;
  }

  #sb_services a:link, #sb_internals a:link, #sb_advanced a:link, #sb_help a:link {
    max-width: 216px !important;
  }

  #banlist + h3.tabletitle {
    margin-bottom: -2px !important;
  }

  #permabanned {
    margin-top: -3px;
  }

  #udpconnections td[class="cells"]:first-child, #ntcpconnections td[class="cells"]:first-child {
    padding-right: 8px;
    width: 55px;
  }

  h1[class], h1, h1.conf.adv {
    padding: 14px 15px 13px 62px;
    font-size: 20pt !important;
    background-size: 40px, 4px 100%, 100%, 164px !important;
    background-position: 12px center;
  }

  .main#jobs h2 {
    margin-bottom: 3px !important;
  }

  .langbox {
    margin: 4px 4px 2px 5px;
    line-height: 17px !important;
  }

  .langbox img {
    margin-bottom: -1px;
  }

  #help .confignav {
    padding: 0 !important;
    position: sticky;
    top: 0;
    z-index: 999;
    will-change: transform;
  }

  #help .tab, #help .tab2 {
    margin-top: -1px !important;
  }

  .newsAuthor {
    font-size: 9pt;
    background-size: 13px;
    padding-left: 18px;
  }

  #reseedconfig input[type=text], #reseedconfig input[type=password] {
    width: 250px;
  }

  .themechoice, .langselect {
    width: 140px;
  }

  .themechoice .optbox {
    min-width: 144px !important;
    margin-left: -48px !important;
  }

  .langselect .optbox {
    min-width: 144px !important;
  }

  .langselect img {
    margin-left: -80px !important;
  }

  .langselect input[name="lang"]:checked + img {
    margin-left: -76px !important;
  }

  .tunneldisplay .tunnel_peer {
    margin: 0 !important;
    min-width: 80px !important;
  }

  .tunneldisplay .tunnel_peer.tunnel_local {
    margin: 0 0 0 -1px !important;
    min-width: 78px !important;
  }

  .tunneldisplay .tunnel_peer + b.tunnel_cap {
    margin: 0 -1px !important;
  }

  .tunneldisplay .tunnel_peer.tunnel_local + b.tunnel_cap {
    margin-left: 1px !important;
  }

  #netconfig label::before, #externali2cp td label::before, #externali2cp .nowrap::before, #reseedconfig .nowrap::before {
    min-height: 50px !important;
  }

  #manualreseed input[type=submit] {
    min-width: 140px;
  }

  #pluginInstall2 {
    margin-top: -14px;
  }

  h3#pconfig {
    margin-bottom: -15px !important;
  }

  #pluginconfigtext + form > input {
    margin-top: 3px !important;
  }

  #peerprofiles.widescroll {
    margin-top: -12px;
    padding-top: 116px;
  }

  h4.app a::after, h4.app2 a::after {
    margin-left: 11px;
  }

  #tunnels h3 a::after {
    margin: -8px -8px -8px 0;
    padding: 9px 8px 9px 16px;
  }

  #tunnels h3#exploratory a, #tunnels h3.server a, #tunnels h3.client a {
    margin: -8px 0 -8px 0 !important;
    padding: 7px 2px 14px 0 !important;
  }

  #tunnels #participating a::after, #tunnels #peercount a::after {
    margin: -8px 0 -13px -12px !important;
    padding: 9px 6px 9px 0 !important;
  }

  #sitemap h3 {
    font-size: 12pt !important;
  }

  .tab, .tab2 {
    line-height: 20px !important;
  }

  #debug .confignav, #netdb .confignav {
    padding: 0 !important;
  }

  #debug .tab, #debug .tab2, #netdb .tab, #netdb .tab2 {
    margin-top: -1px !important;
  }

  #tunnels .tab, #tunnels .tab2 {
    line-height: 1.3 !important;
  }

  #sb_graphcontainer {
    height: 42px;
  }

  #minigraph {
    margin-top: -20px !important;
    width: 250px !important;
    height: 38px !important;
  }

  #minigraphcontainer {
    margin-top: -40px !important;
    margin-left: 1px !important;
    width: 258px !important;
    height: 39px !important;
    background-size: 250px 40px !important;
  }
}

@media screen and (min-width: 1634px) {
  .leasesets_container {
    margin-bottom: 8px;
  }

  th code {
    font-size: 9pt !important;
  }
}

@media screen and (min-width: 1800px) {
  #help .confignav {
    margin-left: -11px;
    margin-right: -11px;
    display: flex;
    justify-content: center;
    border-left: none;
    border-right: none;
}

  #help .tab, #help .tab2 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-grow: 1;
  }

  .ag2 div.app:last-of-type {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 1840px) {
  div[id^="config_"] .confignav {
    padding: 4px 4px 5px 3px !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
  }

  div[id^="config_"] .tab, div[id^="config_"] .tab2 {
    margin: 0 -1px -1px 0 !important;
    min-width: 70px !important;
    white-space: nowrap;
    flex: auto;
    flex-basis: content;
    flex-grow: .06;
  }

  div[id^="config_"] .tab2:first-child {
    border-left: none;
  }

  div[id^="config_"] .tab2 {
    padding: 5px 6px;
  }

  div[id^="config_"] .tab a {
    padding: 4px 6px;
  }

  div[id^="config_"] .confignav {
    padding: 0 !important;
  }

  div[id^="config_"] .tab, div[id^="config_"] .tab2 {
    margin-top: -1px !important;
  }

  div[id^="config_"] .tab:first-child {
    margin-left: -1px !important;
  }
}