@media screen and (min-width: 1500px) {
  .sb_notice {
    font-size: 9pt !important;
  }

  .sb_newsheadings {
    width: 200px !important;
  }

  .sb_newsheadings table {
    width: 254px !important;
  }

  #sb_memoryBar .percentBarText {
    margin-top: -2px;
  }

  .sb_info.sb_update .percentBarOuter {
    margin-bottom: -5px !important;
  }

  .sb_info .percentBarText {
    margin-top: -1px;
  }

  .sb_info.sb_update {
    padding: 7px 5px 9px !important;
  }

  .percentBarouter {
    width: 251px !important;
  }

  #stacktrace p:first-of-type::first-line {
    font-size: 110%;
    font-weight: bold;
    font-variant: super;
    text-decoration: underline;
  }

  .warning h3 {
    font-size: 11.5pt;
  }

  #warning2.sorry {
    margin: -17px 5px 18px 272px !important;
  }

  #warning2 p {
    font-size: 10pt;
  }

  #graphdisplay {
    margin-top: 5px !important;
  }

  span.newtab {
    margin-top: 4px;
  }

    h4.app, h4.app2 {
    padding: 9px 10px 8px !important;
    font-size: 12pt !important;
  }

  select {
    padding: 8px 24px 8px 8px !important;
  }

  .search select {
    padding: 8px 24px 8px 8px !important;
  }

  input[type=text], input[type=password] {
    padding: 7px 9px;
  }

  #consolepass input[name="nofilter_pw"], #consolepass input[name="name"], #externali2cp input[name="nofilter_pw"],
  #consolepass input[name="nofilter_pw"]:focus, #consolepass input[name="name"]:focus, #externali2cp input[name="nofilter_pw"]:focus {
    padding: 7px 9px 7px 25px !important;
    background-position: 6px center !important;
  }

  input[type=submit], input[type=reset], button {
    padding: 8px 12px !important;
  }
  input[type=file]::file-selector-button {
    padding: 8px 12px !important;
  }

  .log_debug, .log_info, .log_warn, .log_error, .log_crit, .log_omitted {
    margin-bottom: -3px;
    min-width: 40px;
    max-width: 40px;
  }

  #servicelogs pre, #logs li {
    font-size: 9pt !important;
  }

  #banlist li, #banlist li:first-child {
    min-height: 52px !important;
  }

  input.search, input.search:focus {
    padding: 6px 8px 6px 28px;
  }

  .search td {
    padding: 6px 6px 6px 5px !important;
  }

  .search td:nth-child(2) {
    padding: 5px 8px 5px 8px !important;
  }

  .search td:last-child {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .addtobook a::after {
    margin: -8px -6px -8px 0;
    padding-left: 0;
    padding-left: 8px;
    width: 24px;
    height: 30px;
    background-size: 16px;
  }

    h3#iptransport a::after, h3#advancedconfig a::after, #reseedsetup a::after {
    margin: 0 0 -2px -4px;
    width: 20px;
    height: 20px;
    background-size: 20px !important;
  }

    h3#iptransport a:hover::after, h3#advancedconfig a:hover::after, #reseedsetup a:hover::after {
    background-size: 20px !important;
  }

    h3#advancedconfig a::after {
    margin: -1px -6px -2px -5px;
  }

  .h3navlinks a {
    padding: 10px 10px 10px 17px;
  }

  .h3navlinks a:first-child, #config_service .h3navlinks a:last-child {
    margin-right: 0;
  }

  .h3navlinks a:last-child {
    margin-right: -2px;
  }

    h3#advancedconfig a {
    padding-right: 10px;
  }

    h3#i2pclientconfig {
    margin-bottom: -15px !important;
  }

  .sb_netstatus, .tunnelBuildStatus {
    padding: 9px 3px !important;
  }

  .sb_netstatus::before, .tunnelBuildStatus::before {
    margin-top: -2px !important;
  }

  #peers .cells:nth-child(n+2) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tunnel_peer img, .routerid img {
    margin-bottom: -1px;
  }

  .tunnel_local {
    font-size: 9pt !important;
  }

  .tunnel_cap {
    padding: 2px 2px 1px !important;
    min-width: 18px;
  }

  .tunnel_id {
    min-width: 82px;
  }

  .tunnel_local {
    font-size: 8.5pt;
  }

body, .main, .main td, .news p, #news p, textarea, .main textarea, code, tt, #changelog pre, th code,
ul.statlist a[name], ul.statlist b, ul.statlist li b, ul.statlist a[name]:hover, .confignav, th, #configinfo th {
    font-size: 10pt !important;
  }

  #help, #help li, #help p, #help code, #help td, #help th {
    font-size: 11pt !important;
  }

  #help h2 {
    font-size: 14pt !important;
  }

  #help h3 {
    font-size: 12pt !important;
  }

  .cells tt, #profilelist tt, #floodfills tt {
    margin-left: 2px !important;
    margin-right: 2px !important;
    letter-spacing: .07em;
    font-size: 9pt !important;
  }

  .main button, .main input, select, textarea, div.news {
    font-size: 10pt !important;
  }

  input[type=file]::file-selector-button {
    font-size: 10pt !important;
  }

  #newsDisplay a {
    font-size: 9.5pt !important;
  }

  button.control {
    font-size: 0 !important;
  }

  .main, .news, h1, .sorry {
    margin-left: 272px !important;
  }

  .routersummary {
    width: 240px !important;
  }

  .routersummary table[id^="sb_"] {
    width: 256px !important;
  }

  .routersummary td, .routersummary a, .routersummary button, .routersummary h4, .routersummary h4 a,
  #floodfill th, #jardump td, .smallhead th, .leaseset a[href$=".i2p"] {
    font-size: 9pt !important;
  }

  pre, #logs li {
    font-size: 9.5pt !important;
  }

  #sb_localtunnels a {
    max-width: 200px;
  }

  .sb_update {
    padding-bottom: 3px !important;
  }

  .routersummary button {
    font-size: 10pt !important;
  }

  .routersummary button.download {
    width: 248px;
  }

  #updateAvailable {
    font-size: 9.5pt;
  }

  .sb_info .percentBarOuter {
    margin-bottom: -16px !important;
  }

  .appimg {
    padding: 5px 0 8px;
    height: 35px;
  }

  div.app img {
    margin-top: -8px !important;
    padding: 10px 53px 38px !important;
  }

  .applabel {
    padding: 4px 2px !important;
    width: 140px !important;
  }

  .applabel a {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 9pt !important;
  }

  code, tt {
    font-size: 9.5pt !important;
  }

  .leaseset th {
    font-size: 9.5pt !important;
    line-height: 1 !important;
  }

  .leaseset th code {
    font-size: 9pt !important;
  }

  #floodfills th:first-child, #floodfills td:first-child {
    padding-right: 3px !important;
    width: 58px;
  }

  h3, .routersummary h3 a, th.th_title, #leasesetdebug th, #leasesetsummary th, .netdbentry th {
    font-size: 11pt !important;
  }

  select {
    padding: 6px 16px 6px 2px;
    min-height: 28px;
  }

  h4#updateplugins {
    margin-top: -15px !important;
  }

  .joblog h3 {
    margin-top: 7px !important;
    padding-top: 7px !important;
  }

  #certs.main p + p:empty + h4 {
    margin-top: -15px !important;
  }

  .routersummary button.reload, .routersummary button.stop {
    min-width: 120px;
  }

  .subheading b {
    font-size: 10.5pt !important;
  }

  p#fullhistory {
    text-align: right;
    margin-top: -13px;
  }

  .routersummary div[style="height: 36px;"] {
    height: 44px !important;
  }

  .routersummary img[src$="i2plogo.png"] {
    margin-top: -3px;
    margin-left: -4px;
    width: 249px !important;
    transform: none;
  }

  #error500 .routersummary img[src$="i2plogo.png"] {
    margin-bottom: -5px;
  }

  .routersummary h3::after {
    min-height: 20px;
  }

  #sb_services a:link, #sb_internals a:link, #sb_advanced a:link, #sb_help a:link {
    max-width: 216px !important;
  }

  #banlist + h3.tabletitle {
    margin-bottom: -2px !important;
  }

  #permabanned {
    margin-top: -3px;
  }

  #udpconnections td[class="cells"]:first-child, #ntcpconnections td[class="cells"]:first-child {
    width: 55px;
    padding-right: 8px;
  }

  h1[class], h1 {
    padding: 14px 15px 13px 62px;
    font-size: 20pt !important;
    background-size: 40px, 100%, 100%, 164px !important;
    background-position: 12px center;
  }

  .main#jobs h2 {
    margin-bottom: 3px !important;
  }

  .footnote, .topness {
    font-size: 9pt !important;
  }

  .main[id^="config_"] th, h4#updateplugins {
    font-size: 10.5pt !important;
  }

  .langbox {
    margin: 4px 4px 2px 5px;
    line-height: 17px !important;
  }

  .langbox img {
    margin-bottom: -1px;
  }

  #help .confignav {
    padding: 0 !important;
    position: sticky;
    top: 0;
    z-index: 999;
    will-change: transform;
  }

  #help .tab, #help .tab2 {
    margin-top: -1px !important;
  }

  .newsAuthor {
    font-size: 9pt !important;
    background-size: 15px 15px !important;
    padding-left: 19px !important;
  }

  #reseedconfig input[type=text], #reseedconfig input[type=password] {
    width: 250px;
  }

  .themechoice, .langselect {
    width: 140px;
  }

  .themechoice .optbox {
    min-width: 144px !important;
    margin-left: -48px !important;
  }

  .langselect .optbox {
    min-width: 144px !important;
  }

  .langselect img {
    margin-left: -80px !important;
  }

  .langselect input[name="lang"]:checked + img {
    margin-left: -76px !important;
  }

  img[src="/themes/console/images/i2plogo.png"] {
    margin-top: 3px !important;
    width: 200px !important;
  }

  #logs li, pre#servicelogs {
    font-size: 9pt !important;
  }

  .tunneldisplay .tunnel_peer {
    margin: 0 !important;
    min-width: 80px !important;
  }

  .tunneldisplay .tunnel_peer.tunnel_local {
    margin: 0 0 0 -1px !important;
    min-width: 78px !important;
  }

  .tunneldisplay .tunnel_peer + b.tunnel_cap {
    margin: 0 -1px !important;
  }

  .tunneldisplay .tunnel_peer.tunnel_local + b.tunnel_cap {
    margin-left: 1px !important;
  }

  #netconfig label::before, #externali2cp td label::before, #externali2cp .nowrap::before, #reseedconfig .nowrap::before {
    min-height: 50px !important;
  }

  #manualreseed input[type=submit] {
    min-width: 140px;
  }

  #pluginInstall2 {
    margin-top: -14px;
  }

  h3#pconfig {
    margin-bottom: -15px !important;
  }

  #pluginconfigtext + form > input {
    margin-top: 3px !important;
  }

  #peerprofiles.widescroll {
    margin-top: -12px;
    padding-top: 116px;
  }

  #homepage .main h4 a, #homepage h4.app2 a {
    padding-left: 12px;
  }

  #tunnels h3 a::after {
    margin: -8px -8px -8px 0;
    padding: 9px 8px 9px 16px;w
  }

  #tunnels h3#exploratory a, #tunnels h3.server a, #tunnels h3.client a {
    margin: -8px 0 -8px 0 !important;
    padding: 7px 2px 14px 0 !important;
  }

  #tunnels #participating a::after, #tunnels #peercount a::after {
    margin: -8px 0 -13px -12px !important;
    padding: 9px 6px 9px 0 !important;
  }

  #sitemap h3 {
    font-size: 12pt !important;
  }

  .tab, .tab2 {
    line-height: 20px !important;
  }

  #debug .confignav, #netdb .confignav {
    padding: 0 !important;
  }

  #debug .tab, #debug .tab2, #netdb .tab, #netdb .tab2 {
    margin-top: -1px !important;
  }

  #sybilTask th {
    font-size: 12pt !important;
  }

  #tunnels .tab, #tunnels .tab2 {
    line-height: 1.3 !important;
  }

  #sb_graphcontainer {
    height: 41px;
  }

  #minigraph {
    margin-top: -20px !important;
    width: 250px !important;
    height: 41px !important;
  }

  #minigraphcontainer {
    margin-top: -43px !important;
    margin-left: 1px !important;
    width: 258px !important;
    height: 39px !important;
    background-size: 250px 40px !important;
  }
}
