# I2P Client Configuration
# This file must use UTF-8 encoding

# Configuration directories:
# - Linux: ~/.i2p
# - Windows: %LOCALAPPDATA%\I2P
# - Mac: /Users/(user)/Library/Application Support/i2p
# - Linux daemon: /var/lib/i2p
# - Windows service: \ProgramData\i2p

# On first run, this file will be split into individual config files in clients.config.d/ in the configuration directory.

# Web Console Configuration
# -s denotes https access, ::1 denotes IPv6 localhost access
# Additional ip addresses can be added using comma separation: e.g. 7657 ::1,127.0.0.1,192.168.1.10
clientApp.0.args=7657 ::1,127.0.0.1 -s 7667 ::1,127.0.0.1 ./webapps/
clientApp.0.main=net.i2p.router.web.RouterConsoleRunner
clientApp.0.name=I2P Router Console
clientApp.0.onBoot=true
clientApp.0.startOnLoad=true

# SAM Bridge Configuration
clientApp.1.main=net.i2p.sam.SAMBridge
clientApp.1.name=SAM Application Bridge
clientApp.1.args=sam.keys 127.0.0.1 7656 i2cp.tcp.host=127.0.0.1 i2cp.tcp.port=7654
clientApp.1.delay=0
clientApp.1.startOnLoad=false

# I2P Tunnels Configuration
clientApp.2.main=net.i2p.i2ptunnel.TunnelControllerGroup
clientApp.2.name=Application tunnels
clientApp.2.args=i2ptunnel.config
clientApp.2.delay=-1
clientApp.2.startOnLoad=true

# Eepsite Configuration
# Jetty Configuration Options:
# - To use the rewrite handler, edit jetty-rewrite.xml and specify the paths:
#clientApp.3.args="/path/to/jetty.xml" "/path/to/jetty-rewrite.xml"
# - To enable local SSL, edit jetty-ssl.xml and specify the paths:
#clientApp.3.args="/path/to/jetty.xml" "/path/to/jetty-ssl.xml"
# - To enable local or remote JMX (Java Management Extensions), edit jetty-jmx.xml and specify the paths:
#clientApp.3.args="/path/to/jetty.xml" "/path/to/jetty-jmx.xml"

clientApp.3.main=net.i2p.jetty.JettyStart
clientApp.3.name=I2P Web Server (eepsite)
clientApp.3.args="eepsite/jetty.xml"
clientApp.3.delay=0
clientApp.3.startOnLoad=true

# Open Router Console in Web Browser at Startup
clientApp.4.main=net.i2p.apps.systray.UrlLauncher
clientApp.4.name=Open Router Console in web browser at startup
clientApp.4.args=http://127.0.0.1:7657/
clientApp.4.delay=3
clientApp.4.startOnLoad=true