# NOTE: This I2P config file must use UTF-8 encoding
#
# If you have a 'split' directory installation, with configuration
# files in ~/.i2p (Linux), %LOCALAPPDATA%\I2P (Windows),
# or /Users/(user)/Library/Application Support/i2p (Mac), be sure to
# edit the file in the configuration directory, NOT the install directory.
# When running as a Linux daemon, the configuration directory is /var/lib/i2p
# and the install directory is /usr/share/i2p .
# When running as a Windows service, the configuration directory is \ProgramData\i2p
# and the install directory is \Program Files\i2p .
#
# On first run, this file will be split into individual config files
# in i2ptunnel.config.d/ in the configuration directory.
# Look in that directory for the file to edit.
#

# HTTP(S) Proxy for internal (.i2p) and web access
tunnel.0.name=I2P HTTP Proxy
tunnel.0.description=HTTP proxy for browsing eepsites and the web
tunnel.0.type=httpclient
tunnel.0.sharedClient=false
tunnel.0.interface=127.0.0.1
tunnel.0.listenPort=4444
tunnel.0.proxyList=purokishi.i2p
tunnel.0.i2cpHost=127.0.0.1
tunnel.0.i2cpPort=7654
tunnel.0.option.inbound.nickname=HTTP Proxy
tunnel.0.option.outbound.nickname=HTTP Proxy
tunnel.0.option.i2cp.leaseSetEncType=4,0
tunnel.0.option.i2cp.newDestOnResume=true
tunnel.0.option.i2cp.reduceIdleTime=900000
tunnel.0.option.i2cp.reduceOnIdle=true
tunnel.0.option.i2cp.reduceQuantity=1
tunnel.0.option.i2p.streaming.connectDelay=0
tunnel.0.option.i2ptunnel.httpclient.allowInternalSSL=true
tunnel.0.option.i2ptunnel.httpclient.SSLOutproxies=purokishi.i2p
tunnel.0.option.inbound.length=3
tunnel.0.option.inbound.lengthVariance=0
tunnel.0.option.inbound.quantity=2
tunnel.0.option.outbound.length=3
tunnel.0.option.outbound.lengthVariance=0
tunnel.0.option.outbound.quantity=2
tunnel.0.option.outbound.priority=25
tunnel.0.startOnLoad=true

# Proxy to I2P IRC
tunnel.1.name=I2P IRC Network
tunnel.1.description=Proxy to connect to I2P's anonymized IRC chat network
tunnel.1.type=ircclient
tunnel.1.sharedClient=false
tunnel.1.interface=127.0.0.1
tunnel.1.listenPort=6668
tunnel.1.targetDestination=irc.postman.i2p:6667,irc.echelon.i2p:6667
tunnel.1.i2cpHost=127.0.0.1
tunnel.1.i2cpPort=7654
tunnel.1.option.inbound.nickname=I2P IRC Network
tunnel.1.option.i2cp.leaseSetEncType=4
tunnel.1.option.outbound.nickname=I2P IRC Network
tunnel.1.option.i2cp.closeIdleTime=1200000
tunnel.1.option.i2cp.closeOnIdle=true
tunnel.1.option.i2cp.delayOpen=true
tunnel.1.option.i2cp.newDestOnResume=true
tunnel.1.option.i2cp.reduceIdleTime=600000
tunnel.1.option.i2cp.reduceOnIdle=true
tunnel.1.option.i2cp.reduceQuantity=1
tunnel.1.option.i2p.streaming.connectDelay=1000
tunnel.1.option.i2p.streaming.maxWindowSize=16
tunnel.1.option.inbound.length=3
tunnel.1.option.inbound.lengthVariance=0
tunnel.1.option.inbound.quantity=2
tunnel.1.option.outbound.length=3
tunnel.1.option.outbound.lengthVariance=0
tunnel.1.option.outbound.priority=25
tunnel.1.option.outbound.quantity=2
tunnel.1.startOnLoad=true

# Personal I2P Webserver (jetty)
tunnel.2.name=I2P Webserver
tunnel.2.description=Personal I2P Webserver (eepsite)
tunnel.2.type=httpserver
tunnel.2.targetHost=127.0.0.1
tunnel.2.targetPort=7658
tunnel.2.spoofedHost=mysite.i2p
tunnel.2.privKeyFile=eepsite/eepPriv.dat
tunnel.2.i2cpHost=127.0.0.1
tunnel.2.i2cpPort=7654
tunnel.2.option.inbound.nickname=I2P Webserver
tunnel.2.option.outbound.nickname=I2P Webserver
tunnel.2.option.i2cp.destination.sigType=7
tunnel.2.option.i2cp.leaseSetEncType=4
tunnel.2.option.inbound.length=3
tunnel.2.option.inbound.lengthVariance=0
tunnel.2.option.outbound.length=3
tunnel.2.option.outbound.lengthVariance=0
tunnel.2.startOnLoad=false
# uncomment for HTTPS to port 7668
#tunnel.2.option.targetForPort.443=127.0.0.1:7668

# postman's POP3 server - see http://hq.postman.i2p
tunnel.3.name=I2PMail POP3 Server
tunnel.3.description=Postman's POP3 Mail Server (pop3.postman.i2p)
tunnel.3.i2cpHost=127.0.0.1
tunnel.3.i2cpPort=7654
tunnel.3.interface=127.0.0.1
tunnel.3.listenPort=7660
tunnel.3.option.inbound.nickname=I2PMail POP3 Server
tunnel.3.option.outbound.nickname=I2PMail POP3 Server
tunnel.3.option.i2cp.closeIdleTime=300000
tunnel.3.option.i2cp.closeOnIdle=true
tunnel.3.option.i2cp.delayOpen=true
tunnel.3.option.i2cp.leaseSetEncType=4
tunnel.3.option.i2cp.newDestOnResume=true
tunnel.3.option.i2cp.reduceIdleTime=180000
tunnel.3.option.i2cp.reduceOnIdle=true
tunnel.3.option.i2cp.reduceQuantity=1
tunnel.3.option.i2p.streaming.connectDelay=1000
tunnel.3.option.inbound.length=3
tunnel.3.option.inbound.lengthVariance=0
tunnel.3.option.inbound.quantity=1
tunnel.3.option.outbound.length=3
tunnel.3.option.outbound.lengthVariance=0
tunnel.3.option.outbound.quantity=1
tunnel.3.startOnLoad=true
tunnel.3.targetDestination=pop.postman.i2p:110
tunnel.3.type=client
tunnel.3.sharedClient=false

# postman's SMTP server - see http://hq.postman.i2p
tunnel.4.name=I2PMail SMTP Server
tunnel.4.description=Postman's SMTP Mail Server (smtp.postman.i2p)
tunnel.4.i2cpHost=127.0.0.1
tunnel.4.i2cpPort=7654
tunnel.4.interface=127.0.0.1
tunnel.4.listenPort=7659
tunnel.4.option.inbound.nickname=I2PMail SMTP Server
tunnel.4.option.outbound.nickname=I2PMail SMTP Server
tunnel.4.option.i2cp.closeIdleTime=300000
tunnel.4.option.i2cp.delayOpen=true
tunnel.4.option.i2cp.leaseSetEncType=4
tunnel.4.option.i2cp.newDestOnResume=true
tunnel.4.option.i2cp.reduceIdleTime=180000
tunnel.4.option.i2cp.reduceOnIdle=true
tunnel.4.option.i2cp.reduceQuantity=1
tunnel.4.option.inbound.length=3
tunnel.4.option.inbound.lengthVariance=0
tunnel.4.option.inbound.quantity=1
tunnel.4.option.outbound.length=3
tunnel.4.option.outbound.lengthVariance=0
tunnel.4.option.outbound.quantity=1
tunnel.4.startOnLoad=true
tunnel.4.targetDestination=smtp.postman.i2p:25
tunnel.4.type=client
tunnel.4.sharedClient=false
