# encoding=UTF-8
# See wrapper.config.commented for a commented version of this file
wrapper.umask=0022
wrapper.java.umask=0022
wrapper.java.initmemory=128
wrapper.java.maxmemory=512
wrapper.java.command=java
wrapper.java.mainclass=org.tanukisoftware.wrapper.WrapperSimpleApp
wrapper.java.classpath.1=$INSTALL_PATH/lib/*.jar
wrapper.java.library.path.1=$INSTALL_PATH
wrapper.java.library.path.2=$INSTALL_PATH/lib
wrapper.java.additional.auto_bits=FALSE
wrapper.java.additional.1=-DloggerFilenameOverride=logs/log-router-@.txt
wrapper.java.additional.2=-Di2p.dir.base="$INSTALL_PATH"
wrapper.java.additional.2.stripquotes=TRUE
wrapper.java.additional.3=-XX:+PerfDisableSharedMem
wrapper.app.parameter.1=net.i2p.router.Router
wrapper.console.format=PM
wrapper.console.loglevel=INFO
wrapper.console.title=I2P+
wrapper.logfile=$SYSTEM_java_io_tmpdir/wrapper.log
wrapper.logfile.format=TLM
wrapper.logfile.loglevel=INFO
wrapper.logfile.maxsize=10m
wrapper.logfile.maxfiles=3
wrapper.logfile.rollmode=SIZE_OR_WRAPPER
wrapper.logfile.umask=0077
wrapper.syslog.loglevel=NONE
wrapper.signal.mode.usr1=IGNORE
wrapper.signal.mode.usr2=IGNORE
wrapper.on_exit.default=SHUTDOWN
wrapper.on_exit.0=SHUTDOWN
wrapper.on_exit.1=SHUTDOWN
wrapper.on_exit.2=SHUTDOWN
wrapper.on_exit.3=SHUTDOWN
wrapper.on_exit.4=RESTART
wrapper.on_exit.5=RESTART
wrapper.on_exit.10=RESTART
wrapper.jvm_exit.timeout=5
wrapper.restart.delay=5
wrapper.ping.interval=300
wrapper.ping.timeout=320
wrapper.use_system_time=false
wrapper.ignore_sequence_gaps=TRUE
wrapper.check.deadlock=TRUE
wrapper.check.deadlock.interval=180
wrapper.check.deadlock.action=DUMP,RESTART
wrapper.check.deadlock.output=FULL
wrapper.ntservice.name=I2P+
wrapper.ntservice.displayname=I2P+ Anonymizing Network Layer
wrapper.ntservice.description=I2P+ implements an anonymizing network layer that enables censorship-resistant, peer to peer communication.
wrapper.ntservice.dependency.1=
wrapper.ntservice.starttype=AUTO_START
wrapper.ntservice.interactive=false
