/* I2P+ Config Section - Navbar icons */
.confignav{margin-top:-2px;padding:0;display:flex;flex-direction:row;flex-wrap:wrap;align-content:space-evenly;justify-content:center;contain:paint}
.tab,.tab2{margin:0 -1px -1px;padding:0!important;height:40px;font-size:0;flex:1 1 0!important;min-width:unset!important;position:relative;contain:paint}
.tab a{padding:0!important;width:100%;height:100%;min-width:unset!important;max-width:unset!important;position:absolute;top:0;left:0;font-size:0}
.tab::before,.tab2::before{display:block;width:100%;height:100%;vertical-align:middle;text-align:center;background-size:17px!important;background-position:calc(50% + 1px) center!important;background-repeat:no-repeat!important;content:"";pointer-events:none}
.tab:not(:hover)::before{filter:saturate(0) drop-shadow(1px 1px #000c)}
.tab:hover::before{transform:scale(1.2)}
.tab:active::before{transform:scale(.95)}
.tab2::before{filter:drop-shadow(1px 1px #0006)}
#nav_advanced::before{background:var(--configure)}
#nav_bandwidth::before{background:var(--speed)}
#nav_clients::before{background:url(/themes/console/images/editclient.svg)}
#nav_home::before{background:url(/themes/console/images/home.svg)}
#nav_i2cp::before{background:url(/themes/console/images/i2cp.svg)}
#nav_keyring::before{background:url(/themes/console/images/keys.svg)}
#nav_logging::before{background:var(--logs)}
#nav_net::before{background:url(/themes/console/images/networkconfig.svg)}
#nav_peer::before{background:url(/themes/console/images/peerconfig.svg)}
#nav_plugins::before{background:url(/themes/console/images/pluginconfig.svg)}
#nav_reseed::before{background:url(/themes/console/images/reseed.svg)}
#nav_family::before{background:url(/themes/console/images/family.svg)}
#nav_service::before{background:url(/themes/console/images/service.svg)}
#nav_sidebar::before{background:url(/themes/console/images/sidebar.svg)}
#nav_stats::before{background:var(--stats)}
#nav_tunnels::before{background:url(/themes/console/images/hardhat.svg)}
#nav_ui::before{background:var(--ui)}
#nav_update::before{background:var(--update)}
#nav_webapps::before{background:url(/themes/console/images/webapps.svg)}
@media (min-width:1600px){.confignav{margin-top:-1px}.tab,.tab2{height:42px}.tab::before,.tab2::before{background-size:23px!important}}