body.js #tunnelsContainer{display:block!important}
.idsHidden #tunnels .tunnel_id,.tunnelsHidden #tunnels table,.tunnelsHidden #tunnels h3:not([id]),.tunnelsHidden #tunnels .building,.tunnelsHidden #toggleTunnelIds{display:none!important}
#toggleTunnelIds{width:20px;height:20px;display:inline-block;position:absolute;top:calc(50% - 10px);right:40px;background:url(/themes/console/images/off.svg) no-repeat center center/20px,url(/themes/console/images/hardhat.svg) no-repeat center center/16px;opacity:.7}
#toggleTunnelIds:hover{cursor:pointer;opacity:1;transform:scale(1.2)}
#toggleTunnelIds:active{transform:scale(.9)}
#toggleTunnels.off{background:url(/themes/console/images/inout.svg) no-repeat center center/20px}
#toggleTunnels{width:20px;height:20px;display:inline-block;position:absolute;top:calc(50% - 10px);right:12px;background:url(/themes/console/images/off.svg) no-repeat center center/20px,url(/themes/console/images/inout.svg) no-repeat center center/16px;opacity:.7}
#toggleTunnels:hover{cursor:pointer;opacity:1;transform:scale(1.2)}
#toggleTunnels:active{transform:scale(.9)}
#toggleTunnelIds.off{background:url(/themes/console/images/hardhat.svg) no-repeat center center/20px}

.direction,.status{width:1%}
.expiry,.latency,.transferred{width:8%;white-space:nowrap}
.latency{text-align:center}
.failed .status span{background:var(--tunn_reject)}
.failing .status span{background:var(--tunn_failing)}
.good .status span{background:var(--tunn_active)}
.testing .status span{background:var(--tunn_starting);animation:pulse 1.5s infinite}
.untested .status span{background:var(--tunn_hidden)}
tr.failed{background:#f002}
tr.failed td>*:not(.failed .status span){opacity:.5}
tr.failed .testFailed{animation:none}
#statusnotes td{padding:10px;font-style:italic;font-size:105%;text-align:center;border-top-width:2px}
#tunnels #tunnelsContainer .latency span{width:unset;display:inline-block}
#tunnels #tunnelsContainer .latency span:not(.left){min-width:36px;text-align:right}
#tunnels #tunnelsContainer .latency .left{min-width:26px}
#tunnels #tunnelsContainer .status{text-align:center}
#tunnels #tunnelsContainer .status span{display:inline-block;width:12px;height:12px;border-radius:50%;vertical-align:middle}

@keyframes pulse{0%,100%{opacity:1;transform:scale(1.1)}50%{opacity:.7;transform:scale(.9)}}
