body.js #tunnelsContainer{display:block!important}
.idsHidden #tunnels .tunnel_id,.tunnelsHidden #tunnels table,.tunnelsHidden #tunnels h3:not([id]),.tunnelsHidden #tunnels .building,.tunnelsHidden #toggleTunnelIds{display:none!important}
#toggleTunnelIds{width:20px;height:20px;display:inline-block;position:absolute;top:calc(50% - 10px);right:40px;background:url(/themes/console/images/off.svg) no-repeat center center/20px,url(/themes/console/images/hardhat.svg) no-repeat center center/16px;opacity:.7}
#toggleTunnelIds:hover{cursor:pointer;opacity:1;transform:scale(1.2)}
#toggleTunnelIds:active{transform:scale(.9)}
#toggleTunnels.off{background:url(/themes/console/images/inout.svg) no-repeat center center/20px}
#toggleTunnels{width:20px;height:20px;display:inline-block;position:absolute;top:calc(50% - 10px);right:12px;background:url(/themes/console/images/off.svg) no-repeat center center/20px,url(/themes/console/images/inout.svg) no-repeat center center/16px;opacity:.7}
#toggleTunnels:hover{cursor:pointer;opacity:1;transform:scale(1.2)}
#toggleTunnels:active{transform:scale(.9)}
#toggleTunnelIds.off{background:url(/themes/console/images/hardhat.svg) no-repeat center center/20px}

.tunnels_client th:first-child,.tunnels_client td:first-child,.tunnelTest{width:4%}
.tunnels_client th:nth-child(3),.tunnels_client td:nth-child(3){width:7%;white-space:nowrap}
.tunnelTest{text-align:center}
.tunnelTest span{display:inline-block;width:12px;height:12px;border-radius:50%;vertical-align:middle}
.good .tunnelTest span{background:#0c0}
.failed .tunnelTest span{background:#900;animation:none}
.failing .tunnelTest span{background:#f60}
.testing .tunnelTest span{background:#fc0;animation:pulse 1.5s infinite}
.untested .tunnelTest span{background:#999}
tr.failed{background:#f002}
tr.failed td>*:not(.failed .tunnelTest span){opacity:.5}
tr.failed .testFailed{animation:none}
#statusnotes td{padding:10px;font-style:italic;font-size:105%;text-align:center;border-top-width:2px}

@keyframes pulse{0%,100%{opacity:1}50%{opacity:.4}}
