:root{
--bodyfont:Sora,Droid Sans,Open Sans,Noto Sans,Ubuntu,Segoe UI,Bitstream Vera Sans,DejaVu Sans,Verdana,Lucida Grande,Helvetica,sans-serif;
--monospaced:FiraCode,Noto Mono,DejaVu Sans Mono,Lucida Console,monospace;
}
*{-webkit-text-stroke:0!important}
a,a.control,a:link,a:visited,a#settings,b,button,h3,h4,h5,input[type="reset"],input[type="submit"],pre,select,textarea,th,.control,.control:link,.control:visited,.dirInfo .snarkFileName a,.fakebutton,.fakebutton:visited,.panel th,.rih,.rih a,td a:link,.snarkFileSize,.statvalue,.tab,.torrentDownloaded,.torrentName a,.tunnelConfig th,a#expand,#logs li,#logs pre,#navbar a,#navi a.selected,#ourDest,#sb_localtunnels a,#screenlog li,#sidebar a,#statusMessages,#statusMessages:active,#statusMessages:focus,#torrents .percentBarComplete,#torrents .txBarText,#torrentDisplay label,#torrents tfoot tr:first-child th,#torrentEdit .info_tracker{font-weight:600}
h1{font-weight:800}
input[type=password],input[type=text],label,.infohash,.infohelp,.infowarn,.listDate,#navi a,#trackerselect tr:first-child td{font-weight:500}
h2,.headline h3,.tab2,#sidebar h3,#sidebar h3 a,.main h3,.main h4{font-weight:700}
.tab a{padding:4px 12px}
.tunnel_id{min-width:102px;font-size:90%}
.uploaded{min-width:74px}
#torrents tfoot .RateDown:not(:empty)::before,tfoot .torrentDownloaded:not(:empty)::before,tfoot .RateUp:not(:empty)::before,tfoot .torrentUploaded:not(:empty)::before{margin-right:2px}
#torrents tfoot tr:first-child th{min-width:80px}
@font-face{font-display:swap;font-family:FiraCode;font-style:normal;font-weight:300,400,500,600,700;src:url(/themes/fonts/FiraCode.woff2);format("woff2")}
@font-face{font-display:swap;font-family:Sora;font-style:italic;font-weight:100,200,300,400,500,600,700,800;src:url(/themes/fonts/Sora/Sora-Italic.woff2);format("woff2")}
@font-face{font-display:swap;font-family:Sora;font-style:normal;font-weight:100,200,300,400,500,600,700,800;src:url(/themes/fonts/Sora/Sora.woff2);format("woff2")}
