:root{
--bodyfont:Sora,Droid Sans,Open Sans,Noto Sans,Ubuntu,Segoe UI,Bitstream Vera Sans,DejaVu Sans,Verdana,Lucida Grande,Helvetica,sans-serif;
--monospaced:FiraCode,Noto Mono,DejaVu Sans Mono,Lucida Console,monospace;
}
*{-webkit-text-stroke:0!important}

a,a.control,a:link,a:visited,a#settings,b,button,h3,h4,h5,input[type="reset"],input[type="submit"],pre,select,textarea,th,.control,.control:link,.control:visited,.dirInfo .snarkFileName a,.fakebutton,.fakebutton:visited,label.tabletitle,.panel th,.rih,.rih a,td a:link,.snarkFileSize,.statvalue,.tab,.torrentDownloaded,.torrentName a,.tunnelConfig th,a#expand,#logs li,#logs pre,#navbar a,#navi a.selected,#ourDest,#sb_localtunnels a,#screenlog li,#sidebar a,#statusMessages,#statusMessages:active,#statusMessages:focus,#torrents .percentBarComplete,#torrents .txBarText,#torrentDisplay label,#torrents tfoot tr:first-child th,#torrentEdit .info_tracker,#trackerselect tr:first-child td{font-weight:600!important}
h1{font-weight:800}
h2,.headline h3,.tab2,#sidebar h3,#sidebar h3 a,.main h3,.main h4{font-weight:700}
.infohash,.infohelp,.infowarn,.listDate,#navi a,#torrents .infohash,.names a[href$=".i2p/"],#host_list td.b32link a,#host_list td.helper a,.lightbox-caption #caption{font-weight:500!important}
input[type=password],input[type=search],input[type=text]{font-family:var(--bodyfont)}
.tab a{padding:4px 12px}
.tunnel_id{min-width:102px;font-size:90%}
.ui_lang{font-size:88%}
.uploaded{min-width:74px}
#configstats label b{font-size:90%;overflow:hidden;text-overflow:ellipsis}
html[lang="zh"] #sidebar h3,html[lang="zh"] #sidebar h3 a{font-weight:500!important}

/* i2pmail */
#dologin td{font-weight:500}

/* i2psnark */
.ETA{font-weight:700}
[id^="snark"] input[type="text"],input.r,[id^="snark"] textarea,input[name="nofilter_dataDir"]{font-weight:500}
#torrents td{font-weight:500}
#torrents tfoot .RateDown:not(:empty)::before,tfoot .torrentDownloaded:not(:empty)::before,tfoot .RateUp:not(:empty)::before,tfoot .torrentUploaded:not(:empty)::before{margin-right:2px}
#torrents tfoot tr:first-child th{min-width:80px}
#torrents .clientid{font-size:75%;font-weight:600}
#totals .canhide{display:none}
#torrents .tName,#configs input.r,#configs input[type=text],#dhtDebug .dbug{font-weight:500!important}
#torrents .barComplete,#torrents #totals{font-weight:600}

@font-face{font-display:swap;font-family:Sora;font-style:normal;font-weight:100,200,300,400,500,600,700,800;src:url(/themes/fonts/Sora/Sora.woff2);format("woff2")}
@font-face{font-display:swap;font-family:Sora;font-style:italic;font-weight:100,200,300,400,500,600,700,800;src:url(/themes/fonts/Sora/Sora-Italic.woff2);format("woff2")}
@font-face{font-display:swap;font-family:FiraCode;font-style:normal;font-weight:300,400,500,600,700;src:url(/themes/fonts/FiraCode.woff2);format("woff2")}
