# I2P Client Configuration - Minimal Install
# This file must use UTF-8 encoding

# Configuration directories:
# - Linux: ~/.i2p
# - Windows: %LOCALAPPDATA%\I2P
# - Mac: /Users/(user)/Library/Application Support/i2p
# - Linux daemon: /var/lib/i2p
# - Windows service: \ProgramData\i2p

# On first run, this file will be split into individual config files in clients.config.d/ in the configuration directory.

# Web Console Configuration
# -s denotes https access, ::1 denotes IPv6 localhost access
clientApp.0.args=7657 ::1,127.0.0.1 -s 7667 ::1,127.0.0.1 ./webapps/
clientApp.0.main=net.i2p.router.web.RouterConsoleRunner
clientApp.0.name=I2P Router Console
clientApp.0.onBoot=true
clientApp.0.startOnLoad=true

# I2P Tunnels Configuration
clientApp.2.main=net.i2p.i2ptunnel.TunnelControllerGroup
clientApp.2.name=Application tunnels
clientApp.2.args=i2ptunnel.config
clientApp.2.delay=-1
clientApp.2.startOnLoad=true

# Open Router Console in Web Browser at Startup
clientApp.4.main=net.i2p.apps.systray.UrlLauncher
clientApp.4.name=Open Router Console in web browser at startup
clientApp.4.args=http://127.0.0.1:7657/
clientApp.4.delay=3
clientApp.4.startOnLoad=false
