/* disable snark's collapsible panels */
/* fixes a browser engine bug present in Konqueror, Midori, Qupzilla et al */

input:not(checked) + label + hr + table, input:not(checked) + label + hr + table + table {
  display: table;
}

.toggleview, .mainsection[id] input:not(:checked) + .toggleview, .mainsection[id] input:checked + .toggleview {
  margin-bottom: -6px;
  padding: 3px 0;
  min-width: 200px;
  width: 200px;
}

.mainsection[id] input:not(:checked) + .toggleview, .mainsection[id] input:checked + .toggleview {
  margin-bottom: 8px;
}

.toggleview, .toggleview:hover, .toggleview:active, input:active + .toggleview, input:focus + .toggleview,
input:checked + .toggleview, input:not(:checked) + .toggleview {
  box-shadow: inset 0 0 0 1px #fff;
  background: linear-gradient(180deg,#eef, #fff);
  cursor: default;
  font-size: 0;
}

.toggleview img, .toggle_input:focus + .toggleview img, .toggleview:hover img, .toggleview img:active, .toggleview:active img {
  filter: none;
  mix-blend-mode: normal;
  transform: none;
}

#configSection .configTitle a {
  padding: 1px 0;
  margin: 0 auto;
  text-align: center;
  display: block;
}

#configSection .configTitle a img {
  margin: -2px -2px 0 0;
  padding: 0;
}

.toggleview img, #configSection .configTitle img {
  margin: 0;
  padding: 0;
  text-align: center;
}

#snarkInfo ~ .mainsection table:first-of-type {
  margin-top: 0;
}

.mainsection hr {
  display: none;
}
  padding: 3px;