@media (min-width:0) and (max-width:4000px){
input,button,textarea,select,a{font-weight:400;font-family:Noto Sans,Droid Sans,Roboto Sans,Ubuntu,Segoe UI,Lucida Grande,Helvetica,Arial,Verdana,sans-serif;line-height:1.2}
a.control,input[type=submit],input.accept{text-transform:uppercase;letter-spacing:.05em}
a.control,input[type=submit],input.accept,th,#trackerselect tr:first-child td{font-weight:400;font-size:12pt}
input[type],select,a.control{line-height:1.3}
input[type],select,select option,td,td a,#screenlog li,#screenlog li a,textarea,input.r,input[name="nofilter_dataDir"],.configPanel,.configPanel td,.snarkNewTorrent,.snarkNewTorrent td,.snarkAddInfo,#configs td,#trackerconfig td{font-size:10.5pt}
.configOption::after{content:"";display:inline-block;height:40px;vertical-align:middle}
.configPanel .configTitle,.configPanel .configTitle:hover,.configPanel .configTitle:active{padding-top:4px;padding-bottom:2px;font-size:14pt;text-transform:uppercase;font-variant:normal}
.configPanel .configTitle img{margin-top:-2px;display:inline-block;height:24px;width:24px;mix-blend-mode:hard-light}
.knownTracker a{max-width:220px;overflow:hidden;text-overflow:ellipsis;display:inline-block;white-space:nowrap}
.optionlist{columns:500px auto;column-gap:5px}
.snarkAddInfo{font-size:10pt}
.snarkNav{font-weight:700}
th.rxd,th.txd,th.rateDown,th.rateUp,td.rxd,td.txd,td.rateDown,td.rateUp,.tName a:link,th#pagenav{font-size:10pt}
.rxd,th.txd,.rateDown,th.rateUp,.barComplete{font-weight:700}
#torrentInfo th,#dirInfo th,#totals,#commentInfo th,#configs th{font-size:11pt}
#configs input[name="nofilter_dataDir"],input[name="i2cpOpts"],input[name="nofilter_commentsName"]{width:calc(100% - 200px)}
#configs td b{letter-spacing:.08em;min-width:180px}
#configs td{line-height:2;padding-top:4px;padding-bottom:4px}
#embed::after{height:14px}
#embed,#fullscreen{padding:8px 9px 7px 10px;line-height:1.6}
#torrents code,.snarkAddInfo code{font-size:9.5pt}
}
@media (max-width:1400px){.iframed #torrents td.tName a{max-width:400px;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}}