body.textview{height:100vh}
.snarkFileName a, .snarkFileName .newtab{display:inline-block!important;vertical-align:middle}
.snarkFileName a:first-of-type{padding-right:12px!important;width:auto!important}
.snarkFileName .newtab a{margin-left:8px}
.snarkFileName .newtab a:hover{transform:scale(1.2)}
.snarkFileName .newtab a:active{transform:scale(.9)}
.snarkFileName .newtab a,tr:hover .snarkFileName .newtab a:hover,tr:hover .snarkFileName .newtab a:active{margin-left:-6px;width:20px!important;height:16px;font-size:0;box-shadow:none!important;background:url(/i2psnark/.res/icons/link.svg) no-repeat center center/16px!important}
tr:hover .snarkFileName a:hover+.newtab a:not(:hover){margin-left:-2px}
#textview{width:100%;height:100%;height:100vh;display:flex;justify-content:center;align-items:center;position:fixed;top:0;left:0;z-index:9999999;background:#000d;backdrop-filter:blur(3px);cursor:crosshair}
#textview-content{padding:20px 24px 22px;height:auto;max-height:80%;width:auto;max-width:80%;position:relative;line-height:1.5;white-space:pre-wrap;overflow:hidden;overflow-y:auto;word-break:break-all;font-size:110%;color:#333;box-shadow:0 0 0 10px #ddd,0 0 0 1px #000,0 0 0 1px #999 inset;background:#fff;cursor:text;scrollbar-color:#999 #0000;animation:fade .15s ease .2s both;will-change:transform}
#textview-content.pre{font-family:var(--monospaced);font-size:100%;font-weight:550;color:#555}
#textview-content.lines{margin:-20px -24px -22px;contain:paint}
#textview[hidden]{display:none;z-index:-1;pointer-events:none}
#viewerFilename{margin-left:-24px;padding:0 0 8px;width:100%;position:absolute;top:0;font-family:var(--bodyfont);font-size:700;border-bottom:1px solid #999;background:#ddd}
#textview-content ol{margin:-18px -23px 8px 24px;padding:29px 0 0}
#textview-content li::marker{content:counter(list-item) "  ";counter-increment:list-item}
#textview-content li:nth-child(odd){background:#0001}
