::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: #130313;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #303;
}
::-webkit-scrollbar-thumb:hover {
  background: #414;
}
