::-webkit-scrollbar {
  width: 12px;
  cursor: pointer !important;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: #303;
}
::-webkit-scrollbar-thumb:hover {
  background: #414;
}
