@media (min-width:0) and (max-width:4000px){
a.control,input[type=submit],input.accept{padding-top:2px;padding-bottom:2px;text-transform:uppercase;letter-spacing:.05em}
a.control,input[type=submit],input.accept,th{font-weight:400;font-size:12pt}
input,button,textarea,select,a{font-weight:400;font-family:Noto Sans,Segoe UI,Open Sans,Lucida Grande,Helvetica,Arial,Verdana,sans-serif;line-height:1.2}
input[type],select,a.control{line-height:1.3}
input[type],select,select option,td,td a,#screenlog li,#screenlog li a,textarea,input.r,input[name="nofilter_dataDir"],.configPanel,.configPanel td,.snarkNewTorrent,.snarkNewTorrent td,.snarkAddInfo,#configs td,#trackerconfig td{font-size:10.5pt}
select{padding-top:4px;padding-bottom:4px}
th.rxd,th.txd,th.rateDown,th.rateUp{font-weight:700}
th.rxd,th.txd,th.rateDown,th.rateUp,td.rxd,td.txd,td.rateDown,td.rateUp,.tName a:link{font-size:10pt}
.txd{text-align:center;padding-right:10px}
.barComplete{padding:2px 0 3px}
.barText{padding:0 0 1px}
.clientid{font-size:8pt}
.configOption::after{content:"";display:inline-block;height:40px;vertical-align:middle}
.configPanel .configTitle,.configPanel .configTitle:hover,.configPanel .configTitle:active{padding-top:8px;font-size:14pt;text-transform:uppercase;font-variant:normal}
.configPanel .configTitle img{margin-top:-2px;display:inline-block;height:24px;width:24px;mix-blend-mode:hard-light}
.knownTracker a{max-width:220px;overflow:hidden;text-overflow:ellipsis;display:inline-block;white-space:nowrap}
.optionlist{columns:500px auto;column-gap:5px}
.snarkAddInfo code,#pagenav,#trackerselect tr:first-child td,.clientid{font-size:9.5pt;font-weight:400}
.snarkAddInfo{font-size:10pt}
.snarkNav.nav_main:link{background-size:17px auto,100% 100%;padding-left:31px}
.snarkNav,#pagenav{font-weight:700}
.iframed .snarkNav:link{padding-top:4px}
#torrentInfo th,#dirInfo th,#totals,#commentInfo th,#configs th{font-size:11pt}
#configs input[name="nofilter_dataDir"],input[name="i2cpOpts"],input[name="nofilter_commentsName"]{width:calc(100% - 205px)}
#configs td{line-height:2;padding-top:4px;padding-bottom:4px}
#configs td b{padding-right:8px;min-width:185px;line-height:1.3;letter-spacing:.08em}
#embed::after{height:14px}
#embed,#fullscreen{margin:-6px -4px -28px;padding:11px 9px 9px 10px}
#pagecount{padding-top:3px;padding-bottom:4px;font-weight:700}
#screenlog li::before{margin-right:2px;background-size:10px 10px}
#torrents thead img{min-height:13px}
#torrents code{letter-spacing:.2em;font-weight:700}
#torrents td code{padding:0 3px;min-width:38px;text-align:center;font-size:8.5pt}
}
@media (max-width:800px){#torrents thead img{min-height:10px}}
@media (max-width:1400px){.iframed #torrents td.tName a{max-width:400px;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}}