@media screen and (min-width: 0) and (max-width: 4000px) {
.iframed #navbar {padding-bottom: 15px}
.snarkNav, #pagenav {font-weight: 700}
.snarkNav:link {padding-top: 3px}
.snarkAddInfo {font-size: 10pt}
.snarkAddInfo code, #pagenav {font-size: 9.5pt}
input[type], select, #configs select, select option, #configs select option, td, td a, #screenlog li, #screenlog li a, textarea, input.r, input[name="nofilter_dataDir"], .configPanel, .configPanel td, .snarkNewTorrent, .snarkNewTorrent td, .snarkAddInfo, #configs td, .trackerconfig td {font-size: 10.5pt}
th.torrentDownloaded, th.torrentUploaded, th.RateDown, th.RateUp, .trackerconfig th, td.torrentDownloaded, td.torrentUploaded, td.RateDown, td.RateUp, .torrentName a:link {font-size: 10pt}
th.torrentDownloaded, th.torrentUploaded, th.RateDown, th.RateUp {font-weight: 700}
#trackerselect tr:first-child td {font-size: 9pt}
#trackerselect td:nth-child(2), #trackerselect td:nth-child(3) {width: 15%}
input[type], a.control {line-height: 130%; display: inline-block}
select, #configs select, #newRating select {padding-top: 3px; padding-bottom: 3px; line-height: 120%; font-size: 10.5pt}
a.control, input[type=submit], input.reload[name="recheck"], input.disabled[name="recheck"] {text-transform: uppercase; letter-spacing: .05em; padding-top: 2px; padding-bottom: 2px}
select, a.control, input[type=submit], input.accept, th, #trackerselect tr:first-child td {font-weight: 400; font-size: 12pt}
.configPanel .configTitle, .configPanel .configTitle:hover, .configPanel .configTitle:active {padding-top: 8px; font-size: 14pt; text-transform: uppercase; font-variant: normal}
.configPanel .configTitle img {margin-top: -2px; display: inline-block; height: 24px; width: 24px; mix-blend-mode: hard-light}
.torrentInfo th, .dirInfo th, #totals, #commentInfo th, #configs th {font-size: 11pt}
#torrents tt {font-size: 9.5pt}
#configs td {line-height: 200%; padding-top: 4px; padding-bottom: 4px}
#embed, #fullscreen {margin: -42px -4px -8px; padding: 0 0 0 10px; font-size: 9pt}
#embed::after {height: 14px}
.knownTracker a {max-width: 220px; overflow: hidden; text-overflow: ellipsis; display: inline-block; white-space: nowrap}
.optionlist {columns: 500px auto; column-gap: 5px}
.configOption::after {content: ""; display: inline-block; height: 40px; vertical-align: middle}
#configs td b {letter-spacing: .08em; min-width: 180px}
#configs input[name="nofilter_dataDir"], input[name="i2cpOpts"], input[name="nofilter_commentsName"] {width: calc(100% - 200px)}
input, button, textarea, select, a {font-weight: 400; font-family: Noto Sans, Open Sans, Segoe UI, Droid Sans, Roboto Sans, Ubuntu, Lucida Grande, Helvetica, Arial, Verdana, sans-serif; line-height: 120%}
}

@media screen and (max-width: 1400px) {
.iframed #torrents td.torrentName a {max-width: 400px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
}