.optbox {
  position: relative;
  width: 20px;
  height: 20px;
  min-width: 0 !important;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  outline: none;
  border: var(--border);
  box-shadow: 0 0 0 1px #000, var(--highlight), inset 3px 3px 3px 1px #000;
  background: linear-gradient(180deg,#020,#001800);
  -moz-appearance: none;
  -webkit-appearance: inherit;
  will-change: transform;
}

.optbox[type=checkbox] {
  border-radius: 1px;
}

.optbox[type=radio] {
  border-radius: 50%;
}

.optbox:hover, .optbox:focus {
  border: 1px solid #5a5 !important;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.9), 0 0 0 2px rgba(255,96,0,.8), inset 0 0 0 1px #020;
  background: #000;
}

.optbox:active {
  background: linear-gradient(0deg,#f60,#d40);
}

.optbox:not(:checked):active {
  box-shadow: var(--btn_shadow_active);
}

.optbox::before {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline-block;
  line-height: .8;
  box-shadow: inset 0 0 2px 2px #6b6, 0 0 1px 1px #000;
  background: linear-gradient(135deg, #5a5, #383);
  transform: scale(1);
  transition: linear transform .05s;
  content: "";
}

.optbox[type=checkbox]::before {
  border-radius: 1px;
  box-shadow: inset 0 0 2px 1px #6b6, 0 0 1px 1px #000;
}

.optbox[type=radio]:checked::before {
  border-radius: 50%;
  background: radial-gradient(at center top, #5a5 55%, #131 90%);
}

.optbox:not(:checked)::before {
  transform: scale(0);
  transition: linear transform .05s;
}

.optbox[disabled] {
  box-shadow: none;
  background: #000;
  opacity: .8;
  pointer-events: none;
}

.optbox[type][disabled]::before {
  box-shadow: none;
  background: #373;
}