/* proxy errors */

@import url(/themes/fonts/DroidSans.css);
@import url(optbox.css);
@import url(chromescroll.css);

:root {
  --camo: url("data:image/svg+xml,%3Csvg viewBox='0 0 240 240' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cfilter id='a'%3E%3CfeTurbulence baseFrequency='.2' numOctaves='4' seed='7' stitchTiles='stitch' type='fractalNoise'/%3E%3CfeTile/%3E%3CfeComponentTransfer%3E%3CfeFuncR slope='0.9469288793103452' tableValues='0 0 0 0 1 1' type='discrete'/%3E%3CfeFuncG slope='1.1477696210488517' tableValues='0 0 0 1 1' type='discrete'/%3E%3CfeFuncB intercept='4.3091942798132177' slope='-1.9643779184626435' tableValues='0 1' type='discrete'/%3E%3CfeFuncA intercept='-3.5179822198275872' slope='3.4636819773706904' type='discrete'/%3E%3C/feComponentTransfer%3E%3CfeColorMatrix values='1 0 0 0 0 -1 1 0 0 0 -1 -1 1 0 0 0 0 0 0 1'/%3E%3CfeColorMatrix type='matrix' values='-0.08 0.42 0.09 0 0.08 -0.17 0.35 -0.08 0 0.17 -0.08 0.15 -0.04 0 0.08 0 0 0 0 1'/%3E%3C/filter%3E%3Cpath d='m-29.6-29.6h256v256h-256z' filter='url(%23a)'/%3E%3Cpath d='m-4-4h256v256h-256z' fill='%23080000' opacity='.7'/%3E%3C/svg%3E");
  --bodyfont: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Bitstream Vera Sans, DejaVu Sans, Verdana, Lucida Grande, Helvetica, sans-serif;
  --monospaced: Droid Sans Mono, Noto Mono, DejaVu Sans Mono, Lucida Console, monospace;
  --h3: repeating-linear-gradient(to right, rgba(0,0,0,.5) 2px, rgba(0,16,0,.5) 4px);
  --h3_fade: linear-gradient(to bottom, #005000, #000 75%);
}

html, body {
  min-height: 100%;
}

html {
  scrollbar-color: rgba(16,72,16,.8) rgba(0,16,0,.5);
  background: repeating-linear-gradient(to bottom, rgba(0,0,0,.9) 2px, rgba(0,18,0,.6) 4px), repeating-linear-gradient(to right, #000 2px, #020 4px) #000;
  background-size: 100% 4px, 4px 100%;
}

::selection {
  color: #000;
  background: rgba(220,220,0,.9) !important;
}

.logo, button, h3, h4 {
  user-select: none;
}

body, button, select {
  font-family: var(--bodyfont);
}

button, select {
  font-size: 9pt;
  font-weight: 700;
}

body {
  color: #ee9;
}

body#proxy_error {
  margin: 5px 0 0 0;
  padding: 0;
  min-height: 100% !important;
  text-align: center;
  font: 8.5pt/130% var(--bodyfont);
}

@supports (text-justify: auto) { /* Firefox 55+ */
  body {
    background-attachment: fixed;
  }
}

h2, h3 {
  background: var(--h3), var(--h3_fade);
  background-size: 4px 100%, 100%;
}

a:link, a:visited {
  color: #494;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
}

a:hover, a:focus {
  color: #f60 !important;
  text-decoration: none;
  outline: none;
}

a:active {
  color: #f90 !important;
}

img {
  border: none;
  font-size: 0;
}

hr {
  margin: 20px 0 10px;
  height: 1px;
  border: none;
  background: #131;
}

hr:last-child {
  margin-top: 20px;
  margin-bottom:
}

button::-moz-focus-inner, input::-moz-focus-inner {
  outline: none;
  border: none;
}

input[type=submit], input[type=reset], select, button {
  padding: 7px 10px;
  line-height: 120%;
  font-size: 9.5pt;
  font-weight: 700;
  color: #494;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #151, inset 0 0 0 2px #000, inset 0 0 2px 2px #040, inset 0 0 0 3px #000, 0 0 0 1px rgba(0,16,0,.2);
  background: linear-gradient(to bottom, #001000, #000 5%, #000 95%, #001000);
}

input[type=submit]:hover, input[type=reset]:hover, input[type=submit]:focus, input[type=reset]:focus,
button:hover, button:focus {
  color: #f60;
  border: 1px solid #f60;
  box-shadow: inset 0 0 0 1px #000, inset 0 0 2px 1px rgba(255,86,0,.8), inset 0 0 0 3px #000 !important;
  background: radial-gradient(at center bottom, rgba(96, 48, 0, .4) 0, rgba(0, 0, 0, 0) 80%), #000;
  cursor: pointer;
}

input[type=submit]:active, input[type=reset]:active, button:active {
  color: #ee9;
  text-shadow: 0 1px 1px #000;
  border: 1px solid #f60;
  box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 2px #310 !important;
  background: #f60;
}

table {
  width: 100%;
}

.logo, .warning {
  animation: ease fade .3s 2s forwards;
}

.logo {
  margin: -5px 20px 0;
  padding: 10px;
  width: 185px;
  float: left;
  position: relative;
  text-align: center;
  font-size: 10pt;
  border: 1px solid #131;
  box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #000;
  background: repeating-linear-gradient(to bottom, rgba(0,0,0,.9) 2px, rgba(0,16,0,.9) 4px), var(--camo) #000;
  background-size: 100% 4px, 1024px;
  opacity: 0;
}

.logo > * {
  text-align: center;
}

.logo a:nth-child(n+2) {
  padding: 10px 0;
  width: 100%;
  display: inline-block;
  line-height: 180%;
  border-bottom: 1px solid #020;
}

.logo a:last-child {
  margin-bottom: -10px;
  border-bottom: none;
}

.logo a img {
  margin: 2px 0 0;
  padding: 0;
  width: 180px;
  text-align: center;
  font-size: 0;
  filter: saturate(.7) opacity(.9);
  transition: ease all .2s;
}

.logo a:hover img {
  filter: saturate(1.2);
  transition: ease all .1s;
}

.logo a:active img {
  filter: saturate(2);
  transition: none;
}

.logo hr {
  margin: 10px -10px 0;
  height: 1px;
  color: #494;
  border: 0 solid #131;
  background: #131;
}

#warning {
  margin: 20px 20px 20px 248px;
  padding: 10px 30px 20px 100px;
  min-width: 300px;
  border: 1px solid #252;
  word-wrap: break-word;
  text-align: justify;
  font-size: 10pt;
  border: 5px solid #010;
  border-image: repeating-linear-gradient(135deg, #010, #010 20px, #660 20px, #660 40px, #010 40px) 5 repeat repeat;
  border-image-width: 5px;
  border-image-outset: 1px;
  box-shadow: inset 0 0 0 1px #700, inset 0 0 0 1px #000, 0 0 0 2px #131, 0 0 0 3px #000, 0 0 0 5px #020, 0 0 0 6px #000;
  background: url(/themes/console/images/itoopie_sm.png) no-repeat,
              repeating-linear-gradient(to bottom, rgba(0,0,0,.9) 2px, rgba(0,16,0,.9) 4px),
              var(--camo);
  background-size: auto 118px, 100% 4px, 100%;
  background-position: 28px calc(50% + 16px);
  opacity: 0;
}

#proxyerror p:first-of-type {
  padding-top: 10px;
}

#warning p, #warning a {
  font-size: 10pt;
  line-height: 130%;
}

#warning p {
  margin: 0 15px 10px 15px;
  font-size: 110%;
}

#warning h3 + p {
  margin-top: 30px !important;
}

#proxyrequest {
  margin: 3px 30px 10px;
  display: inline-block;
}

#warning h3 {
  margin: -9px -29px 15px -99px;
  padding: 9px 10px 7px;
  letter-spacing: .1em;
  text-align: left;
  font-size: 11.5pt;
  text-transform: uppercase;
  text-shadow: 0 0 2px #010;
  border-bottom: 1px solid #700;
}

#warning h4 {
  margin: 12px 15px 10px;
  padding: 0 0 10px;
  font-size: 10pt;
}

#warning h4::after {
  margin: 15px -15px -15px;
  width: calc(100% + 30px);
  height: 1px;
  display: inline-block;
  background: #131;
  content: "";
}

#warning .formaction + h4 {
  margin-top: -10px;
}

#warning h4 + p, #warning br + b {
  padding-left: 20px;
  padding-right: 20px;
}

#warning br + b {
  margin-top: 10px;
}

#warning hr {
  margin: 20px 0 !important;
}

#warning_localhost {
  margin: 20px;
  background-position: 20px calc(50% + 16px);
}

#warning_localhost p {
  padding: 20px 10px 15px;
}

#warning_localhost + .proxyfooter {
  display: none !important;
}

#warning .formaction {
  padding: 10px 0 0;
  text-align: right;
}

#jumplinks {
  margin-bottom: 15px;
}

#jumplinks h4 {
  margin-bottom: 13px;
  padding-bottom: 10px;
}

#jumplinks a {
  margin: 3px 15px 3px 30px;
  padding: 2px 0;
  display: inline-block;
  line-height: 16px;
}

#jumplinks a::before {
  margin-right: 4px;
  padding: 3px 0;
  display: inline-block;
  vertical-align: sub;
  line-height: 16px;
  font-size: 20pt;
  content: "\279F\00A0";
}

#b64, #key {
  white-space: pre-wrap;
  word-break: break-all;
  text-align: justify;
  font-family: var(--monospaced);
  font-size: 90%;
  user-select: all;
}

#key {
  margin: 20px 0 25px;
  padding: 10px 14px;
  border: 1px solid #131;
  background: #000;
}

#warning h4 {
  text-align: left;
  font-size: 10pt;
  box-shadow: none !important;
}

#warning p + .formaction {
  margin: 0 0 20px;
}

#denied {
  padding: 30px 0;
  font-weight: 700;
}

#proxyNewAddressHelper .proxyfooter {
  display: none;
}

#proxyNewHost {
  margin: 20px auto -6px;
  border-collapse: collapse;
}

#proxyNewHost + hr {
  display: none;
}

#proxyNewHost td {
  padding: 8px !important;
  font-size: 10pt !important;
  border: 1px solid #131;
  background: #000;
}

#proxyNewHost td:first-child {
  font-weight: 700;
}

#proxyNewHost a {
  display: inline-block;
  word-break: break-all;
}

#proxyNewAddressHelper #warning {
  padding-bottom: 16px;
}

#proxyNewAddressHelper #warning hr {
  margin-left: -6px !important;
  margin-right: -6px !important;
}

.option {
  padding: 10px 20px 0;
  border: 1px solid #252;
  box-shadow: 0 0 0 1px #000, 0 0 0 5px #141, 0 0 0 6px #000;
  background: linear-gradient(to bottom, rgba(0,32,0,.5), rgba(0,16,0,.5));
}

#warning .option h4 {
  margin-bottom: 24px;
}

#warning .option p {
  margin: 5px 20px;
}

.option .formaction {
  margin: 20px -20px 0 !important;
  padding: 12px 10px !important;
  border-top: 1px solid #252;
  background: #010;
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@media screen and (max-width: 800px) {
  #warning {
    margin-left: 20px !important;
    margin-top: 140px !important;
    padding: 5px 20px 15px !important;
    background: repeating-linear-gradient(to bottom, rgba(0,0,0,.8) 1px, rgba(0,0,0,.8) 2px, rgba(0,32,0,.8) 3px), url(images/camotile2.png) !important;
  }

  #proxyerror #warning {
    margin-top: 20px !important;
  }

  #warning h3 {
    margin: -4px -19px 10px !important;
  }

  #warning h3 + p {
    margin-top: 15px !important;
  }

  .logo {
    margin: 0 16px;
    width: calc(100% - 53px) !important;
    min-width: 330px;
    position: absolute;
    top: 16px;
    z-index: 999;
  }

  .logo a {
    margin-top: 10px !important;
    padding: 2px 5px !important;
    width: auto !important;
  }

  .logo a img {
    margin-bottom: -4px;
    margin-top: -2px;
    padding: 0 !important;
  }

  .logo a:nth-child(n+2) {
    border: none !important;
  }

  #jumplinks {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-height: 700px) {
  .proxyfooter {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 20px 0 0;
    text-align: right;
    background: #030;
    width: 100%;
    opacity: .7;
    border-top: 1px solid #000;
    display: none; /* hide until we resolve position */
}

  .proxyfooter p {
    margin: 5px 0;
    line-height: 130% !important;
    text-align: right;
}

  #warning {
    margin-bottom: 30px;
  }
}

@media screen and (max-height: 700px) {
  .proxyfooter {
    display: none;
  }
}