/* I2P+ Dark theme wizard specifics */
/* Author: dr|z3d */

@import url(global.css);

.wizardbuttons{margin-bottom:10px}
html#consolewizard{background:var(--vstripe) #000}
body#wizardpage{background:none}
#bandwidthTestRunning{margin:10px 0;padding:10px;width:100%;text-align:center;font-style:italic;font-weight:700;border:var(--border);box-shadow:inset 0 0 0 1px #000,inset 0 3px 3px rgba(0,0,0,.7);background:linear-gradient(180deg,rgba(255,255,255,.05),rgba(0,0,0,.3)),repeating-linear-gradient(90deg,rgba(0,0,0,.3),rgba(0,0,0,.1) 10px,rgba(0,32,0,.3) 10px,rgba(0,32,0,.3) 20px) #010;background-size:400%;animation:progress 360s 3s linear infinite both}
#config_ui + .wizardbuttons{margin:-14px 0 10px}
#setupwizard input[name="skipbw"],#setupwizard input[name="cancelbw"]{float:left}
#setupwizard .langselect{display:inline-block;float:none}
#wizardpage h3 + .configtable{margin-top:-11px}
#wizardpage td{line-height:1.4}
#wizardpage .langselect{margin:3px 0 4px 4px}
#wizardpage .sb form{margin:0;padding:3px 0 7px;box-shadow:none}
#wizardpage .sb h3,#wizardpage .sb h3:hover,#wizardpage .sb h3:active{margin:-7px -10px -9px;width:calc(100% + 20px);box-shadow:var(--lowlight);mix-blend-mode:normal;background:var(--h3) center center/4px 100%,var(--navbar)}
#wizardpage .sb hr{width:calc(100% + 20px);margin:9px -10px 7px}
#wizardpage .yes,#wizardpage .no{vertical-align:middle;font-size:0;display:inline-block;width:20px;height:20px}
#wizardpage .no{background:var(--no) no-repeat center center/11px}
#wizardpage .yes{background:var(--yes) no-repeat center center/12px}
#wizard h3{border-left-width:1px;border-radius:0}
#wizard h3:first-of-type{margin-top:10px}
#wizard p{margin:-10px 0;padding:10px 15px;font-size:110%;border-left:var(--border);border-right:var(--border)}
#wizard p.infohelp,#wizard #bandwidthconfig tr:first-child .infohelp{padding:32px 24px 32px 86px;background-size:48px;background-position:20px center}
#wizard p.infohelp{margin:10px 0 0}
#wizard p:not(.infohelp):last-of-type{padding-bottom:20px}
#wizard .infohelp{font-size:115%}
#wizardpage #bandwidthconfig tr:nth-child(n+2) td:last-child:not(.infohelp){background:#000800}
#wizardpage #langsettings{padding:7px 50px 6px 6px;background:url(/themes/console/images/bot.webp) no-repeat right 6px bottom/100px auto,var(--bg_dots)}
#wizardpage #langsettings label[for="xx"]{display:none}
#wizardpage #messages{animation:hide-up .5s ease-out 3.5s forwards!important}
#wizardpage #messages li{padding:0;text-align:center}
#xhr #bandwidth{padding:38px 24px 38px 86px;width:100%;position:absolute;top:-10px;left:-1px;right:-1px}

@media (min-width:1500px){#wizardpage #sb_logo{padding:9px 10px 16px}#wizardpage select{font-size:inherit}}