/* I2P+ SusiDNS shared css selectors */
/* Author: dr|z3d */

main{position:relative}
.displayPanels #book,.displayPanels #buttons{pointer-events:none!important;user-select:none!important}
.displayPanels main::after{display:block;position:fixed;z-index:1000;backdrop-filter:blur(2px) saturate(.5);content:"";pointer-events:none;will-change:transform}
#bls textarea{height:400px;resize:vertical}
#host_list th{font-size:90%}
#host_list .added,#host_list .b32link,#host_list .helper,#host_list .source,#host_list .status,#host_list .type,#host_list .encryption{padding:4px 10px!important;width:5%!important;text-align:center;white-space:nowrap}
#host_list .source a{width:24px;height:24px;overflow:hidden;display:inline-block;vertical-align:middle;color:#0000;text-shadow:none;background:url(/themes/console/images/eepsites/registrar.svg) no-repeat center center/20px;transition:ease all .1s}
#host_list .source a.manualAdd{background-image:var(--add);background-size:17px}
#host_list .source a.viaHelper{background-image:var(--helper)}
#host_list .source a.hostsImport{background-image:var(--download);background-size:21px}
#host_list .source a[href^="http://notbob.i2p"]{background-image:url(/themes/console/images/eepsites/notbob.png)}
#host_list .source a[href^="http://reg.i2p"]{background-image:url(/themes/console/images/eepsites/reg.svg)}
#host_list .source a[href^="http://skank.i2p"]{background-image:url(/themes/console/images/plus.svg)}
#host_list .source a[href^="http://stats.i2p"]{background-image:url(/themes/console/images/stats.svg)}
#host_list .source a:hover{transform:scale(1.2);transition:ease all .1s}
#host_list .up,#host_list .down,#host_list .untested{width:10px;height:10px;display:inline-block;border-radius:50%;background:#0f0}
#host_list .down{background:#f00}
#host_list .untested{background:#ff0}
#host_list .type .None{color:#666;font-style:italic}
#host_list .type .Hidden{color:#f38630;font-weight:bold}
#host_list .type .Signed{color:#6fbf59;font-weight:bold}
#host_list .type .Key{color:#69c;font-weight:bold}
#host_list td.encryption span {margin:0 1px;padding:1px 6px;display:inline-block;box-shadow:var(--bevel);background:var(--badge)}
#add,#import{will-change:transform}
.iframed .displayPanels #add,.iframed .displayPanels #import{top:-9px;left:-13px;right:-13px}
.displayPanels #add,.displayPanels #import{margin:0;position:absolute;z-index:1500;top:-13px;left:0;right:0;animation:slideDown .8s ease-out 0s both}
.noscroll{overflow-y:hidden;contain:paint}
#add.isHidden,#import.isHidden{animation:slideUp 1s ease 0s both}
#navi{position:relative;z-index:2000}
#toggleAllHosts{margin:0;width:16px;height:16px;opacity:0}
#toggleAllHosts:hover{cursor:pointer}
#deadHosts:hover{background-size:18px!important}
#deadHosts:active{background-size:16px!important}
@keyframes slideDown{from{transform:translateY(-800px)}to{transform:translateY(0)}}
@keyframes slideUp{from{transform:translateY(0)}to{transform:translateY(-800px)}}
@media (max-width:1199px){
  #host_list th{font-size:80%!important}
  #host_list .added,#host_list .b32link,#host_list .helper,#host_list .source{padding-left:4px;padding-right:4px;min-width:0!important}
}

td.type {font-size:0}
td.type span,td.type span.unknown{padding:0;width:20px;height:20px;display:inline-block;border:0;background:url(/themes/console/images/planet.svg) no-repeat center center/20px}
td.type span.cryptocoin{background-image:url(/themes/console/images/eepsites/cryptocoin.svg)}
td.type span.drugs{background-image:url(/themes/console/images/eepsites/cannabis.svg)}
td.type span.ebook{background-image:url(/themes/console/images/eepsites/books.svg)}
td.type span.filehost{background-image:url(/themes/console/images/eepsites/filehost.svg)}
td.type span.fileshare{background-image:url(/themes/console/images/eepsites/fileshare.svg)}
td.type span.forum{background-image:url(/themes/console/images/eepsites/forum.svg)}
td.type span.gallery{background-image:url(/themes/console/images/eepsites/gallery.svg)}
td.type span.game{background-image:url(/themes/console/images/eepsites/game.svg)}
td.type span.git{background-image:url(/themes/console/images/eepsites/git.svg)}
td.type span.help{background-image:url(/themes/console/images/help.svg)}
td.type span.humanrights{background-image:url(/themes/console/images/eepsites/humanrights.svg)}
td.type span.i2p{background-image:url(/themes/console/images/eepsites/i2p.svg)}
td.type span.news{background-image:url(/themes/console/images/news.svg)}
td.type span.pastebin{background-image:url(/themes/console/images/paste.svg)}
td.type span.personal{background-image:url(/themes/console/images/eepsites/personal.svg)}
td.type span.radio{background-image:url(/themes/console/images/eepsites/radio.svg)}
td.type span.search{background-image:url(/themes/console/images/search.svg)}
td.type span.software{background-image:url(/themes/console/images/package.svg)}
td.type span.stats{background-image:url(/themes/console/images/stats.svg)}
td.type span.tool{background-image:url(/themes/console/images/wrench.svg)}
td.type span.tracker{background-image:url(/themes/console/images/magnet.svg)}
td.type span.uhoh{background-image:url(/themes/console/images/eepsites/uhoh.svg)}
td.type span.video{background-image:url(/themes/console/images/eepsites/video.svg)}
td.type span.warning{background-image:url(/themes/console/images/eepsites/warning.svg)}
td.type span.wiki{background-image:url(/themes/console/images/wiki.svg)}
td.type span.wip{background-image:url(/themes/console/images/eepsites/wip.svg)}
