/* I2P Theme: Midnight - Arabic override */
/* Description: Dark blue with chrome highlights */
/* Author: dr|z3d */

body {direction: rtl}
table {direction: rtl}
td {text-align: right}
h1[class]{margin: 0 212px 0 5px}
h1[class], h2, h3, h4 {direction: rtl; text-align: right}
form {text-align: right}
.cells {text-align: center}
.formaction {text-align: left}
.main {margin: -1px 205px 5px 5px}
.main, .news, h1[class], .sorry, #warning.sorry {margin-right: 212px; margin-left: 5px}
.main li {margin: 5px 20px; text-align: right; line-height: 150%}
.news {margin: -1px 205px 0px 5px; direction: ltr}
.news h3, #newspage h3 {direction: ltr}
button.search {margin-right: 30px}
.applink:hover .appicon .extlink::after {left: -1px; top: -1px; right: auto; border: 1px solid #743c93; border-top: none; border-left: none}
#applinks a, #sitelinks a {float: left}
#applinks, #sitelinks {padding: 7px 34px 7px 8px; text-align: right; background: url(images/favicon.svg) no-repeat right 10px center, linear-gradient(180deg,#191729, #000 75%); background: url(images/favicon.svg) no-repeat right 10px center, linear-gradient(90deg, rgba(0,0,16,.5), rgba(0,0,0,0) 30%, rgba(16,0,16,.1)), linear-gradient(180deg,#191729 50%, #001 50%); background-size: 16px 16px, 100% 100%, 100% 100%}
#sitelinks {background: var(--globe) no-repeat right 10px center, linear-gradient(180deg,#191729, #000 75%); background: var(--globe) no-repeat right 10px center, linear-gradient(90deg, rgba(0,0,16,.5), rgba(0,0,0,0) 30%, rgba(16,0,16,.1)), linear-gradient(180deg,#191729 50%, #001 50%)}
.joblog li {text-align: left; direction: ltr}
#newtab {text-align: left; font-size: 8pt; float: left; letter-spacing: 0}
.sb form {text-align: center}
.tab2::before, .tab2::after {display: none}
.tunnels {padding: -3px 0}
.tunnels table {margin: 0 -7px 0 5px}
.optionsingle p {padding: 15px 55px 15px 15px}
.optionsingle table {margin-right: 0}
.sub-option label {min-width: 0; width: auto}
.sub-option .optbox, #config_update .suboption .optbox {margin-right: 0; margin-left: 5px}
.suboption {padding-left: 18px}
td.optionsave {text-align: left}
p.infowarn, td.infowarn {background: #000 url(images/infowarn.png) no-repeat right 8px center}

/* sidebar */
#sb_wrap {margin-right: 1px !important}
.sb img[src$="i2plogo.png"] {width: 190px; margin: -1px -5px 0 0}
.sb h3, .sb h4, .sb a, .sb b {text-align: center; font-weight: 400}
.sb h3, .sb h3 a {font-weight: 700; padding: 3px 2px}
.sb h3, .sb h4 {font-size: 11pt}
.sb td {text-align: right}
.sb td:last-child {text-align: left; margin-left: 3px}
.sb td:first-child {text-align: right}
.percentBarOuter {margin: -3px -6px -5px 0}
.sb_info .percentBarOuter {margin: 5px 0 -4px -2px}
.sb_updatestatus b {font-weight: 700}
.sb_updatestatus, .sb_info .percentBarText {font-size: 9pt}
.sb_info .percentBarText {padding-top: 0; direction: ltr}
.sb td a, .sb td:first-child {font-size: 10pt}
#sb_services td, #sb_internals td, #sb_advanced td {text-align: center}
#sidebar td:first-child, #sb_localtunnels td:nth-child(2) {text-align: right}
#sidebar td:last-child {text-align: left}
#sb_localtunnels td:nth-child(2), #sb_localtunnels a {text-align: right}
#sb_localtunnels td:last-child {text-align: left}
#sb_bandwidthgraph {margin: -13px -8px 0 0}
#sb_graphcontainer {background-position: left -72px top -24px}
#sb_newsheadings td a {font-size: 9pt; font-weight: 700}
#sb_newsheadings td, #sb_newsheadings tr:hover td {background-position: right 4px center; padding-right: 22px; padding-left: 8px; text-align: right}

/* theme selection */
.themechoice, .langselect {float: right}
.themechoice {padding: 5px}
.themechoice .optbox {position: absolute; padding: 2px; margin-right: -33px; margin-left: 0; min-height: 78px}
.themechoice .optbox + img {border: 1px solid transparent}
.themechoice .optbox + img, .themechoice .optbox:checked + img {margin: 5px; padding: 0}
.themelabel {margin: 0 -5px -5px}

.tunnel_id:empty + .tunnel_cap {display: inline-block; margin-left: 0; margin-right: 12px}
.tunnel_local {margin-right: -4px; margin-left: 4px; text-align: center}
.tunnel_peer {text-align: left}

#advancedsettings p.infohelp {margin: 12px 0 -2px}
#bandwidthconfig td:first-child:not(.infohelp) {padding: 0 5px 0 80px; background: url(/themes/console/images/info/arrow_left.png) no-repeat 30px center}
#bannedips, #bannedips table {direction: ltr}
#clientconfig td:nth-child(2) {text-align: center}
#clientconfig th:first-child, #clientconfig td:first-child, #loggingoptions td:first-child, #i2pupdates td:first-child, #tunnelconfig td:first-child, #i2pupdates textarea, #addkeyring td:first-child, #reseedconfig td:first-child {text-align: left}
#config_logging p, #reseedconfig td.infohelp {text-align: right}
#config_reseed .confignav + .infohelp + form {margin-left: -16px; margin-right: 16px}
#config_reseed #reseedurl, #config_reseed #reseedzip, #config_reseed #reseedcreatefile, #config_reseed #reseedurl:hover, #config_reseed #reseedzip:hover, #config_reseed #reseedcreatefile:hover {background-position: right 10px center; padding: 10px 45px 10px 10px}
#configstats td:first-child {text-align: center}
#configstats td:nth-child(2) {padding-right: 15px}
#configstats td.optionsave {text-align: left}
#configstats th {text-align: right}
.configtable td.infohelp, p.infohelp, td.infohelp, p#debugmode, p#sybilinfo, p.infowarn, td.infowarn, p#keyringhelp, h3#shutdownrouter + p, h3#restartrouter + p, h3#servicedebug + p, h3#browseronstart + p, h3#runonstartup + p, h3#systray + p {padding: 15px 45px 15px 15px; background: #000 var(--infohelp) no-repeat right 8px center / 28px}
#config_update .messages a {margin: 0 5px; float: left}
#config_update .messages {padding: 15px 55px 15px 15px; background: #000 var(--infohelp) no-repeat right 10px center / 28px; text-align: right}
#config_update .suboption label[for="newsThroughProxy"] {margin-right: 5px; margin-left: 15px}
#consolepass input[name="nofilter_pw"], #externali2cp input[name="nofilter_pw"], #consolepass input[name="nofilter_pw"]:focus, #externali2cp input[name="nofilter_pw"]:focus, #consolepass input[name="name"], #externali2cp input[name="user"], #consolepass input[name="name"]:focus, #externali2cp input[name="user"]:focus {background-position: right 3px center, center center; padding: 4px 20px 4px 4px; margin: 5px 3px 5px 15px}
#consolepass tr:first-child td, p#clientconf.infohelp, p#webappconfigtext.infohelp, #floodfillconfig .infohelp, #bandwidthconfig tr:first-child .infohelp, h3#shutdownrouter + p.infohelp, h3#restartrouter + p.infohelp, h3#systray + p.infohelp, h3#servicedebug + p.infohelp, h3#browseronstart + p.infohelp, #addkeyring td:first-child, #config_peers tr:nth-child(3) td.infohelp, #config_reseed.main p.infohelp, #plugininstall tr:nth-child(3) td:nth-last-child(2), #manualreseed tr:nth-child(3) td:nth-last-child(2), #manualreseed tr:nth-child(5) td:nth-last-child(2), #plugininstall2 tr:nth-child(2) td:nth-last-child(2), #manualreseed tr:nth-last-child(2) td.infohelp, p#enablefullstats, p#gatherstats, p#pluginconfigtext, #plugininstall .infohelp, #config_family .infohelp, #joinfamily tr:nth-child(3) td:first-child, #newfamily tr:last-child td:first-child, #config_summarybar .configtable td:not(.optionsave), #bugreports td.infohelp {background-position: right 12px center; padding: 15px 50px 15px 15px}
#criticallogs ul {border: none}
#debug {direction: ltr}
div[lang="ar"] ul, div[lang="ar"] p {margin: 10px}
div[lang="ar"] ul li {list-style-image: url("images/link.png"); list-style-position: outside; margin-left: 0; padding-left: 0; margin-top: 15px; margin-right: 50px}
#eventlog th {text-align: right; padding-right: 10px}
h3#iptransport a, th#upnpconfig a, h3#bwlimiter a, #config_stats h3 a, #config_logging h3 a, h3#graphdisplay a, #logs h3 a, h3#advancedconfig a {float: left}
.h3navlinks, h3#servicedebug a, h3#graphinfo a, #config_stats.main h3 a, #config_logging.main h3 a, #configstats th a {float: left}
.homelinkedit th:nth-child(3), .homelinkedit th:last-child {text-align: right}
#i2pupdates .optbox {margin-right: 10px}
#i2pupdates td:first-child, #reseedconfig td:first-child, #configstats tr:last-child td, textarea[name="levels"] {text-align: right}
input[type="file"]:hover {border-radius: 15px 0 0 15px; background: linear-gradient(to left, rgba(0,0,0,0), #003)}
input[type=submit], input[type="reset"], input[type=submit]:hover, input[type="reset"]:hover, input[type=submit]:focus, input[type="reset"]:focus, input[type=submit]:active, input[type="reset"]:active {background-position: right 6px center; padding: 5px 23px 7px 7px; max-height: 28px}
#installPluginFile td:last-child, #installPluginUrl td:last-child, #newfamily table td:last-child, #joinfamily table td:last-child {padding: 10px 15px 10px 0}
#installPluginUrl {padding: 5px}
#installPluginUrl td:first-child, #plugininstall tr:nth-child(n+2) table td:first-child {background-position: right 8px center; padding-right: 45px}
#jardump.main th:nth-child(1), #jardump.main th:nth-child(3), #jardump.main th:nth-child(6), #jardump.main th:nth-child(7) {text-align: right}
#joinfamily tr:nth-child(3) td:first-child, #newfamily tr:last-child td:first-child {padding: 5px}
#manualreseed .optionsingle, #newfamily .optionsingle, #joinfamily .optionsingle, #manualreseed .optionsingle:hover , #newfamily .optionsingle:hover, #joinfamily .optionsingle:hover {padding: 5px 45px 5px 5px; background-position: right 8px center}
p#helptranslate, #floodfillconfig tr:first-child .infohelp {padding-right: 50px; text-align: right; background: var(--infohelp) no-repeat right 12px center / 28px}
#pluginconfig td:first-child label {margin-right: 6px; padding: 3px 24px 3px 5px; text-align: right; border-radius: 15px 2px 2px 15px; background: var(--plugin) no-repeat right 5px center, linear-gradient(180deg,#003, #000); background-size: 14px, 100%}
#pluginconfigtext + form {float: left; margin-left: 8px}
#reseedconfig input {margin-left: 8px; margin-right: 0}
#reseedconfig {margin-right: -16px}
#reseedconfig textarea {width: calc(100% - 20px)}
#reseedsetup a {float: left}
#reseedsetup {margin-left: 16px; margin-right: -16px}
#reseedurl input[type=text], #reseedzip input[type="file"], #reseedcreatefile p {width: calc(100% - 20px)}
#schedjobs td {text-align: center}
select, select:hover, select:focus, select:active {background-position: left center; padding: 4px 4px 4px 16px}
#sidebarconf select {margin-right: 0; width: calc(100% - 5px)}
#sidebarconf td:nth-child(3) {padding-left: 0; text-align: left}
#sidebarconf td:nth-child(4) {padding-right: 0}
#sidebarconf th:first-child, #sidebarconf td:first-child {width: 1%; text-align: center}
#sidebarconf th:nth-child(1), #sidebarconf th:nth-child(2) {text-align: right}
#addkeyring td.infohelp {text-align: right}
#enviro td:first-child {text-align: left}
textarea[name="trustedKeys"] {direction: ltr}
#tunnelconfig th {text-align: right}
#tunnels.main h3 a {float: left}
#updateHelper b, #updateProxyHostPort b, #i2pupdates b {text-align: left}
#wrapperlogs pre, table[id$="logs"] ul, .logtable ul li {direction: ltr; text-align: left}
#netconfig th, #externali2cp th, #plugininstall th, #plugininstall2 th, .configtable th, th.th_title {text-align: right}

/* netdb */
.leaseset th:last-child, .leaseset td:last-child, .sybil_routerinfo th:last-child, .sybil_routerinfo td:last-child {border-right: none}
.netdbentry th a img {margin-left: 6px}
.netdbentry th:last-child, #leasesetdebug td:nth-child(2n+1) {text-align: left}
#netdboverview th, .netdbentry th, #leasesetdebug td:nth-child(2n) {text-align: right}
.leaseset th {text-align: right}
.leaseset th:last-child, .leaseset td:nth-child(2) {text-align: left}
.leaseset th:first-child b {float: right}
#leasesetdebug th:first-child, #leasesetsummary th:first-child {text-align: right}
#leasesetdebug th:last-child, #leasesetsummary th:last-child {text-align: left}
#leasesetdebug th, #leasesetsummary th {padding: 5px}
.sybil_routerinfo th:first-child {text-align: right}
.sybil_routerinfo th img[src^="/flags"], .netdbentry th a img {margin-left: 5px}
.sybil_routerinfo th:nth-last-child(2) {padding-left: 0; text-align: left}
.sybil_routerinfo th {padding: 1px 3px 1px 1px}
#sybilnav ul li a {padding-right: 0}

@media screen and (max-width: 1500px) {
body {margin: 5px 10px 0 0}
}

@media screen and (min-width: 1500px) {
.main, .news, h1[class], .sorry, #warning.sorry {margin-right: 268px; margin-left: 0}
.sb img[src$="i2plogo.png"] {width: 204px; margin: -2px -4px 0 0}
.sb h4 {font-size: 11pt}
.sb td, .sb a {font-size: 10pt}
div[lang="ar"], div[lang="ar"] code, div[lang="ar"] b {font-size: 11pt}
}

@media screen and (min-width: 1840px) {
.sb {width: 200px}
.sb #sb_logo {height: 40px; margin-top: 1px}
.sb img[src$="i2plogo.png"] {width: 204px}
.sb table[id^="sb_"], #sb_localtunnels {width: 216px}
.sb button, .sb .stop, .sb .reload {min-width: 100px}
.sb td:first-child {max-width: 90px}
.percentBarOuter {width: 210px}
#sb_services {width: 220px}
#sb_newsheadings table {width: 218px}
#sb_newsheadings td:first-child {max-width: 200px; width: 200px}
#sb_graphcontainer {background-size: 300px 77px}
}