/* Console Theme "Midnight" - Mobile Override */

body {
  padding: 0 5px;
  margin: 5px 0 0 !important;
}

div#xhr {
  width: 617px;
  margin: 0 auto;
}

#sb_wrap {
  position: relative;
  float: none;
  width: auto;
  margin: 0 0 5px;
}

.sb {
  float: none;
  width: 600px;
  margin: 0 auto;
}

@media screen and (min-width: 1500px) {
.sb {
  width: 600px !important;
}

.sb table[id^="sb_"] {
  width: 600px !important;
}
}

#sb_logo + a, a[href="/summaryframe"] {
  display: inline-block;
  margin: 12px 0 0 !important;
  padding: 4px 15px !important;
  border-radius: 15px;
  border: 1px solid #241f69;
}

a[href="/summaryframe"] {
  margin: 3px 0 2px !important;
}

.sb td,
.sb a,
.sb h4,
.sb h4 a,
.sb button {
  font-size: 10pt !important;
}

.sb h3 a {
  font-size: 11pt !important;
  padding: 3px 1px;
}

.sb table,
.sb table[id^="sb_"] {
  min-width: 100% !important;
  min-width: calc(100% - 1px) !important;
  margin-bottom: -6px !important;
}

#sb_localtunnels {
  margin-top: -5px !important;
}

.sb tr:nth-child(odd) td {
  padding: 3px;
  background: #000100;
}

.sb tr:nth-child(even) td {
  padding: 3px;
  background: #000018;
}

.sb tr td {
  border-top: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
}

.sb tr:hover td {
  border-top: 1px solid #004 !important;
  border-bottom: 1px solid #004 !important;
}

.sb tr:hover td {
  background: #002;
}

.sb h3,
.sb h4,
.sb hr {
  margin-right: 7px !important;
  margin-left: -10px !important;
}

.sb h4 {
  margin: -6px 7px -8px -10px !important;
}

.sb form {
  margin: -2px 5px -4px -11px !important;
}

.sb button[type=submit], .sb button[type=reset] {
  margin: 5px 10px !important;
  padding: 8px 5px !important;
  min-width: 120px !important;
}

h1 {
  min-width: 570px;
  margin: 0 !important;
}

div.news {
  min-width: 580px;
  margin: -1px 0 0;
}

div.main {
  min-width: 580px;
  margin: -1px 0 !important;
}

.sorry {
  margin: -1px 0 0;
}

@media screen and (min-width: 1500px) {
div.news {
  margin: -1px 0 0 !important;
}

div.main {
  margin: -1px 0 !important;
}

.sorry {
  margin: -1px 0 0 !important;
}
}