:root {
  --a: #7171d1;
  --a_hover: #bf2295;
  --border_inner: 1px solid rgba(38,35,92,.7);
  --border_input: #27235c;
}

::placeholder {
  font-size: 90%;
  font-style: italic;
  opacity: .4 !important;
}

input::placeholder {
  color: #aaf;
  font-weight: 700;
}

:focus::placeholder {
  opacity: 0 !important;
}

input {
  margin: 3px;
  font: bold 9pt var(--bodyfont);
}

input[type=image] {
  min-width: 0;
}

label {
  cursor: pointer;
}

input:hover, input:focus {
  color: var(--a_hover);
  border: 1px solid var(--hover);
  box-shadow: inset 0 1px 1px 0 var(--ink);
  background: #000;
  cursor: pointer;
}

input:active {
  color: var(--ink);
  border: 1px solid var(--hover);
  box-shadow: var(--highlight);
  background: #000;
}

input[type=text], input[type=password], textarea {
  padding: 6px 8px;
  color: var(--a) !important;
  border: 1px solid #27235c !important;
  box-shadow: var(--highlight), 0 0 0 1px #000;
  background: #000;
  cursor: text;
}

input[type=text], input[type=password] {
  margin: 5px 10px;
  padding: 6px 8px;
  color: var(--ink);
  text-decoration: none;
  font: bold 9pt var(--bodyfont);
  border: var(--border_input);
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
  color: var(--ink) !important;
  border: 1px solid #6466a5 !important;
  box-shadow: 0 0 0 1px rgba(101, 39, 135, .5), 0 0 2px 2px #202, inset 3px 3px 3px #000;
  background: linear-gradient(180deg,#002,#000028);
  transition: filter ease .3s;
}

button::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner {
  outline: none;
  border: none;
}

textarea {
  margin: 10px;
  padding: 3px 8px;
  width: calc(100% - 15px);
  min-height: 100px;
  min-width: 97%;
  text-align: left;
  font: 9pt var(--monospaced);
  color: var(--ink);
  box-shadow: inset 1px 1px 1px 0 #000;
  resize: none;
  scrollbar-width: thin !important;
}

textarea:focus {
  scrollbar-width: auto !important;
}

input[type="file"] {
  margin: 5px 10px;
  padding: 0;
  font-weight: 400;
  color: var(--ink);
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
}

input[type="file"]:hover, input[type="file"]:active {
  color: var(--hover);
}

input:disabled {
  cursor: not-allowed;
}

input[type=text]:disabled, input[readonly], input[readonly]:focus {
  color: #26235c !important;
  border: var(--border_inner);
  box-shadow: none;
  background: linear-gradient(180deg,#000, #000019);
  filter: none;
  cursor: not-allowed;
}

select {
  margin: 5px 10px;
  padding: 5px 24px 5px 6px;
  min-width: 110px;
  appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
  font: bold 9pt var(--bodyfont);
  color: var(--a);
  text-align: center;
  border: 1px solid #27235c;
  cursor: pointer;
  background: var(--dropdown) center right 10px no-repeat, var(--btn);
  background-size: 10px auto, 100% !important;
  filter: none !important;
}

select option {
  font-weight: 400;
  font-size: 9.5pt;
  color: #000;
  box-shadow: inset 0 0 20px 20px #000;
}

select option:hover, select option:focus, select option:checked {
  box-shadow: inset 0 0 20px 20px var(--hover);
}

select:hover, select:focus, select:active {
  color: var(--hover);
  text-shadow: 0 1px 1px #000;
  border: 1px solid var(--hover) !important;
  background: var(--dropdown_hover) center right 10px no-repeat, var(--btn_hover) !important;
  background-size: 10px auto, 100% !important;
}

select[disabled], select[disabled]:hover, select[disabled]:focus, select[disabled]:active {
  color: var(--a) !important;
  border: 1px solid #27235c !important;
  box-shadow: var(--highlight), 0 0 0 1px #000 !important;
  background: var(--btn) !important;
  opacity: .7;
  cursor: default;
}

button, input[type=submit], input[type=reset], select {
  border-radius: 1px;
  box-shadow: var(--highlight), inset 0 0 2px 0 #559;
  background: 8px 5px no-repeat, var(-button);
  cursor: pointer;
}

button, button:visited, input[type=submit], input[type=reset] {
  margin: 2px 3px;
  padding: 5px 4px;
  font: bold 9pt var(--bodyfont);
  color: var(--a);
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  vertical-align: middle;
  border: 1px solid #27235c;
  background: var(--btn);
}

input[type=file]::file-selector-button {
  margin: 2px 10px 2px 3px;
  padding: 5px 8px;
  vertical-align: middle;
  font: bold 100% var(--bodyfont);
  color: var(--a);
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1px #000;
  border: 1px solid #27235c;
  border-radius: 1px;
  box-shadow: var(--highlight), inset 0 0 2px 0 #559;
  background: var(--btn);
  cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover, button:hover, button:focus,
input[type=submit]:focus, input[type=reset]:focus, select:hover, select:focus {
  color: var(--a_hover);
  border: 1px solid var(--hover);
  box-shadow: var(--highlight), inset 0 0 2px 1px #757;
  cursor: pointer;
}

input[type=file]:hover::file-selector-button, input[type=file]:focus::file-selector-button {
  color: var(--a_hover);
  border: 1px solid var(--hover);
  box-shadow: var(--highlight), inset 0 0 2px 1px #757;
  background: var(--btn_hover);
  cursor: pointer;
}

input[type=file]:active::file-selector-button {
  background: var(--hover);
}

input[type=submit], input[type=reset], button {
  min-width: 0 !important;
  background-size: 12px, 100%;
}

input[type=submit]:hover, input[type=reset]:hover, button:hover {
  background-size: 12px, 100%;
}

input[type=submit]:active, input[type=reset]:active, button:active {
  color: #83529f !important;
  text-shadow: 0 1px 1px #3c1751;
  border: 1px solid var(--hover);
  box-shadow: var(--highlight), inset 3px 3px 3px #000;
  background: var(--hover);
  background-size: 12px, 100%;
  background-blend-mode: luminosity;
}

input[type=file]:active::file-selector-button {
  color: #83529f !important;
  text-shadow: 0 1px 1px #3c1751;
  border: 1px solid var(--hover);
  box-shadow: var(--highlight), inset 3px 3px 3px #000;
  background: var(--hover);
  background-size: 14px, 100%;
  background-blend-mode: luminosity !important;
}

.optbox {
  width: 21px !important;
  height: 21px !important;
  position: relative;
  vertical-align: middle !important;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #27235c !important;
  box-shadow: var(--highlight), inset 3px 3px 3px 1px #000;
  background: linear-gradient(180deg,#030306, #112);
  appearance: none;
  filter: drop-shadow(0 0 1px #000);
  will-change: transform;
}

.optbox[type=radio] {
  border-radius: 50%;
}

.optbox[type=checkbox]::before {
  position: absolute;
  transition: linear transform .1s;
  transform: scale(1);
}

.optbox:not(:checked) {
  box-shadow: var(--highlight), inset 3px 3px 3px 1px #000;
}

.optbox:active {
  background: #000 !important;
}

.optbox::before {
  display: inline-block;
  position: absolute;
  box-shadow: var(--outline), inset 0 0 0 1px var(--a);
  background: linear-gradient(180deg,#655fb9, #544eb1);
  content: "";
}

.optbox[type=checkbox]::before {
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  border-radius: 1px;
}

.optbox[type=radio]::before {
  top: 25%;
  left: 25%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 1px #655fb9, 0 0 0 1px rgba(0,0,16,.5), inset 0 0 1px 1px #655fb9;
}

.optbox[type=radio]:checked:hover::before {
  box-shadow: 0 0 0 2px #7975c2;
  background: #7975c2;
}

.optbox:not(:checked)::before {
  opacity: 0;
  transform: scale(0);
}

.optbox:hover, .optbox:focus {
  border: 1px solid #6466a5 !important;
  box-shadow: 0 0 0 1px rgba(101, 39, 135, .5), 0 0 2px 2px #202 !important;
  background: linear-gradient(180deg,#303, #414);
  filter: drop-shadow(0 0 1px #202) !important;
}

.optbox[disabled] {
  border: 1px solid #4f4b87;
  box-shadow: none;
  background: #000;
  opacity: .5;
  filter: none;
  pointer-events: none;
}