.optbox {
  width: 21px !important;
  height: 21px !important;
  position: relative;
  vertical-align: middle !important;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #27235c !important;
  box-shadow: var(--highlight), inset 3px 3px 3px 1px #000;
  background: linear-gradient(180deg,#030306, #112);
  appearance: none;
  filter: drop-shadow(0 0 1px #000);
  will-change: transform;
}

.optbox[type=radio] {
  border-radius: 50%;
}

.optbox[type=checkbox]::before {
  position: absolute;
  transition: linear transform .1s;
  transform: scale(1);
}

.optbox:not(:checked) {
  box-shadow: var(--highlight), inset 3px 3px 3px 1px #000;
}

.optbox:active {
  background: #000 !important;
}

.optbox::before {
  display: inline-block;
  position: absolute;
  box-shadow: var(--outline), inset 0 0 0 1px var(--a);
  background: linear-gradient(180deg,#655fb9, #544eb1);
  content: "";
}

.optbox[type=checkbox]::before {
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  border-radius: 1px;
}

.optbox[type=radio]::before {
  top: 25%;
  left: 25%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 1px #655fb9, 0 0 0 1px rgba(0,0,16,.5), inset 0 0 1px 1px #655fb9;
}

.optbox[type=radio]:checked:hover::before {
  box-shadow: 0 0 0 2px #7975c2;
  background: #7975c2;
}

.optbox:not(:checked)::before {
  opacity: 0;
  transform: scale(0);
}

.optbox:hover, .optbox:focus {
  border: 1px solid #6466a5 !important;
  box-shadow: 0 0 0 1px rgba(101, 39, 135, .5), 0 0 2px 2px #202 !important;
  background: linear-gradient(180deg,#303, #414);
  filter: drop-shadow(0 0 1px #202) !important;
}

.optbox[disabled] {
  border: 1px solid #4f4b87;
  box-shadow: none;
  background: #000;
  opacity: .5;
  filter: none;
  pointer-events: none;
}