### This is for app context configuration of standalone i2psnark.
### Most of the configuration settings are in i2psnark.config.d/i2psnark.config
### and most can be configured from the UI

### Disable browser launch on startup
#routerconsole.browser=/bin/false

### Disable browser launch on startup (Windows)
#routerconsole.browser=NUL

### Change browser that I2PSnark launches
#routerconsole.browser={/path/to/firefox}

### Enable / disable system tray
#desktopgui.enabled={true|false}

### Enable / disable system tray notification popups
#desktopgui.showNotifications={true|false}