/* I2PSnark theme 'Zilvero' */
/* Author: dr|z3d */
/* Copyright 2018 */

@import url(/themes/fonts/DroidSans.css);

:root {
	--monospaced: Droid Sans Mono, Noto Mono, DejaVu Sans Mono, Lucida Console, monospace;
	--bodyfont: Droid Sans, Open Sans, Noto Sans, Ubuntu, Segoe UI, Lucida Grande, Bitstream Vera Sans, Verdana, sans-serif;
	--ink: #555;
	--btn: linear-gradient(180deg,#fff 50%, #f4f4f4 50%);
	--btn_hover: linear-gradient(180deg,#fff 50%, #f0f0f0 50%);
	--btn_active: linear-gradient(180deg,#f2f2f2, #f8f8f8);
	--btn_shadow_active: var(--highlight), inset 3px 3px 3px rgba(0,0,0,.4);
	--highlight: inset 0 0 0 1px #fff;
	--border: 1px solid #999;
	--border_hard: 1px solid #777;
	--a: #d23;
	--tr: linear-gradient(180deg,#fcfcfc,#ededed);
	--td_dl: linear-gradient(270deg, #3d3 3px, rgba(0,0,0,0) 3px);
}

html {
	border-right: var(--border);
	background: var(--noise), repeating-linear-gradient(180deg,#ddd 2px,#bbb 4px) #bbb;
	background-size: 248px, 100% 4px !important;
	scrollbar-color: #999 #eee;
}

body, html {
	min-height: calc(100% - 5px);
}

body {
	margin: 0 !important;
	padding: 5px 5px 0;
	min-width: 800px;
	color: var(--ink);
	background: var(--b_snark_hover), var(--b_snark_active), var(--b_tracker_hover), var(--b_tracker_active), var(--b_forum_hover), var(--b_forum_active);
	background-size: 0;
}

body.iframed {
	min-width: 700px;
	padding: 0;
	background: #777 !important;
}

body, td, th, span, table a, input[type=submit], input[type=text], textarea {
	font-family: var(--bodyfont);
	font-size: 9pt;
}

* {
	outline: none;
}

*::selection {
	color: #fff;
	background: #b23 !important;
}

.snarknavbar, img, a img, #configs, .toggleview, .snarkConfigTitle, label {
	user-select: none;
}

.page {
	margin-bottom: 5px;
	padding: 5px;
	border: var(--border);
	box-shadow: var(--highlight);
	background: var(--noise), #ddd;
	background-size: 248px;
}

.iframed .page, .iframed .snarknavbar {
	border: none;
}

.iframed .page {
	margin-bottom: 0;
	border-top: var(--border);
}

img {
	font-size: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	background: #eee;
}

table table {
	border: none;
}

a:link, .toggleview, a:visited {
	text-decoration: none;
	font-weight: 700;
	color: #b23;
}

a:hover, a:focus, .snarkConfigTitle a:hover, .toggleview:hover, .trackerName a:visited:hover, .trackerName a:visited:focus {
	text-decoration: none;
	color: var(--a);
}

.snarkMessages a:focus, .snarkTorrentName a:focus, .knownTracker a:focus, th.suboption a:focus {
	color: #fff !important;
	border-radius: 1px;
	background: var(--a);
}

.toggleview:hover, .snarkConfigTitle a:hover {
	text-decoration: none;
	cursor: pointer;
}

.snarkNav, .toggleview, .snarkConfigTitle, .suboption, input[type=submit], a.control {
	font-weight: 700;
	box-shadow: var(--highlight);
	background: var(--btn);
}

.toggleview:hover, .configsection .snarkConfigTitle:hover {
	background: var(--btn_hover);
}

a.snarkNav, #tab_config a:not(:hover):not(:focus):not(:active),
#tab_config a:not(:hover):not(:focus):not(:active):visited, .toggleview, a.control, a.control:visited {
	color: #777 !important;
}

a.snarkNav:hover, .snarkConfigTitle a:hover {
	color: var(--a) !important;
}

a.snarkNav:active, .snarkConfigTitle a, .snarkConfigTitle a:active,
.toggleview:active, #torrentDisplay label:active {
	color: #bbb !important;
}

a.snarkNav:active {
	border: var(--border);
}

.nav_main {
	border-radius: 1px 0 0 1px;
}

.snarkNav.nav_main:last-child, .snarkNav:last-child {
	border-radius: 0 1px 1px 0;
}

.snarkNav.nav_main:last-child {
	border-radius: 1px;
}

a.snarkNav, a.snarkNav:hover, a.snarkNav:focus, a.snarkNav:active {
	padding: 5px 11px 5px 28px !important;
	background-size: 16px, 100%, 100% !important;
	background-position: 10px center !important;
	background-repeat: no-repeat, repeat !important;
}

.nav_main:link, .nav_main:hover, .nav_main:focus, .nav_main:active {
	background: var(--b_snark), var(--btn);
}

.nav_forum:link {
	background: var(--b_forum), var(--btn);
}

.nav_tracker:link {
	background: var(--b_tracker), var(--btn);
}

.nav_search:link {
	background: var(--b_search), var(--btn);
}

.nav_main:hover, .nav_main:focus {
	background: var(--b_snark_hover), var(--btn_hover) !important;
}

.nav_forum:hover, .nav_forum:focus {
	background: var(--b_forum_hover), var(--btn_hover) !important;
}

.nav_tracker:hover, .nav_tracker:focus {
	background: var(--b_tracker_hover), var(--btn_hover) !important;
}

.nav_search:hover, .nav_search:focus {
	background: var(--b_search_hover), var(--btn_hover) !important;
}

.nav_main:active {
	background: var(--b_snark_active), var(--btn_active) !important;
}

.nav_forum:active {
	background: var(--b_forum_active), var(--btn_active) !important;
}

.nav_tracker:active {
	background: var(--b_tracker_active), var(--btn_active) !important;
}

.nav_search:active {
	background: var(--b_search_active), var(--btn_active) !important;
}

a.control, a.control:visited {
	padding-top: 5px;
	padding-bottom: 4px;
	font-weight: 400;
}

input[type=submit]::-moz-focus-inner, input[type=reset]::-moz-focus-inner {
	border: none;
	outline: none;
}

a.snarkNav:hover {
	border: 1px solid var(--a);
	position: relative;
	z-index: 2;
	box-shadow: var(--highlight);
}

input[type=submit]:hover, a.control:hover {
	color: var(--a) !important;
}

input[type=submit]:active, a.control:active, .snarkNav:active, #torrentDisplay label:active {
	color: #bbb !important;
	box-shadow: var(--btn_shadow_active) !important;
}

tr {
	contain: layout;
}

th {
	padding-top: 7px;
	padding-bottom: 7px;
	vertical-align: middle;
	border-top: var(--border);
	border-bottom: var(--border);
}

th img {
	max-height: 24px;
}

td {
	padding: 3px;
}

.snarkTorrents tr:hover th, .snarkDirInfo tr:hover th {
	color: #333;
	background: #eee;
}

.snarknavbar, table, .snarkMessages {
	border: var(--border);
	background: #eee;
}

.snarknavbar {
	margin-bottom: -1px;
	padding: 5px;
	font-size: 11pt;
}

.iframed .snarknavbar {
	margin: 0 -1px;
	padding: 5px 5px 4px;
}

.snarkConfigTitle img {
	display: none;
}

.snarkConfigTitle, .toggleview, .snarkNav {
	letter-spacing: .1em;
	text-transform: uppercase;
}

.snarkNav, .snarkNav:visited {
	margin: 2px -3px;
	display: inline-block;
	font-weight: 700;
	color: #b30;
	border: var(--border);
	background: #fff;
}

.snarkNav:hover {
	text-decoration: none;
	background: #b30;
	color: #fff;
}

.snarkNav:active {
	background: #930;
}

.snarkTorrentOdd, .snarkTorrentInfo tr:nth-child(odd),
#trackerselect tr:nth-child(2n+2), .knownTracker:nth-child(odd),
#mediaContainer th, .snarkCommentInfo tr:first-child,
#snarkTorrentEdit tr:nth-child(even) {
	background: #fafafa;
}

#trackers td {
	border-top: var(--border);
}

.snarkTorrentNoneLoaded td {
	border-bottom: var(--border);
}

.peerinfo td {
	background-color: #fffffd !important;
}

.peerinfo:hover td, #snarkTorrentEdit tr:hover td {
	background-color: #bfb8b3 !important;
}

.snarkTorrentEven, .snarkTorrentInfo tr:nth-child(even), #trackerselect tr:nth-child(2n+3), .knownTracker:nth-child(even) {
	background: #f0f0f0;
}

.snarkTorrentOdd, .snarkTorrentEven {
	background: var(--tr);
}

.snarkTorrentInfo td {
	padding-top: 8px;
	padding-bottom: 8px;
}

.snarkTorrentInfo tr:last-child td {
	border-top: var(--border);
}

.snarkTorrentOdd td, .snarkTorrentEven td, #filterResults td {
	border-top: 1px solid #fff;
	border-bottom: var(--border);
}

.snarkTorrents td, .snarkTorrents th {
	padding: 5px;
}

.snarkTorrents td {
	padding: 4px;
}

#filterResults td {
	padding: 10px 8px !important;
	text-align: center;
	font-weight: 700;
	font-style: italic;
	box-shadow: var(--highlight);
	background: linear-gradient(180deg,#fff,#f7f7f7);
}

.snarkTorrents thead th, .snarkTorrents tfoot th, tr:hover .snarkTorrents thead th, tr:hover .snarkTorrents tfoot th {
	background: #fff !important;
}

.snarkTorrents thead th {
	white-space: nowrap;
	text-align: center;
	font-size: 8pt;
	border-top: none;
}

.snarkTorrents tfoot th {
	padding: 8px 5px;
	border-top: none;
	border-bottom: none;
	background: #fff;
}

.snarkTorrents tfoot tr:first-child th:nth-child(n+2) {
	text-align: center;
	white-space: nowrap;
}

tfoot .snarkTorrentRateDown:not(:empty)::before, tfoot .snarkTorrentDownloaded:not(:empty)::before,
tfoot .snarkTorrentRateUp:not(:empty)::before,tfoot .snarkTorrentUploaded:not(:empty)::before {
	margin-right: 1px;
	margin-top: -3px;
	display: inline-block;
	vertical-align: middle;
	line-height: 0;
	font-size: 80%;
}

tfoot .snarkTorrentRateDown:not(:empty)::before, tfoot .snarkTorrentDownloaded:not(:empty)::before {
	content: "\27A4";
	transform: rotate(90deg) scaleX(0.6);
}

tfoot .snarkTorrentRateUp:not(:empty)::before, tfoot .snarkTorrentUploaded:not(:empty)::before {
	content: "\27A4";
	transform: rotate(-90deg) scaleX(0.6);
}

#dhtDebug th {
	padding: 4px 8px;
	text-align: center;
	font-weight: 400;
	border-top: var(--border);
}

#dhtDebug hr {
	display: none;
}

.snarkTorrents td {
	width: 1%;
	white-space: nowrap;
}

.snarkTorrents td.snarkTorrentDownloaded, .snarkTorrents td.snarkTorrentUploaded, .snarkTorrentAction {
	width: 1%;
	white-space: nowrap;
}

.snarkTorrentPeerCount {
	font-weight: 700;
}

.snarkTorrentPeerCount .right {
	min-width: 18px;
	text-align: right;
	display: inline-block;
}

td.snarkTorrentPeerCount:empty, .nopeers td.snarkTorrentPeerCount {
	text-align: center;
}

td.snarkTorrentPeerCount:empty::after {
	margin-left: -8px;
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	background: var(--ink);
}

.peerinfo td {
	border-bottom: 1px solid #bbb;
}

.peerinfo td:first-child {
	background: var(--client) no-repeat center center;
	background-size: 14px;
}

#ourDest, .peerclient {
	padding: 1px 4px;
	display: inline-block;
	border-radius: 1px;
	box-shadow: inset 0 0 0 1px #bbb;
	background: #fff;
}

#ourDest {
	margin-left: 3px;
}

.peerclient {
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.inactivity {
	margin-left: 10px;
	max-width: 400px;
	min-width: 5px;
	height: 4px;
	display: inline-block;
	vertical-align: middle;
	box-shadow: 0 0 0 1px #999;
	background: #900;
	background: repeating-linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,0) 15px, rgba(128,128,128,.5) 15px, rgba(128,128,128,.5) 16px, rgba(0,0,0,0) 16px), linear-gradient(180deg,rgba(255,255,255,.3) 50%, rgba(0,0,0,.3) 50%), linear-gradient(90deg, #bb0 50px, #900);
}

.inactivity[style="width: 0px;"], .inactivity[style="width: 1px;"], .inactivity[style="width: 2px;"],
.inactivity[style="width: 3px;"], .inactivity[style="width: 4px;"], .inactivity[style="width: 5px;"] {
	display: none;
}

.snarkTorrentDetails {
	padding-right: 0 !important;
}

td.snarkTorrentDetails img:not([src$="rateme.svg"]), .snarkDirInfo td:first-child img:not(.thumb) {
	width: 20px !important;
	height: 20px !important;
}

td.snarkTorrentDetails a:hover img, td.snarkTorrentDetails a:focus img,
.snarkDirInfo td:first-child a:hover img:not(.thumb), .snarkDirInfo td:first-child a:focus img:not(.thumb) {
	filter: drop-shadow(0 0 1px var(--a)) drop-shadow(0 0 2px rgba(96,0.0,.7));
	transform: scale(1.1);
}

td.snarkTorrentDetails a:active img, .snarkDirInfo td:first-child a:active img:not(.thumb) {
	transform: scale(.9);
	filter: saturate(.5);
}

td.snarkTorrentDownloaded {
	width: 1%;
	text-align: center;
}

td.snarkTorrentPeerCount:empty {
	padding-left: 6px !important;
	min-width: 12px !important;
}

.percentBarOuter, .percentbarInner, .percentBarText {
	font-weight: 700;
}

.percentBarOuter {
	border: var(--border_hard);
	box-shadow: var(--btn_shadow_active);
	background: #aaa;
}

.percentBarInner, .uploaded {
	height: 16px !important;
	border-right: var(--border_hard);
	box-shadow: inset 0 0 0 1px #eee;
	background: #bfb8b3;
}

.percentBarInner {
	background: #7b9d84;
}

.active.downloading .percentBarInner {
	background: repeating-linear-gradient(135deg,#70a97e, #70a97e 10px, #47d16a 10px, #47d16a 20px);
}

tr.active.downloading:not(.peerinfo):hover .percentBarInner {
	background: #47d16a;
}

.peerinfo .percentBarInner {
	background: #e8dab0;
}

.uploaded {
	min-width: 68px;
	display: inline-block;
	position: relative;
	border: var(--border_hard);
	border-left-width: 5px;
	box-shadow: var(--btn_shadow_active);
}

.txBarInner {
	height: calc(100% - 2px);
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 1px;
	box-shadow: inset 0 3px 3px rgba(0,0,0,.3);
	background: linear-gradient(90deg,#f70,#f40);
	opacity: .25;
}

.txBarText {
	position: relative;
	z-index: 5;
	font-weight: 700;
}

/* alternative download bar popup bar text just for our downloads in .snarkTorrents */

.percentBarText {
	opacity: 0;
}

.peerinfo .percentBarText {
	display: none;
}

.peerinfo .percentBarInner {
	height: 15px !important;
}

tr:hover .peerinfo .percentBarInner {
	background: #d1b666;
}

tr:hover .percentBarText {
	color: #333;
	opacity: 1;
}

tr:hover .snarkFileStatus .percentBarText, .txBarText {
	color: #fff;
	text-shadow: 0 1px 1px #333;
}

.snarkTorrentDownload {
	width: 1% !important;
}

.snarkTorrentOdd:not(.peerinfo) .snarkTorrentDownloaded .percentBarText,
.snarkTorrentEven:not(.peerinfo) .snarkTorrentDownloaded .percentBarText {
	padding: 3px;
	width: 110px;
	display: inline-block;
	position: relative;
	top: -18px;
	left: -15px;
	border-radius: 1px;
	background: #eee;
	filter: drop-shadow(0 0 1px #999);
}

.snarkTorrentOdd:not(.peerinfo) .snarkTorrentDownloaded .percentBarInner,
.snarkTorrentEven:not(.peerinfo) .snarkTorrentDownloaded .percentBarInner,
.snarkTorrentOdd:not(.peerinfo) .snarkTorrentDownloaded .percentBarOuter,
.snarkTorrentEven:not(.peerinfo) .snarkTorrentDownloaded .percentBarOuter {
	max-width: 84px !important;
}

.snarkTorrentOdd:not(.peerinfo) .snarkTorrentDownloaded .percentBarText::after,
.snarkTorrentEven:not(.peerinfo) .snarkTorrentDownloaded .percentBarText::after {
	margin-left: -7px;
	position: absolute;
	top: 90%;
	left: 50%;
	border-width: 7px;
	border-style: solid;
	border-color: #eee transparent transparent transparent;
	content: "";
}

/* end alternative popup */

.percentBarComplete {
	padding: 1px 0;
	width: 84px;
	text-align: center;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 1px 1px #333;
	border: var(--border_hard);
	box-shadow: inset 0 0 0 1px #ddd;
	background: #708ca9;
}

tr:hover .percentBarComplete {
	background: #538ac6;
}

.active.seeding .percentBarComplete {
	background: linear-gradient(90deg, rgba(0,0,0,0) 49%, #b39, rgba(0,0,0,0) 51%) #7e70a9;
	background-size: 200%, 100%;
}

.active.seeding:hover .percentBarComplete {
	background: linear-gradient(90deg, rgba(0,0,0,0) 49%, #d5a, rgba(0,0,0,0) 51%) #7259c0;
	background-size: 200%, 100%;
}

tr:hover .percentBarText {
	opacity: 1;
	line-height: 1.2;
}

.snarkTorrents td.snarkTorrentName {
	padding-left: 8px;
	width: 99%;
	font-weight: 700;
	white-space: normal;
}

td.snarkGraphicStatus img {
	height: 22px;
}

.tooltipped {
	display: inline-block;
	position: relative;
	z-index: 99;
	content: "";
}

.tooltipped:hover {
	filter: drop-shadow(0 0 1px rgba(0,0,0,.2));
}

.tooltipped:hover::before, .tooltipped:active::before {
	margin-left: -10px;
	top: calc(50% - 6px);
	left: 30px;
	border-width: 6px;
	border-style: solid;
	border-color: transparent #cca transparent transparent;
	content: "";
	animation: fade-in .1s ease 3s reverse both;
}

.tooltipped:hover::after, .tooltipped:active::after {
	padding: 3px 6px;
	top: 0;
	left: 32px;
	font-weight: 600;
	border: 1px solid #cca;
	border-radius: 2px;
	box-shadow: var(--highlight);
	background: linear-gradient(180deg,#fff,#ffd);
	content: attr(data-tooltip);
	animation: fade-in .1s ease 3s reverse both;
}

.tooltipped:hover::before, .tooltipped:active::before,
.tooltipped:hover::after, .tooltipped:active::after {
	position: absolute;
	display: inline-block;
}

.snarkDirInfo, .snarkTorrentInfo, .snarkComments, .snarkCommentInfo, #mediaContainer {
	width: 100%;
}

.snarkDirInfo {
	margin-top: -1px;
}

.snarkDirInfo th {
	background: #fff;
}

.snarkDirInfo tr:last-child td {
	padding-bottom: 7px;
}

.ParentDir {
	background: #fafafa;
}

.snarkCommentInfo, .snarkComments, #mediaContainer {
	margin-top: -1px;
}

.snarkTorrentInfo, .snarkCommentInfo {
	border-top: none;
}

.commentRating {
	width: 1%;
	white-space: nowrap;
}

#commentstoggle input {
	float: none;
}

.snarkCommented {
	display: inline-block;
	vertical-align: top;
	margin: -2px -3px 0 0;
}

.addtorrentsection table {
	margin-bottom: 6px;
}

.snarkCommented img {
	width: 10px;
	height: 10px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 10;
}

.commentDelete {
	text-align: center;
}

#commentDeleteAction td {
	padding: 8px 3px;
	border-top: var(--border);
}

#newRating select {
	margin-left: 2px;
	width: 100%;
}

#trackerselect {
	margin: 0 0 8px 2px;
	width: 572px !important;
	border: var(--border);
	border-collapse: separate;
	border-radius: 4px;
}

#trackerselect tr:first-child td:first-child {
	border-radius: 4px 0 0 0;
}

#trackerselect tr:first-child td:last-child {
	border-radius: 0 4px 0 0;
}

#trackerselect tr:last-child td:first-child {
	border-radius: 0 0 0 4px;
}

#trackerselect tr:last-child td:last-child {
	border-radius: 0 0 4px 0;
}

#trackerselect tr:first-child td {
	font-weight: 700;
	border-bottom: var(--border);
	background: #fff;
}

#trackerselect td:first-child {
	padding-left: 5px;
}

#trackerselect tr:nth-child(n+2) td:nth-child(odd) {
	background: rgba(192,192,192,.1);
}

#trackerselect td:last-child {
	text-align: center;
}

.snarkTorrents tr:hover, .snarkDirInfo tr:hover, #trackerselect tr:nth-child(n+2):hover {
	background: #bfb8b3;
}

.snarkMessages {
	margin-bottom: -1px;
	height: 60px;
	overflow: hidden;
	line-height: 1.15;
	font-size: 9pt;
	text-align: left;
	box-shadow: var(--highlight);
	background: #f2f2f2;
	background: url(../ubergine/images/hat.png) right -4px bottom -10px no-repeat, linear-gradient(180deg,#fff,#eee) !important;
	background-size: auto 80px, 100% !important;
}

.snarkMessages:hover {
	overflow-y: auto;
}

.snarkMessages ul {
	margin: 2px 0 0 -20px;
	list-style-type: square;
	color: #384;
	font-weight: 700;
}

@supports (-moz-user-select: all) {
	.snarkMessages ul {margin-left: -24px}
}

.snarkMessages li, .snarkMessages li a {
	line-height: 1.25;
}

.control, input[type=submit], input[type=reset] {
	margin: 1px 2px;
	padding: 6px 10px;
	display: inline-block;
	white-space: nowrap;
	font-size: 105%;
	color: var(--ink);
	text-shadow: 0 1px 1px #fff;
	box-shadow: var(--highlight);
	border: var(--border);
	border-radius: 3px;
	background: #fff;
}

input[type=submit]:hover, a.control:hover {
	border: 1px solid #b32;
	background: var(--btn_hover);
}

input[type=submit]:active, a.control:active {
	background: var(--btn_active);
}

input[type=submit], input[type=reset] {
	min-width: 90px;
}

input.add, input.create {
	min-width: 110px !important;
}

input[type=submit], input[type=reset], input[type=radio], input[type=checkbox], select, .snarkConfig label {
	cursor: pointer;
}

input[type=submit]:disabled, input[type=reset]:disabled, input[type=radio]:disabled, input[type=checkbox]:disabled, select:disabled {
	cursor: not-allowed;
}

input[type=radio], input[type=checkbox] {
	vertical-align: middle;
}

.knownTracker input[type=radio]:disabled {
	opacity: .3;
}

.control:hover {
	background: #930;
	color: white;
	text-decoration: none;
}

.control:active {
	background: #f30;
}

input[type=submit], a.control {
	margin: 2px 4px;
	float: right;
	color: var(--ink);
	font-weight: 700;
}

input[type=text] {
	margin: 1px 2px;
	padding: 5px;
	color: #444;
	font-weight: 700;
	border: var(--border);
	border-radius: 1px;
	box-shadow: inset 2px 2px 2px #bbb;
	background: #f8f8f8;
}

input[type=text]:focus {
	color: #b23;
	box-shadow: inset 0 0 0 1px #d30;
	background: #fff;
}

select {
	margin: 2px 4px 2px 0;
	padding: 6px 16px 6px 6px !important;
	color: var(--ink);
	font: bold 9pt var(--bodyfont);
	border: var(--border);
	border-radius: 3px;
	background: var(--dropdown) no-repeat right 6px center / 10px, var(--btn) !important;
	appearance: none;
}

select:hover, select:focus {
	color: #b23;
	border: 1px solid #b23;
	background: var(--dropdown_hover) no-repeat right 6px center #fff !important;
	background-size: 10px !important;
}

select:disabled {
	opacity: .5;
	cursor: not-allowed;
}

#torrentOrderControl {
	float: right;
}

#torrentOrderControl label:hover {
	cursor: pointer;
}

#torrentOrderControl b, #torrentOrderControl input[type=checkbox] {
	margin: 6px 4px 0 3px;
	vertical-align: middle;
}

#torrentOrderControl b {
	display: inline-block;
}

.optbox, .optbox:checked, .optbox:checked[disabled], .optbox:checked[disabled]:checked {
	width: 19px !important;
	height: 19px !important;
	position: relative;
	vertical-align: middle !important;
	box-sizing: border-box;
	border: var(--border) !important;
	box-shadow: inset 0 0 2px 1px #f2f2f2;
	background: #fff;
	-moz-appearance: none;
	-webkit-appearance: inherit;
	appearance: none;
}

input[type=checkbox], input[type=checkbox]:checked, input[type=checkbox][disabled], input[type=checkbox][disabled]:checked {
	border-radius: 1px;
}

input[type=radio], input[type=radio]:checked, input[type=radio][disabled], input[type=radio][disabled]:checked {
	border-radius: 50%;
}

#torrentOrderControl input[type=checkbox], #torrentOrderControl input[type=checkbox]:checked, #torrentOrderControl input[type=checkbox][disabled], #torrentOrderControl input[type=checkbox][disabled]:checked {
	border: 1px solid #bbb !important;
}

input[type=radio][disabled], input[type=radio][disabled]:checked {
	background: #bbb;
}

input[type=checkbox]:checked::before, input[type=radio]:checked::before,
input[type=checkbox]:not(:checked)::before, input[type=radio]:not(:checked)::before {
	position: absolute;
	font-size: 0;
	transition: linear all .05s;
	transform: scale(1);
	will-change: transform;
}

input[type=checkbox]:checked::before, input[type=checkbox]:not(:checked)::before {
	content: "";
	top: 4px;
	left: 4px;
	width: 9px;
	height: 9px;
	overflow: hidden;
	line-height: .8;
	font-size: 15pt;
	border-radius: 1px;
	background: #777;
}

input[type=checkbox]:checked:focus::before {
	background: #b32;
}

input[type=radio]:checked::before {
	content: "";
	border-radius: 50%;
	top: 4px;
	left: 4px;
	width: 9px;
	height: 9px;
	background: #777;
}

input[type=radio]:checked:hover::before, input[type=radio]:checked:focus::before,
input[type=checkbox]:checked:hover::before, input[type=checkbox]:checked:focus::before {
	background: #b32;
}

.iframed input[type=radio]:checked::before {
	top: 24%;
	left: 23%;
}

input[type=checkbox]:not(:checked), input[type=radio]:not(:checked) {
	box-shadow: inset 2px 2px 2px #bbb;
}

input[type=checkbox]:not(:checked)::before, input[type=radio]:not(:checked)::before {
	transform: scale(0);
}

input[type=checkbox]:hover, input[type=radio]:hover, input[type=checkbox]:focus, input[type=radio]:focus {
	background: #fff;
	width: 19px !important;
	height: 19px !important;
	box-shadow: none;
	border: 1px solid #b32 !important;
}

input[type=checkbox][disabled], input[type=radio][disabled], input[type=checkbox][disabled]:hover, input[type=radio][disabled]:hover,
input[type=checkbox][disabled]:checked, input[type=radio][disabled]:checked, input[type=checkbox][disabled]:checked:hover, input[type=radio][disabled]:checked:hover {
	display: inline-block !important;
	width: 19px !important;
	height: 19px !important;
	opacity: .5;
}

.optbox[disabled], .optbox[disabled]:hover,
.optbox[disabled]:focus, .optbox[disabled]:active {
	opacity: .5 !important;
	pointer-events: none !important;
}

code, tt {
	font-weight: 700;
	color: #393;
}

tt {
	margin: 0 2px;
}

.control img, .controld, input[disabled] {
	display: none;
}

#configs .spacer {
	display: none;
}

#configs tr:nth-last-child(2) td {
	padding: 8px 0 11px;
	border-top: var(--border);
}

#configs .accept {
	margin-right: 0;
}

.knownTracker input[disabled] {
	display: inline;
	opacity: .5;
}

.trackerconfig th:first-child, .knownTracker td:first-child, #addtracker td:first-child {
	border-left: var(--border);
}

.trackerconfig th:last-child, .knownTracker td:last-child, #addtracker td:last-child {
	border-right: var(--border);
}

.trackerconfig th:last-child {
	text-align: left;
}

.knownTracker td {
	min-width: 100px;
}

.knownTracker:hover td {
	background: #ccc;
}

.knownTracker + .spacer td, #addtracker + .spacer td {
	padding: 4px 0;
	font-size: 0 !important;
	border-bottom: var(--border);
}

#addtracker + .spacer + tr td {
	padding: 8px 0 !important;
}

.knowntracker + .spacer, #addtracker ~ .spacer {
	display: none;
}

#addtracker td {
	padding-top: 10px !important;
	padding-bottom: 8px !important;
	border-top: var(--border);
	background: #fff;
}

.trackerConfig {
	margin-top: 11px !important;
}

.trackerConfig th {
	font-size: 9pt;
	border-bottom: none;
}

.trackerconfig th:first-child {
	background: var(--nuke) no-repeat center center !important;
	background-size: 14px !important;
}

.trackerconfig .delete, .trackerconfig .reload {
	float: left;
}

.trackerconfig .default {
	display: none;
}

.trackerConfig th:nth-child(2), .trackerConfig th:nth-child(3) {
	text-align: left !important;
}

.trackerConfig a {
	max-width: 220px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trackerConfig .delete {
	margin-left: 0;
}

.trackerConfig .add {
	margin-right: 0;
}

.trackerName {
	width: 140px;
}

.trackerHome, .trackerAnnounce {
	width: 220px;
}

.trackerconfig td:first-child {
	text-align: right;
}

.trackerconfig td:nth-child(4), .trackerconfig td:nth-child(5), .trackerconfig td:nth-child(6), .knownTracker td:first-child {
	text-align: center;
}

.toggleview, .snarkConfigTitle {
	margin: -1px;
	padding: 8px 5px;
	display: block;
	color: #930;
	text-transform: uppercase;
	font-weight: 700;
	border: var(--border);
	display: block;
	transition: ease box-shadow .3s;
}

.tab_label, .snarkConfigTitle, .snarkConfigTitle a {
	font-size: 11pt !important;
}

.toggleview:active, .configsection .snarkConfigTitle:active {
	color: #bbb !important;
	box-shadow: var(--highlight), inset 3px 3px 3px #bbb !important;
}

.snarkConfig .snarkConfigTitle {
	color: #777;
}

#tab_torrentedit {
	margin: -1px -1px -8px;
}

.page form + form {
	margin-top: -5px;
	background: #f00;
}

.snarkConfigTitle a {
	display: block;
}

#trackerselect {
	width: 100%;
}

#trackerselect td:first-child, #trackerselect td:last-child {
	width: 30%;
}

.addtorrentsection, .newtorrentsection, .configsection, .configsectionpanel {
	border: var(--border);
}

.addtorrentsection, .newtorrentsection, .configsection, .configsectionpanel,
.snarkConfig, .snarknavbar, .snarkMessages, #torrentDisplay, .pagenavcontrols {
	box-shadow: var(--highlight);
	background: #eee;
	background: var(--noise), linear-gradient(180deg,#fafafa, #eee);
	background-size: 248px, 100%;
}

.addtorrentsection, .newtorrentsection {
	padding-bottom: 5px;
	transition: ease box-shadow .3s;
}

.addtorrentsection:hover, .newtorrentsection:hover, .addtorrentsection:hover .toggleview, .newtorrentsection:hover .toggleview,
.configsection .snarkConfigTitle:hover, #torrentDisplay label:hover, .mainsection:hover .toggleview {
	box-shadow: inset 0 0 0 1px rgba(200,32,48,.5), inset 0 0 0 2px #fff;
	transition: ease box-shadow .3s;
}

.addtorrentsection:hover .toggleview, .newtorrentsection:hover .toggleview, .mainsection:hover .toggleview,
#tab_config a:hover, #tab_config a:focus {
	color: #b23 !important;
}

.addtorrentsection:hover .toggleview:active, .newtorrentsection:hover .toggleview:active, .toggleview:hover, .toggleview:active {
	color: #bbb !important;
}

.addtorrentsection:active, .newtorrentsection:active {
	box-shadow: var(--highlight);
}

.addtorrentsection td:first-child, .newtorrentsection td:first-child {
	white-space: nowrap;
	min-width: 120px;
}

.addtorrentsection td:first-child {
	padding-right: 10px;
	text-align: right;
	font-weight: 700;
}

.newtorrentsection table tr:first-child td:first-child {
	font-weight: 700 !important;
}

.newtorrentsection td:first-child {
	padding-right: 10px;
	text-align: right !important;
}

.newtorrentsection td:nth-child(2) td:first-child {
	text-align: left !important;
}

.addtorrentsection input[type=text], .newtorrentsection input[type=text] {
	max-width: 70%;
	min-width: 452px;
}

#embed, #fullscreen {
	float: right;
}

.iframed #embed, #fullscreen {
	display: none;
}

.iframed #fullscreen {
	display: inline-block;
}

hr {
	background: transparent;
	color: transparent;
	height: 0;
	border: none;
}

.addtorrentsection hr, .newtorrentsection hr {
	margin: -6px 0;
}

.thumb, audio, video {
	margin: 1px 0 2px -5px;
	padding: 2px;
	border: var(--border_hard);
	box-shadow: inset 0 0 0 2px #fff;
}

.thumb {
	max-width: 80px;
}

audio, video {
	width: 240px;
	background: #000;
}

.thumb:hover, .thumb:focus, audio:hover, audio:focus, video:hover, video:focus {
	border: 1px solid var(--a);
}

video:fullscreen, video:fullscreen:hover, video:fullscreen:focus {
	padding: 0;
	border: none;
	box-shadow: none;
}

video::-webkit-media-controls-timeline {
	padding: 0 16px 16px;
}

audio::-webkit-media-controls-enclosure {
	border-radius: 0;
	filter: invert(1);
}

::-webkit-media-controls-panel, ::-internal-media-controls-button-panel {
	position: relative;
	z-index: 10;
}

video::-webkit-media-controls-panel {
	display: none;
}

video:hover::-webkit-media-controls-panel, video:focus::-webkit-media-controls-panel {
	display: flex;
}

form {
	margin: 0;
}

.toggle_input {
	position: absolute !important;
	opacity: 0;
}

input.toggle_input:checked + label + hr + table {
	display: table;
}

input.toggle_input:checked + label + hr + table {
	margin-top: 20px;
}

input.toggle_input + label + hr + table {
	display: none;
}

td.snarkTorrentRateDown, td.snarkTorrentRateUp, td.snarkTorrentRateDown span, td.snarkTorrentRateUp span {
	font-style: italic !important;
}

.snarkDirInfo .ParentDir a, .snarkDirInfo .snarkFileName a, .snarkTorrents .snarkTorrentName a {
	padding: 2px 0;
	display: inline-block;
	width: 100%;
}

.parentDir {
	border-bottom: var(--border);
}

.parentDir img {
	display: none;
}

.snarkTorrentName {
	font-style: italic;
}

.snarkFileName {
	width: 90%;
}

.priority {
	white-space: nowrap;
}

.snarkTorrentName a, .snarkDirInfo .snarkFileName a {
	padding: 4px 0 !important;
	font-weight: 700 !important;
	font-style: normal;
}

.snarkTorrentName a:hover, .snarkFileName a:hover, .snarkTorrentName:hover a, .snarkDirInfo:hover a {
	box-shadow: none !important;
	background: none !important;
}

.snarkTorrentName a:hover, .snarkFileName a:hover {
	border-radius: 0 15px 15px 0;
	background: linear-gradient(90deg, rgba(0,0,0,0), rgba(155,108,46,.2) 40%) !important;
}

.snarkTorrentName a:active, .snarkFileName a:active {
	box-shadow: inset 2px 2px 2px 1px rgba(32,32,0,.3) !important;
	border: none !important;
}

td.snarkTrackerDetails a {
	width: 20px;
	height: 20px;
	display: inline-block;
	background: var(--link) no-repeat center center;
	background-size: 16px;
}

td.snarkTrackerDetails a:hover {
	box-shadow: var(--highlight), 0 0 0 1px #b32;
	background-color: #eee;
}

td.snarkTrackerDetails a:active {
	box-shadow: var(--highlight), inset 3px 3px 3px rgba(0,0,0,.4), 0 0 0 1px #b32;
}

.snarkTrackerDetails img {
	width: 16px;
	height: 16px;
	opacity: 0;
}

#bwHoverHelp img {
	height: 16px;
	width: 16px;
	margin: 0 4px;
	vertical-align: text-top;;
}

#snarkLang {
	margin-right: 4px;
	padding: 4px 8px;
	font-weight: 700;
	border-radius: 1px;
	background: #ddd;
}

thead img {
	font-size: 0;
}

thead a img:hover {
	filter: drop-shadow(0 0 1px #b23) drop-shadow(0 0 1px #b23);
}

#closelog, #expand, #shrink {
	margin-right: 5px;
	position: sticky;
	top: 0;
	float: right;
	mix-blend-mode: luminosity;
}

#shrink {
	display: none;
}

#closelog:hover, #expand:hover, #shrink:hover {
	mix-blend-mode: normal;
}

#closelog img, #expand img, #shrink img {
	height: 12px;
	width: 12px;
	padding: 3px;
	margin-right: -6px;
	margin-top: -1px;
	border: var(--border);
	box-shadow: var(--highlight);
	background: #f8f8f8;
}

#closelog img:hover, #expand img:hover, #shrink img:hover {
	background: #fff;
}

.snarkTorrentInfo img {
	max-height: 16px !important;
	vertical-align: text-top;
	filter: saturate(0);
}

.snarkTorrentInfo th:first-child img, #torrentInfoStats img, #trackers img {
	margin: 0 4px 0 6px;
}

#torrentInfoStats img[src$="head_tx.png"], #torrentInfoStats img[src$="head_rx.png"] {
	margin-right: 3px !important;
}

.magnetlink, .torrentlink {
	margin-left: 4px;
}

.magnetlink img, .torrentlink img {
	filter: none !important;
}

.snarkTorrentInfo th:last-child {
	text-align: right;
	padding-right: 5px;
}

.snarkTorrentInfo .nowrap {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.6;
}

.snarkDirInfo th:first-child, .snarkDirInfo td:first-child {
	padding-left: 10px;
	text-align: left;
}

.snarkDirInfo th:nth-last-child(2) {
	text-align: right;
	padding-right: 5px;
}

.snarkFileStatus {
	min-width: 40px;
	text-align: center !important;
}

.snarkFileStatus .percentBarOuter, .snarkFileStatus .percentBarInner, .snarkFileStatus .percentBarText {
	width: 80px;
}
.snarkFileStatus .percentBarOuter {
	margin: 0 auto;
}

.priority {
	padding-right: 5px;
	text-align: right;
}

.priorityIndicator {
	display: none;
}

.pagenavcontrols {
	padding: 5px;
	border: var(--border);
	border-bottom: none;
}

.pagenavcontrols img {
	margin: 0 3px;
	display: none;
}

#pagecount {
	margin: 0 8px;
	font-weight: 700;
	font-size: 130%;
	display: inline-block;
	vertical-align: middle;
	letter-spacing: .1em;
}

.pagenavcontrols span:not(#pagecount) {
	margin: 0 3px;
	border: var(--border);
	border-radius: 1px;
	background-size: 16px !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
	background-color: #fff;
}

.pagenavcontrols span:not(#pagecount):hover {
	border: 1px solid #b23;
}

.pagenavcontrols span:not(#pagecount):active {
	border: var(--border_hard);
	box-shadow: var(--btn_shadow_active);
	background-color: #fff !important;
	background-blend-mode: luminosity !important;
}

.pagenavcontrols #first {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: var(--first);
}

.pagenavcontrols #first:hover, .pagenavcontrols a:focus #first {
	background: var(--first_hover);
}

.pagenavcontrols #previous {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: var(--previous);
}

.pagenavcontrols #previous:hover, .pagenavcontrols a:focus #previous {
	background: var(--previous_hover);
}

.pagenavcontrols #next {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: var(--next);
}

.pagenavcontrols #next:hover, .pagenavcontrols a:focus #next {
	background: var(--next_hover);
}

.pagenavcontrols #last {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
	background: var(--last);
}

.pagenavcontrols #last:hover, .pagenavcontrols a:focus #last {
	background: var(--last_hover);
}

.pagenavcontrols .disable {
	opacity: .5;
	pointer-events: none;
}

#bucketSet {
	margin: -6px 15px -15px;
	padding: 8px 6px;
	border-radius: 0 0 2px 2px;
}

#bucketSet code {
	color: #050;
	user-select: all;
}

.bucketsContainer, .bucketCount {
	margin: 0 15px;
	text-align: center;
	border: var(--border);
	box-shadow: inset 0 0 0 1px #efefef;
}

.bucketsContainer {
	margin: -1px 15px -25px;
	padding: 5px;
	border-radius: 0 0 2px 2px;
	background: linear-gradient(180deg,#eee, #ddd);
}

.bucketCount {
	padding: 5px 0;
	background: linear-gradient(180deg,#efefef 50%, #ddd 53%);
	border-radius: 2px 2px 0 0;
}

.bucket {
	margin: 4px 3px;
	padding: 2px 4px;
	display: inline-block;
	width: 80px;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #050;
	font-family: monospace;
	box-shadow: 0 0 0 1px #111, var(--highlight);
	background: #f2f2f2;
	-moz-user-select: all;
	-webkit-user-select: all;
	user-select: all;
}

.bucket:empty {
	display: none;
}

#debugMode {
	width: 50px;
	line-height: 1;
	white-space: normal;
	font-size: 70%;
	opacity: 0;
}

#debugMode:hover {
	opacity: 1;
}

.info_tracker {
	margin: 0 1px 4px;
	padding: 0 4px;
	display: inline-block;
	background: #fff;
	color: #930;
	border-radius: 1px;
}

.info_tracker a {
	display: inline-block;
	vertical-align: text-bottom;
}

.info_tracker a[href*=".b32"] {
	max-width: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#snarkTorrentEdit .info_tracker, #snarkTorrentEdit .info_tracker a {
	font-weight: 400;
	color: var(--ink);
	background: none;
	pointer-events: none;
}

.snarkFileIcon {
	width: 1%;
}

textarea {
	background: #eee;
	width: 100%;
	height: 40px;
	min-height: 40px;
	resize: vertical;
	box-shadow: inset 2px 2px 2px #ddd !important;
	border: var(--border);
}

textarea:focus {
	background: #fff;
}

textarea[name="nofilter_newComment"] {
	margin: 7px 0 7px 2px;
	padding: 3px;
	width: 100%;
	height: 40px;
	min-height: 40px;
	resize: vertical;
	box-shadow: inset 2px 2px 2px #ddd !important;
	border: var(--border);
}

textarea[name="nofilter_newComment"]:focus {
	min-height: 64px;
	box-shadow: inset 0 0 0 1px #b32 !important;
}

#snarkTorrentEdit textarea {
	height: 80px;
	min-height: 80px;
}

.toggleview img {
	display: none;
}

.newtorrentsection td:first-child {
	font-weight: 700;
}

.newtorrentsection #trackerselect td:first-child {
	font-weight: 400;
}

select {
	min-width: 120px;
}

.snarkCommentInfo th, #mediaContainer th {
	padding-left: 5px;
	text-align: left;
}

.snarkCommentInfo th {
	padding: 2px 0 2px 5px;
}

.snarkCommentInfo td:first-child, .snarkCommentInfo td:last-child, .commentDate {
	width: 1%;
	white-space: nowrap;
}

#mediaContainer td {
	padding: 20px 15px;
	text-align: center;
}

#mediaContainer video {
	width: auto;
	max-width: calc(100% - 20px);
}

.newTab {
	margin: 1px 4px -2px;
	float: right;
}

.snarkCommentInfo textarea {
	width: 100%;
}

.commentRating img {
	max-height: 12px;
}

#newRating td:first-child {
	padding: 8px 5px;
	text-align: center;
}

#showRatings td {
	padding: 8px 5px;
	border-top: var(--border);
}

#showRatings td:first-child {
	text-align: right !important;
	font-weight: 700;
}

.commentWrapper {
	margin: 5px 0;
	padding: 5px;
	box-shadow: 0 0 0 1px #ccc, inset 0 0 0 1px #f2f2f2;
	background: #ddd;
}

.commentAuthor {
	padding: 8px 5px;
}

.commentAuthorName {
	padding-left: 21px;
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	line-height: 23px;
	font-weight: 700;
	background: var(--user) no-repeat 4px center;
	background-size: 14px;
}

.commentAuthor .commentAuthorName {
	width: calc(100% - 20px);
	overflow: hidden;
	text-overflow: ellipsis;
	border-radius: 1px;
	box-shadow: inset 0 0 0 1px #bbb;
	background: #fff var(--user) no-repeat 4px center;
	background-size: 14px;
}

#nameRequired .commentAuthorName {
	float: right;
	margin: 4px 8px 0 0;
}

#snarkTorrentSort {
	text-align: right;
}

#snarkTorrentSort img {
	margin-right: 7px;
}

@supports (-moz-user-select: all) {
	#snarkTorrentSort img {
		margin-right: -3px;
	}
}

#newRating td:first-child, .commentAuthor {
	width: 200px;
}

#totals {
	margin-left: 3px;
	white-space: nowrap;
}

.canhide {
	display: none;
}

.snarkTorrentNoneLoaded td, .snarkTorrentNoneLoaded:hover td {
	text-align: center;
	font-size: 10pt;
	font-weight: 700;
	padding: 15px;
	background: #eee;
}

.infohash {
	padding: 0 3px 0 15px;
	width: 100px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	color: #393;
	font-family: var(--monospaced) !important;
	border-radius: 1px;
	background: #fff var(--hash) no-repeat left center / 12px;
	user-select: all;
}

.snarkTorrents .infohash {
	padding: 2px 4px 2px 18px;
	display: inline-block;
	border-radius: 1px;
	box-shadow: 0 0 0 1px #7a7, var(--highlight);
	background: var(--hash) no-repeat 4px center / 12px, linear-gradient(180deg,#efe, #e6ffe6);
}

.magnetLabel {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	line-height: 1.1;
}

.knownTracker .optbox, #addtracker .optbox {
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
}

.snarkTorrentInfo th:first-child, .snarkTorrentInfo td:first-child {
	padding-left: 4px !important;
	text-align: left;
	font-weight: inherit;
}

#torrentInfoControl .stoptorrent {
	float: left;
}

.routerdown {
	padding: 15px 10px;
	font-size: 120%;
	text-shadow: 0 1px 1px #fff;
	border: var(--border);
	box-shadow: var(--highlight), inset 0 0 2px 1px #ddd;
	background: repeating-linear-gradient(135deg, #eee, #eee 20px, #fff 20px, #fff 40px);
}

.active .percentBarOuter {
	background: repeating-linear-gradient(135deg, #eee 1px, #eee 6px, #fff 6px, #fff 11px);
	background-size: 400% 400%;
	will-change: transform;
}

.active.downloading .percentBarOuter {
	animation: progress 60s linear infinite both;
}

@keyframes progress {
	from {background-position: 0}
	to {background-position: 200%}
}

.snarkTorrents thead img {
	display: none;
}

.snarkTorrents thead a img {
	display: inline-block;
}

.snarkTorrentAction {
	padding-right: 5px;
}

#configs a[href^="/config"] {
	font-size: 0;
}

#configs a[href^="/config"]::after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background: var(--config) no-repeat scroll center center / 16px;
}

/* tooltip */

#bwHelp {
	visibility: hidden;
	background: #fff url(/i2psnark/.resources/icons/favicon.svg) no-repeat 10px center / 28px;
	text-align: center;
	padding: 15px 15px 15px 55px;
	border-radius: 3px;
	width: 320px;
	position: absolute;
	z-index: 2000;
	bottom: 125%;
	left: 0;
	margin-left: -183px;
	display: block;
	white-space: normal;
	font-size: 10pt;
	filter: drop-shadow(0 0 1px #999);
	opacity: 0;
}

#bwhelp::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: #fff transparent transparent transparent;
}

#bwHoverHelp img {
	margin-right: 5px;
	width: 16px;
	height: 16px;
	filter: saturate(0) opacity(.5);
}

#bwHoverHelp:hover img {
	filter: none;
}

#bwHoverHelp:hover #bwHelp, #bwHoverHelp:active #bwHelp {
	visibility: visible;
	text-align: center;
	color: #333;
	opacity: 1;
	transition: ease opacity .3s;
}

#bwHoverHelp {
	display: inline-block;
	position: relative;
}

#bwHoverHelp:hover + #bwHelp {
	padding: 20px !important;
	width: 100%;
	display: block;
	float: left;
	position: fixed;
	top: 48px;
	left: 0;
	z-index: 9999;
	white-space: nowrap;
	font-size: 12pt;
	border-bottom: 5px solid #212;
	border-top: 5px solid #212;
	box-shadow: 0 1px 3px #101;
	text-align: center;
	background: #313;
}

/* end tooltip */

.choked .left, .choked .right, .idle .left, .idle .right {
	display: none !important;
	text-align: center;
	font-size: 0 !important;
}

.choked, .idle, .unchoked {
	width: 48px;
}

.idle::after, .choked::after {
	margin: 0 20px;
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 50%;
	background: #373;
	content: "";
}

.choked::after {
	background: #900;
}

.snarkTorrentUploaded .left {
	min-width: 12px;
}

.snarkTorrentETA, .snarkTorrentRateDown, .snarkTorrentRateUp {
	padding-right: 10px !important;
	min-width: 80px;
	text-align: center;
}

.snarkTorrentRateDown .left, .snarkTorrentRateUp .left, .snarkTorrentUploaded .left,
.snarkTorrentRateDown .right, .snarkTorrentRateUp .right, .snarkTorrentUploaded .right {
	min-width: 22px;
	display: inline-block;
	text-align: left;
}

.snarkTorrentRateDown .right, .snarkTorrentRateUp .right, .snarkTorrentUploaded .right {
	min-width: 40px;
	text-align: right;
}

.snarkTorrentUploaded .left {
	min-width: 12px;
}

tr:not(.peerinfo) .snarkTorrentUploaded:empty::after {
	content: "‒";
	display: inline;
	font-size: 9pt;
}

.snarkTorrentRateDown, .snarkTorrentRateUp, .snarkTorrentUploaded {
	text-align: center !important;
}

.clientversion {
	display: none;
}

.peerclient, .peerclient tt, .clientid {
	line-height: 1.4 !important;
	vertical-align: middle;
}

.peerclient {
	padding-right: 0;
	width: 112px;
}

.peerclient tt {
	margin: 0 3px 0 1px;
}

.clientid {
	margin: 1px 0 1px -2px;
	padding: 0 3px;
	width: 68px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	text-align: center;
	background: #ddd;
}

.peerdata > * {
	vertical-align: middle;
}

.priority input[type=radio] {
	text-align: left;
	margin: 3px;
}

.priority input[type=radio]:not(:checked):not(:hover) {
	opacity: .7;
}

.priorityHigh, .priorityNormal, .prioritySkip {
	padding: 0;
	width: 52px;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-align: left;
	font-size: 0;
	color: transparent;
	background-size: 18px !important;
}

.priorityHigh {
	background: url(/i2psnark/.resources/icons/clock_red.png) no-repeat left 26px center;
}

.priorityNormal {
	background: url(/i2psnark/.resources/icons/clock.png) no-repeat left 26px center;
}

.prioritySkip {
	background: url(/i2psnark/.resources/icons/block.png) no-repeat left 26px center;
}

.priority {
	padding: 5px !important;
	width: 1%;
	text-align: center !important;
	white-space: nowrap;
}

#setPriority th {
	text-align: right !important;
}

.snarkDirInfo img[src$="priority.png"] {
	margin: 0 !important;
}

#torrentDisplay {
	margin-bottom: -1px;
	border: var(--border);
}

#torrentDisplay label {
	margin: 0;
	padding: 2px 8px;
	display: inline-block;
	min-width: 80px;
	line-height: 1.6;
	font-weight: 700;
	color: #777;
	border-left: var(--border);
	box-shadow: var(--highlight);
	background: var(--btn);
}

#torrentDisplay label:last-child {
	border-right: var(--border);
}

#torrentDisplay label:hover {
	color: var(--a);
	cursor: pointer;
}

#torrentDisplay input {
	width: 0 !important;
	height: 0 !important;
	position: absolute;
	opacity: 0;
	z-index: -1;
}

#torrentDisplay input:checked + label, #torrentDisplay input:checked + label:active {
	color: var(--ink) !important;
	text-shadow: 0 1px 1px #fff;
	box-shadow: var(--btn_shadow_active) !important;
	background: linear-gradient(180deg,#ddd,#fff) !important;
	cursor: default;
}

/* comment indicator */

.snarkFileType {
	position: relative;
	vertical-align: middle;
}

.snarkCommented {
	display: inline-block;
	position: absolute;
	top: -3px;
	right: 1px;
	z-index: 20;
	line-height: 0;
	font-size: 0;
}

.snarkCommented img {
	padding: 0 !important;
	height: 9px !important;
	width: auto !important;
}

/* end comment indicator */

#snarkInfo ~ .mainsection {
	margin: -1px 0 -6px;
	border: var(--border);
}

#snarkTorrentEditSection {
	margin: -1px 0 0 !important;
	border: var(--border);
}

#snarkInfo ~ .mainsection table {
	border: none;
}

#snarkInfo ~ .mainsection input:checked + .toggleview + hr + table {
	margin-top: -7px;
	margin-bottom: 0 !important;
}

#snarkInfo ~ #snarkTorrentEditSection input:checked + .toggleview + hr + table {
	margin-top: 1px;
}

#snarkTorrentEdit {
	width: 100%;
}

#snarkTorrentEdit tr:first-child td {
	padding-top: 12px;
}

#snarkTorrentEdit th, #snarkTorrentEdit td {
	text-align: center;
	width: 25%;
}

#snarkTorrentEdit th:first-child, #snarkTorrentEdit td:first-child:not(#addCommentText) {
	padding-left: 20px;
	width: 20%;
	text-align: left;
}

#snarkTorrentEdit th:nth-child(2), #snarkTorrentEdit td:nth-child(2) {
	width: 30%;
	text-align: left;
}

#snarkTorrentEdit tfoot td {
	padding-bottom: 12px;
	text-align: center !important;
	border-top: var(--border);
	background: var(--th);
}

#stopfirst {
	display: inline-block;
	font-weight: 700;
}

#stopfirst::before {
	width: 14px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	background: url(images/details.svg) no-repeat left center / 12px;
	content: "";
	filter: saturate(0);
}

#snarkInfo ~ #snarkCommentSection input:not(:checked) + .toggleview {
	margin-bottom: -7px !important;
}

#snarkCommentSection {
	margin-top: -2px !important;
	margin-bottom: 1px !important;
}

#snarkCommentSection table:last-child {
	margin-bottom: 0 !important;
}

.snarkFilename .targetfile, .snarkFilename:hover .tags, .snarkFileName a:empty {
	display: none !important;
}

.snarkFilename:hover .targetfile {
	display: inline-block !important;
}

#completion {
	position: relative;
}

#metainfo {
	padding: 4px 8px 4px 4px;
	line-height: 1.5;
	white-space: nowrap;
	border: 1px solid #aaa;
	box-shadow: var(--highlight);
	background: #ffe;
}

#completion:not(:hover) #metainfo {
	display: none;
}

#completion:hover #metainfo {
	display: inline-block !important;
	position: absolute;
	top: 24px;
	left: -120px;
}

#metacomment .commentWrapper {
	margin: 6px;
	padding: 9px 10px 10px;
	box-shadow: 0 0 0 1px #ccc, inset 0 0 0 1px #f2f2f2;
	background: #ddd;
}

/* table sort indicators */

.sortIcon {
	position: relative;
	display: inline-block;
}

.sortIcon:hover .ascending, .sortIcon:hover .descending {
	transform: rotate(180deg);
	transition: linear transform .1s;
}

.ascending, .descending {
	display: inline-block;
	position: absolute;
	top: -2px !important;
	right: -8px !important;
	border-width: 4px;
	border-style: solid;
	border-color: transparent transparent #999 transparent;
}

.descending {
	top: 2px !important;
	border-color: #999 transparent transparent transparent;
}

.sortIcon:hover .ascending {
	top: 2px !important;
	border-color: transparent transparent #d30 transparent;
}

.sortIcon:hover .descending {
	top: -2px !important;
	border-color: #d30 transparent transparent transparent;
}

#snarkTorrentSort .ascending, th#snarkTorrentSort .descending {
	right: -14px !important;
}

@keyframes fade-in {
	0% {filter: opacity(0)}
	100% {filter: opacity(1)}
}

.ascending, .descending {
	filter: opacity(0);
	animation: ease fade-in .2s .6s forwards;
}

/* end table sort indicators */

.snarkTorrentPeerCount {
	text-align: center;
}

.snarkGraphicStatus {
	width: 48px !important;
}
td.snarkGraphicStatus img {
	width: 24px !important;
}

.peerinfo .snarkGraphicStatus {
	background-size: 18px !important;
}

.active .snarkTorrentAction, .active:hover .snarkTorrentAction {
	background: linear-gradient(270deg, #cb4dcb 3px, rgba(0,0,0,0) 3px);
	animation: ease-in-out active .5s 3s forwards;
}

@keyframes active {
	from {background: linear-gradient(270deg, #f3c 3px, rgba(0,0,0,0) 3px)}
	to {background: linear-gradient(270deg, #cb4dcb 3px, rgba(0,0,0,0) 3px)}
}

.active.downloading .snarkTorrentAction, .active.downloading:hover .snarkTorrentAction,
.active.RX .snarkTorrentAction, .active.RX:hover .snarkTorrentAction {
	background: var(--td_dl);
	animation: ease-in-out downloading .5s 3s forwards;
}

@keyframes downloading {
	from {background: var(--td_dl)}
	to {background: linear-gradient(270deg, #7f7 3px, rgba(0,0,0,0) 3px)}
}

.addtorrentsection input[type=submit], .newtorrentsection input[type=submit] {
	min-width: 90px;
	float: none !important;
}

.addtorrentsection table, .newtorrentsection table, .configsection table, .configsectionpanel table {
	border: none;
	background: none;
}

.configsection, .newtorrentsection {
	margin-top: 5px;
}

.addtorrentsection {
	margin-top: -1px;
}

@supports (-moz-user-select: all) {
	.configsection, .addtorrentsection, .newtorrentsection {
		margin-top: -1px !important;
	}
}

.optionlist {
	columns: 2 600px;
}

.configOption {
	margin-top: 3px;
	margin-bottom: 3px;
	display: inline-block;
}

.configOption::after {
	min-height: 34px;
	display: inline-block;
	vertical-align: middle;
	content: "";
}

.configOption > * {
	vertical-align: middle;
}

.configOption b {
	padding: 5px 5px 5px 8px;
	min-width: 200px;
	display: inline-block;
	border-radius: 3px 1px 1px 3px;
	background: linear-gradient(90deg, #ddd, rgba(0,0,0,0) 95%);
}

.configOption b::after {
	margin-right: 5px;
	display: inline-block;
	font-weight: 700;
	content: ":";
}

.configOption label:hover {
	color: #222;
}

#configs, .trackerconfig {
	margin: 10px 10px 0;
	width: 80%;
	width: calc(100% - 20px);
}

#configs td:first-child {
	padding-right: 10px;
	text-align: left;
}

#configs .suboption {
	padding: 5px 10px;
	text-align: left;
	font-size: 90%;
	border: var(--border);
}

#configs .suboption::before {
	width: 24px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	background: url(/i2psnark/.resources/icons/nopeers.svg) no-repeat left center / auto 18px;
	opacity: .8;
	content: "";
}

#configs .suboption a {
	margin-top: 4px;
	font-size: 70%;
	vertical-align: middle;
}

#configs .optionList {
	margin: 4px 8px;
}

#configs input {
	margin-left: 0;
}

input[name="i2cpOpts"], input[name="nofilter_dataDir"] {
	width: calc(100% - 220px);
}

.snarkTorrents td:empty, .snarkTorrents th:empty {
	padding: 3px !important;
	width: 0 !important;
	min-width: 0;
	font-size: 0;
}

.snarkTorrentAction {
	white-space: nowrap !important;
}

.snarkTorrentAction input {
	margin: 1px 2px;
	padding: 10px !important;
	min-width: 0;
	float: none !important;
	font-size: 0 !important;
	border-radius: 2px;
	background-blend-mode: luminosity;
}

#actionStopAll, #actionStartAll {
	padding: 10px 16px !important;
}

.actionStart {
	background: #eee var(--start) no-repeat center center / 14px !important;
}

.actionStop {
	background: #eee var(--stop) no-repeat center center / 14px !important;
}

.actionRemove {
	background: #eee var(--remove) no-repeat center center / 14px !important;
}

.actionDelete {
	background: #eee var(--delete) no-repeat center center / 14px !important;
}

#actionStartAll {
	background: #eee var(--startall) no-repeat center center / auto 14px !important;
}

#actionStopAll {
	background: #eee var(--stopall) no-repeat center center / auto 14px !important;
}

.snarkTorrentAction input:hover {
	background-blend-mode: normal;
}

.snarkTorrentAction input:active, #actionStartAll:active, #actionStopAll:active {
	background-size: auto 12px !important;
}

@media screen and (max-width: 1499px) {
	th img {
		max-height: 20px !important;
	}
	td.snarkGraphicStatus {
		background-size: 24px auto !important;
	}
}

@media screen and (max-width: 1200px) {
	.snarkTorrents .infohash {
		width: 64px;
	}
	.magnetLabel {
		max-width: 250px;
	}
}

@media screen and (max-width: 1100px) {
	.knownTracker td {
		min-width: 60px;
	}
	.trackername, .trackerHome, .trackerAnnounce, .trackerConfig a {
		max-width: 120px;
	}
}

@media screen and (max-width: 1000px) {
	.addtorrentsection input[type=text], .newtorrentsection input[type=text] {
		min-width: 0;
	}
	input.add, input.create {
		min-width: 90px !important;
	}
	#trackerselect {
		width: 500px !important;
	}
	input[name="i2cpOpts"], input[name="nofilter_dataDir"] {
		width: 436px;
	}
	.snarkTorrentAction {
		padding-left: 4px;
		padding-right: 3px;
	}
	.snarkTrackerDetails {
		padding-left: 10px !important;
	}
	.snarkTorrentName {
		padding-right: 3px;
	}
	.snarkTorrentDownloaded {
		padding-left: 9px !important;
		padding-right: 9px !important;
	}
	.snarkTorrentETA, .snarkTorrentRateUp, .snarkTorrentUploaded, .snarkTorrentRateDown {
		padding-right: 8px !important;
		padding-left: 8px !important;
	}
	.snarkTorrents th:nth-child(n+4) {
		text-align: center;
	}
	tr:hover td.snarkTrackerDetails, tr:hover td.snarkTorrentDetails, tr:hover td.snarkTorrentName, tr:hover td.snarkTorrentDownloaded,
	tr:hover td.snarkTorrentRateDown, tr:hover td.snarkTorrentAction {
		background: none;
	}
}

@media screen and (max-width: 900px) {
	.snarkTorrentETA, .snarkTorrentUploaded, .snarkTorrentRateUp {
		display: none;
	}
	.snarkTorrentName {
		max-width: 250px;
		white-space: nowrap;
		word-break: break-all;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#torrentDisplay {
		display: flex;
	}
	#torrentDisplay label {
		min-width: 0;
		flex-grow: 1;
	}
	#torrentDisplay label[for="all"] {
		border-left: none !important;
	}
	#torrentDisplay label:last-child {
		border-right: none !important;
	}
}

@media screen and (min-width: 1500px) {
	body, td, th, span, table a, input[type=submit], input[type=text], textarea {
	font-size: 9.5pt;
	}
	.snarkTorrentETA:not(:empty), .snarkTorrentRateUp:not(:empty),
	.snarkTorrentRateDown:not(:empty), .snarkTorrentUploaded:not(:empty) {
		min-width: 50px;
	}
	td.snarkTorrentDetails img, .snarkDirInfo td:first-child img:not(.thumb) {
		width: 22px !important;
		height: 22px !important;
	}
	.snarkTorrentDetails img[src$="rateme.svg"] {
		margin-top: -6px !important;
		margin-right: -2px !important;
		width: 12px !important;
		height: 12px !important;
	}
	.snarkTorrentDownloaded, .snarkTorrentUploaded, .snarkTorrentRateDown, .snarkTorrentRateUp {
		min-width: 76px;
	}
	.trackerhome, .trackerannounce, .knowntracker a {
		width: 400px !important;
		max-width: 400px !important;
	}
	.snarkTorrents td:empty, .snarkTorrents th:empty {
		padding: 5px !important;
		width: 0 !important;
		min-width: 0;
		font-size: 0;
	}
	.snarkTorrentInfo th:first-child img, #torrentinfostats img, #trackers img {
		margin: -3px 5px 0 !important;
		max-height: 18px !important;
	}
	#torrentInfoStats .nowrap {
		margin-right: 6px;
	}
	.snarkTorrentAction input {
		padding: 11px !important;
	}
	#actionStopAll, #actionStartAll {
		padding: 11px 18px !important;
	}
	@supports (-moz-appearance: none) {
		.uploaded {
			padding-bottom: 3px;
		}
	}
}