/* disable snark's collapsible panels */
/* fixes a browser engine bug present in Konqueror, Midori, Qupzilla et al */

input#toggle_addtorrent:not(checked) + label + hr + table, input#toggle_createtorrent:not(checked) + label + hr + table,
input#toggle_addtorrent:checked + label + hr + table, input#toggle_createtorrent:checked + label + hr + table {
  display: table;
}

label.toggleview {
  border: 1px solid #302b74;
  background: #003;
  background: linear-gradient(90deg, rgba(0,0,16,.1), rgba(64,0,64,.1), rgba(0,0,16,.1)), linear-gradient(180deg,#1d1a2d, #000);
  box-shadow: inset 0 0 0 1px #000;
  text-shadow: 0 0 1px #000;
  pointer-events: none;
}

.mainsection input:checked + label + hr + table, .mainsection input:not(checked) + label + hr + table {
  margin-top: -14px;
}

.mainsection input:checked + .toggleview, .mainsection input:not(checked) + .toggleview {
  display: none;
}

.mainsection table {
  display: table;
}

.toggleview img, .toggleview img:hover, .toggleview img:focus, .toggleview img:active,
.toggleview:hover img, .toggleview:focus img, .toggleview:active img {
  border: 2px solid #000;
  background: #000;
  background: linear-gradient(180deg,#003, #000 50%, #3f3f4a 50%, #31313a);
  box-shadow: 0 0 2px 1px #462458;
  transform: none;
  filter: drop-shadow(0 0 1px #000);
}
