@media (min-width:0){
a.control,input[type=submit],input.accept{padding-top:5px;padding-bottom:4px;text-transform:uppercase;letter-spacing:.05em;display:inline-block}
input,button,textarea,select,a{font-weight:400;font-family:Noto Sans,Open Sans,Segoe UI,Droid Sans,Roboto Sans,Ubuntu,Lucida Grande,Helvetica,Arial,Verdana,sans-serif;line-height:1.2}
input[type],a.control{line-height:1.3}
input[type],select,#configs select,select option,#configs select option,td,td a,#screenlog li,#screenlog li a,textarea,input.r,input[name="nofilter_dataDir"],.configPanel,.configPanel td,#configs td,#trackerconfig td{font-size:10.5pt}
select,a.control,input[type=submit],input.accept,th,#trackerselect tr:first-child td{font-weight:400;font-size:12pt}
select,#configs select{font-size:10.5pt}
th.rxd,th.txd,th.rateDown,th.rateUp{font-weight:700}
th.rxd,th.txd,th.rateDown,th.rateUp,td.rxd,td.txd,td.rateDown,td.rateUp,.tName a:link{font-size:10pt}
.configOption::after{content:"";display:inline-block;height:40px;vertical-align:middle}
.configPanel .configTitle{padding-top:8px;font-size:14pt;text-transform:uppercase;font-variant:normal;pointer-events:none}
.configPanel .configTitle img{margin-top:-2px;display:inline-block;height:24px;width:24px;mix-blend-mode:hard-light}
#dirInfo .percentbartext{line-height:12px}
.knownTracker a{max-width:220px;overflow:hidden;text-overflow:ellipsis;display:inline-block;white-space:nowrap}
.optionlist{columns:500px auto;column-gap:5px}
.percentbartext{font-size:8.5pt}
.snarkAddInfo,.snarkAddInfo code{font-size:10pt}
.snarkNav{font-weight:700}
.snarkNav:link{padding-top:3px}
.snarkNewTorrent #trackerselect tr:first-child td,.snarkNewTorrent td{font-size:10pt}
.tName a,#dirInfo .snarkFileName a{font-weight:400;padding-top:2px;padding-bottom:2px}
#configs input[name="nofilter_dataDir"],input[name="i2cpOpts"],input[name="nofilter_commentsName"]{width:calc(100% - 215px)}
#configs td b{letter-spacing:.08em;min-width:180px}
#configs td{line-height:200%;padding-top:4px;padding-bottom:4px}
#embed::after{height:14px}
#embed,#fullscreen{padding:4px 4px 0 10px;font-size:10pt}
#pagenav{font-size:9.5pt}
#screenlog li::before{margin-right:2px;background-size:11px 11px}
#torrentDisplay .filter{padding-top:9px;line-height:1.5}
#torrentDisplay .filter span{margin:-1px 0 1px 4px}
#torrentInfo th,#dirInfo th,#totals,#commentInfo th,#configs th{font-size:11pt}
#torrents code{font-size:9.5pt}
#trackerselect td:first-child,#trackerselect td:last-child{width:20%}
#trackerselect td:nth-child(2),#trackerselect td:nth-child(3){width:15%}
.iframed #navbar{padding-bottom:8px}
}
@media (max-width:1400px){.iframed #torrents td.tName a{max-width:400px;display:inline-block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}}