/* I2P+ Router Map by dr|z3d */

#geomap{margin:2px 1px 1px;display:block!important;height:auto;position:relative}
#geomap path{stroke:#000;stroke-width:1px;fill:#444;stroke-linejoin:round;stroke-linecap:round;paint-order:stroke;vector-effect:non-scaling-stroke;will-change:transform}
#geomap path:not([id]){pointer-events:none}
#geomap path:not(:hover){stroke:#222}
#geomap path:hover{position:relative;z-index:999;stroke:#fff;stroke-width:3px;stroke-dasharray:1,2}
#geomap .count_1{fill:#630}
#geomap .count_10{fill:#840}
#geomap .count_50{fill:#a60}
#geomap .count_100{fill:#f90}
#geomap .count_200{fill:#f70}
#geomap .count_300{fill:#f50}
#geomap .count_400{fill:#f30}
#geomap .count_500{fill:#f00}
#geomap #countries{animation:fadein .25s ease .75s both}

/* tooltip */
#geomap #mapTooltip{padding:2px 5px 3px;max-width:20rem;width:max-content;line-height:1.4;text-align:left;font-size:7px;font-weight:500;color:#222;border-radius:2px;border:1px solid rgb(192,64,0);border-radius:0px;box-shadow:0 0 0 1px #ffe8 inset,0 0 0 1px #510,2px 2px 2px #0003;background:linear-gradient(#ffd,#ffb);animation:fadein 20ms ease 0s both}
#geomap #mapTooltip.hidden{animation:fadeout 40ms ease 0s both}
#netdbRouterMap foreignObject b{font-weight:700;color:#222!important}
#mapTooltip>span{display:inline-block}
#geomap #mapTooltip .mapflag{margin:-2px 0 0 1px;display:inline-block;vertical-align:middle}

/* console elements */
[id^="legend_"]{margin:4px;padding:4px 8px 4px 34px;width:30px;display:block;position:relative;text-align:right;font-weight:600;color:#222;border:1px solid #222;background:#ffec}
.legend_color {width:24px;display:inline-block;position:absolute;left:1px;top:1px;bottom:1px}
#legend_1 .legend_color{background:#630}
#legend_10 .legend_color{background:#840}
#legend_50 .legend_color{background:#a60}
#legend_100 .legend_color{background:#f90}
#legend_200 .legend_color{background:#f70}
#legend_300 .legend_color{background:#f50}
#legend_400 .legend_color{background:#f30}
#legend_500 .legend_color{background:#f00}
#netdbmap{position:relative}
#netdbRouterMap{padding:0;position:relative}
#netdbmapLegend{position:absolute;bottom:20px;left:20px;display:inline-block}

@keyframes fadein{from{opacity:0}to{opacity:1}}
@keyframes fadeout{from{opacity:1}to{opacity:0}}