name: Java CI

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: PackageInstall
        run: |
          echo "Installing gettext, ant-contrib, parallel and uglifyjs..."
          sudo apt install -y gettext ant-contrib parallel uglifyjs
          echo "gettext installation completed."

      - uses: actions/checkout@v4

      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'

      - name: Build i2pupdate.zip with Ant
        run: |
          echo "Building i2pupdate.zip..."
          ant distclean updaterCompact
          echo "Build complete. Here are the files:"
          ls -al

      - name: Build installer with Ant
        run: |
          echo "Building installer..."
          ant pkg
          echo "Installer build complete. Current directory contents:"
          ls -al

      - name: Build javadocs with Ant
        run: |
          echo "Building javadocs..."
          ant javadoc-zip
          echo "Javadocs build complete. Current directory contents:"
          ls -al

      - name: Build I2PSnark standalone with Ant
        run: |
          echo "Building I2PSnark standalone..."
          ant i2psnark
          echo "I2PSnark build complete. Current directory contents:"
          ls -al

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: i2p-build-artifacts
          path: |
            i2pupdate.zip
            install.jar
            javadoc.zip
            i2psnark-standalone.zip
          retention-days: 30

      