name: Google Java Format

on:
  push:
    branches:
      - googleformat

jobs:

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: axel-op/googlejavaformat-action@v5
        with:
          args: "--skip-sorting-imports --replace"
          files-excluded: "Strings.java|CoreVersion.java|Version.java"
